<!-- Top Toolbar -->
<mat-toolbar color="primary" style="height: 56px; padding: 0 12px;">

  <button type="button" mat-icon-button (click)="toggleSideNav()" matTooltip="Menu" class="shiny">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <span matLine class="text-truncate" style="margin-left: 1rem; margin-right: 1rem;">
    <!-- <img src="{{ baseUrl }}/assets/img/favicon.png" width="32px" /> -->
    {{ this.PI.getHeaderTitle }}
  </span>

  <span class="spacer"></span>

  <button type="button" mat-stroked-button matTooltip="Points" *ngIf="ROUTER.url.startsWith('/nihongo') && GS.isDesktop">
    <mat-icon fontIcon="sports_score" class="me-1"></mat-icon>
    {{ myPoints }}
  </button>

  <button type="button" class="animate__animated animate__rubberBand animate__infinite animate__slower" mat-icon-button (click)="toggleDelete()" matTooltip="Hapus Data" *ngIf="canDelete">
    <mat-icon fontIcon="delete"></mat-icon>
  </button>

  <button type="button" class="animate__animated animate__headShake animate__infinite animate__slower" mat-icon-button (click)="toggleReport()" matTooltip="Lapor Pelanggaran" *ngIf="canReport">
    <mat-icon fontIcon="flag"></mat-icon>
  </button>

  <button type="button" class="animate__animated animate__tada animate__infinite animate__slower" mat-icon-button (click)="toggleWeather()" matTooltip="Weather Effect" *ngIf="GS.weatherEffect">
    <mat-icon fontIcon="filter_vintage"></mat-icon>
  </button>

  <button type="button" class="animate__animated animate__flash animate__infinite animate__slower" mat-icon-button (click)="toggleDarkTheme()" matTooltip="Ganti Warna">
    <mat-icon fontIcon="nights_stay"></mat-icon>
  </button>

  <button type="button" mat-icon-button (click)="openLiveChat()" matTooltip="Obrolan">
    <mat-icon fontIcon="forum" [matBadge]="SS.messageChatUnreadCount" matBadgePosition="before" [matBadgeColor]="'warn'"></mat-icon>
  </button>

  <button type="button" mat-icon-button (click)="openAdminNavigation()" *ngIf="ROUTER.url.startsWith('/admin-mod/')">
    <mat-icon fontIcon="apps"></mat-icon>
  </button>

  <button type="button" class="animate__animated animate__heartBeat animate__infinite animate__slower" mat-icon-button (click)="openSearch()" matTooltip="Pencarian">
    <mat-icon fontIcon="search"></mat-icon>
  </button>

  <button type="button" mat-icon-button (click)="reloadPage()" *ngIf="!SS.mySocket?.id" matTooltip="Refresh">
    <mat-icon fontIcon="replay"></mat-icon>
  </button>

</mat-toolbar>