<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Belajar Bahasa Jepang</b>
          </h2>
        </div>
        <div class="col-12">
          <app-banner-nihongo></app-banner-nihongo>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Asah & Uji Kemampuan</b>
          </h2>
        </div>
        <div class="col-12">
          <div class="row px-3">
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 p-2" *ngFor="let t of testNihongo">
              <mat-card class="{{ t.name == 'Hiragana' || t.name == 'Katakana' ? 'gradient-border' : (
                  t.name.startsWith('JLPT') ? 'rgb-border' : (
                    t.name == 'All Kanji' ? 'gradient-border rgb-border' : ''
                  )
                ) }}">
                <mat-card-header class="me-0" routerLink="/nihongo/{{ t.url }}" style="cursor: pointer;">
                  <div mat-card-avatar style="background-size: cover; background-color: whitesmoke"
                    [style.background-image]="'url(' + (t.image_url || '') + ')'">
                    <mat-icon style="font-size: 300%; color: black" *ngIf="t.icon">{{ t.icon }}</mat-icon>
                  </div>
                  <mat-card-title class="text-{{ gs.isDarkMode ? 'warning' : 'primary' }} mb-1" style="cursor: pointer;">
                    <h3 class="mb-0">{{ t.name }}</h3>
                  </mat-card-title>
                  <mat-card-subtitle class="mb-0">{{ t.letter }}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <app-material-tab (tableRowClicked)="openModule($event)" (paginatorClicked)="onPaginatorClicked($event)"
            [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"></app-material-tab>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top">
        <div class="col-12">
          <app-banner-discord></app-banner-discord>
          <app-stats-server></app-stats-server>
        </div>
      </div>
    </div>
  </div>

</div>