<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container" *ngIf="newsData">

  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top pt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <img src="{{ newsData.image_url }}" class="w-100" />
            </div>
            <div class="col-12 p-3">
              <app-material-chip (chipClicked)="openTag($event)" [chipData]="chipData"></app-material-chip>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="sticky-top bg-light">
          <div class="col-12">
            <h2 class="pt-3 m-0">
              <b class="text-secondary">{{ newsData.title }}</b>
            </h2>
          </div>
          <div class="col-12">
            <hr class="my-1 border-bottom-dotted" style="height: 4px; background: url(/assets/img/stripe.png);" />
          </div>
          <div class="col-12">
            <h5 class="pb-3 m-0 text-secondary">
              Oleh ::
              <a href="/user/{{ newsData.user_.username }}" class="text-decoration-none">
                {{ newsData.user_.username }}
              </a>
              :: {{ newsData.created_at | date:'long' }}
            </h5>
          </div>
        </div>
        <div class="col-12 pt-3 mt-3" [innerHTML]="newsData.content"></div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <app-material-tab></app-material-tab>
    </div>
  </div>

</div>