<div class="container-fluid p-0">
  <div class="wrapper">
    <ul class="bg-bubbles align-items-center p-0">
      <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
      <div class="row align-items-center h-100">
        <div class="col-12 mx-auto">
          <div class="container">
            <h2 class="mb-1" style="line-height: normal;">
              Admin & Mod Panel List
            </h2>
            <p class="mb-0">Halaman Khusus Orang Dalam ...</p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-12">
      <div class="row px-3">
        <div class="col-12 col-md-6 col-xl-3 p-2" *ngFor="let m of adm.menuList">
          <mat-card>
            <mat-card-header routerLink="/admin-mod/{{ m.url }}" style="cursor: pointer;">
              <div mat-card-avatar style="background-size: cover;"
                [style.background-image]="'url(' + (m.image_url || '') + ')'">
                <mat-icon style="font-size: 300%;" *ngIf="m.icon">{{ m.icon }}</mat-icon>
              </div>
              <mat-card-title class="text-warning mb-1" style="cursor: pointer;">
                <h3 class="mb-0">{{ m.name }}</h3>
              </mat-card-title>
              <mat-card-subtitle class="mb-0">{{ m.deskripsi }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>