<div class="container-fluid p-0">
  <div class="wrapper">
    <ul class="bg-bubbles align-items-center p-0">
      <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
      <div class="row align-items-center h-100">
        <div class="col-12 mx-auto">
          <div class="container text-light">
            <h2 class="mb-1" style="line-height: normal;">
              {{ currentUser.kartu_tanda_penduduk_.nama }} :: {{ currentUser.role }}
            </h2>
            <p class="mb-0">Admin & Mod Panel List, Halaman Khusus Orang Dalam ...</p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-12">
      <div class="row px-3">
        <div class="col-12 col-md-6 col-xl-3 p-2" *ngFor="let m of ADM.menuList">
          <mat-card class="gradient-border rgb-border">
            <mat-card-header routerLink="/admin-mod/{{ m.url }}" style="cursor: pointer;">
              <div mat-card-avatar style="background-size: cover;"
                [style.background-image]="'url(' + (m.image_url || '') + ')'">
                <mat-icon style="font-size: 300%;" *ngIf="m.icon">{{ m.icon }}</mat-icon>
              </div>
              <mat-card-title class="text-warning mb-1" style="cursor: pointer;">
                <h3 class="mb-0">{{ m.name }}</h3>
              </mat-card-title>
              <mat-card-subtitle class="mb-0">{{ m.deskripsi }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div class="row" *ngIf="settings">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Web & Server Configuration</b>
          </h2>
        </div>
        <div class="col-12">
          <div class="row px-3">
            <mat-slide-toggle class="my-2 col-12 col-md-6 col-xl-3" [disabled]="!SS.mySocket?.id"
             *ngFor="let s of settings | keyvalue" [(ngModel)]="settings[s.key]" (change)="toggleSetting(s.key, $event.checked)">
              {{ s.key }} - {{ s.value }}
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="cronJobs.length > 0">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Cron & Task Scheduler</b>
          </h2>
        </div>
        <div class="col-12">
          <div class="row px-3">
            <mat-selection-list [multiple]="false" class="p-0">
              <mat-grid-list [cols]="GS.gridListBreakpoint" rowHeight="72px">
                <mat-grid-tile *ngFor="let t of cronJobs">
                  <mat-list-option (click)="toggleCronJob(t)" class="text-{{ t.running ? 'warning' : 'danger' }}">
                    <mat-icon mat-list-icon class="ps-3">update</mat-icon>
                    <h4 matLine>{{ t.id }}</h4>
                    <p matLine>
                      last: {{ t.last_date | date:'d MMMM y, HH:mm:ss z' }}
                      <br />
                      next: {{ t.next_date | date:'d MMMM y, HH:mm:ss z' }}
                    </p>
                  </mat-list-option>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-selection-list>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Request & Response Logs</b>
          </h2>
        </div>
        <mat-form-field class="p-3 col-12" appearance="outline" [color]="'accent'">
          <mat-label>Request & Response Logs</mat-label>
          <textarea matInput rows="10" [(ngModel)]="SS.serverLog"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>