<!-- Bottom Toolbar -->
<mat-toolbar color="primary" style="height: 32px; padding: 0 12px;">
  <span style="font-size: small;">
    <a href="https://github.com/bifeldy/Hikki" target="_blank" style="text-decoration: none; color: whitesmoke;">
      <div style="display: inline-block; transform: rotateY(180deg);">&copy;</div>
      <div style="display: inline-block;">&nbsp; 2013 | v1.0</div>
    </a>
  </span>
  <span class="spacer"></span>
  <span style="font-size: small;">
    <a href="https://steamcommunity.com/id/Bifeldy" target="_blank" style="text-decoration: none; color: whitesmoke;">
      Dengan 💘 Bifeldy
    </a>
  </span>
</mat-toolbar>