<form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
  <div class="container">
    <div class="profile-info align-items-center" style="top: 64px; position: relative;">
      <div class="row py-3 px-2">

        <!-- Information -->
        <div class="col-md-4 col-xl-3 px-3">
          <div class="row sticky-top pt-3">
            <div class="col-12">
              <img class="w-100" src="{{ image_photo }}" />
              <mat-form-field appearance="outline" class="pt-3 w-100" [color]="'accent'">
                <mat-label>Profile Image</mat-label>
                <ngx-mat-file-input class="w-100" (change)="uploadPhotoImage($event, photoImage)" #photoImage
                  [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                <mat-icon fontIcon="image" matSuffix></mat-icon>
              </mat-form-field>
              <mat-error class="px-3 w-100">
                <small>
                  <div *ngIf="imagePhotoLimitExceeded">Ukuran Upload Melebihi Batas {{ imagePhotoLimitExceeded | bytes }} !</div>
                  <div *ngIf="imagePhotoErrorText">{{ imagePhotoErrorText }}</div>
                </small>
              </mat-error>
            </div>
            <div class="col-12 mb-4" *ngIf="imagePhoto && !fg.value.image_photo">
              <button type="button" mat-raised-button class="w-100" color="primary" [disabled]="submitted" (click)="submitPhotoImage()">
                <mat-icon fontIcon="add_photo_alternate" class="me-1"></mat-icon>
                Unggah
              </button>
            </div>
            <div class="col-12 p-3">
              <mat-slide-toggle formControlName="private" matTooltip="Hanya Tampilkan Informasi Profil">
                Jadikan Private, Sembunyikan Aktivitas
              </mat-slide-toggle>
            </div>
            <div class="col-12 p-3 text-warning">
              * Jika ingin mengubah <i>username</i> silahkan menghubungi Admin menggunakan surel
              <span class="text-success" style="cursor: pointer;" (click)="changeUname()">{{ userData.username }}@{{ ENV.domain }}</span>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="col-md-8 col-xl-9 pt-3">
          <div class="row py-3 px-0 profile-height-large">
            <!--
              <h1 class="m-0 mt-auto">
                <b>{{ userData.kartu_tanda_penduduk_.nama }}</b>
              </h1>
            -->
          </div>
          <div class="row py-3">
            <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
              <mat-label>Nama Lengkap</mat-label>
              <input matInput formControlName="nama" placeholder="Nama Lengkap" />
              <mat-icon fontIcon="wysiwyg" matSuffix></mat-icon>
              <mat-error>
                <div *ngIf="fg.get('nama').hasError('required')">Nama Tidak Boleh Kosong</div>
                <div *ngIf="fg.get('nama').hasError('pattern')">Nama Hanya Boleh Huruf Standar Papan Ketik</div>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="px-3 pt-3 w-100" [color]="'accent'">
              <mat-label>Cover Image</mat-label>
              <ngx-mat-file-input class="w-100" placeholder="Basic Input" (change)="uploadCoverImage($event, coverImage)" #coverImage
                [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
              <mat-icon fontIcon="image" matSuffix></mat-icon>
            </mat-form-field>
            <mat-error class="px-3 w-100">
              <small>
                <div *ngIf="imageCoverLimitExceeded">Ukuran Upload Melebihi Batas {{ imageCoverLimitExceeded | bytes }} !</div>
                <div *ngIf="imageCoverErrorText">{{ imageCoverErrorText }}</div>
              </small>
            </mat-error>
            <div class="col-12 p-3" *ngIf="imageCover && !fg.value.image_cover">
              <button type="button" mat-raised-button class="w-100" color="primary" [disabled]="submitted" (click)="submitCoverImage()">
                <mat-icon fontIcon="add_photo_alternate" class="me-1"></mat-icon>
                Unggah
              </button>
            </div>
            <angular-editor class="p-3 w-100" formControlName="description" [config]="GS.angularEditorConfig"></angular-editor>
            <mat-form-field appearance="outline" class="p-3 w-100" [color]="'accent'">
              <mat-label>Konfirmasi Kata Sandi</mat-label>
              <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="old_password" required
                placeholder="Password Sekarang" autocomplete="current-password" />
              <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
                <mat-icon [fontIcon]="passwordHide ? 'visibility_off' : 'visibility'"></mat-icon>
              </button>
              <mat-error>
                <div *ngIf="fg.get('old_password').hasError('required')">Password Tidak Boleh Kosong</div>
                <div *ngIf="fg.get('old_password').hasError('minlength')">Password Minimal 8 Huruf</div>
                <div *ngIf="fg.get('old_password').hasError('pattern')">Password Hanya Boleh Huruf Standar Papan Ketik</div>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="p-3 w-100" [color]="'accent'">
              <mat-label>Ubah Kata Sandi</mat-label>
              <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="new_password"
                placeholder="Isi Jika Ingin Ubah Password Baru" autocomplete="new-password" />
              <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
                <mat-icon [fontIcon]="passwordHide ? 'visibility_off' : 'visibility'"></mat-icon>
              </button>
              <mat-error>
                <div *ngIf="fg.get('new_password').hasError('minlength')">Password Minimal 8 Huruf</div>
                <div *ngIf="fg.get('new_password').hasError('pattern')">Password Hanya Boleh Huruf Standar Papan Ketik</div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row gy-3">
                <div class="col g-0"></div>
                <div class="col-12 col-md-3">
                  <a mat-stroked-button routerLink="../" class="w-100" [disabled]="submitted">
                    <mat-icon fontIcon="undo" class="me-1"></mat-icon>
                    Batal
                  </a>
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" mat-flat-button color="accent" class="w-100" [disabled]="submitted || fg.invalid || !fg.dirty">
                    Simpan
                    <mat-icon fontIcon="save" class="ms-1"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="profile-banner profile-banner-1 align-items-center" [style.background-image]="'url(' + image_cover + ')'"></div>
    <div class="profile-banner profile-banner-2 align-items-center"></div>
  </div>
</form>
