<div class="row">
  <div class="col-12 sticky-top bg-bifeldy">
    <h2 class="pt-3 border-bottom-dotted">
      <b class="text-bifeldy">Statistik Server</b>
    </h2>
  </div>
  <div class="col-12" matTooltip="Diperbarui Beberapa Menit Sekali">
    <p class="px-2 text-truncate">
      Wallet ::
      <span class="gradient-text">
        {{ SS.statsServer.billing | currency:'Rp ':'symbol':'1.2-2' }}
      </span>
    </p>
    <p class="px-2 text-truncate">
      Total Storage ::
      <span class="gradient-text">
        {{ SS.statsServer.storage | bytes:2 }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.github?.sha">
      Portal ::
      <span class="text-success">
        {{ SS.github?.sha }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.github?.commit?.author?.date">
      Date ::
      <span class="text-success">
        {{ SS.github?.commit?.author?.date | date:'d MMM y, hh:mm:ss a z' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.github?.commit?.message">
      Message ::
      <span class="text-warning">
        {{ SS.github?.commit?.message }}
      </span>
    </p>
    <p class="px-2 text-truncate">
      Server ::
      <span class="text-warning">
        {{ currentServer?.isMaintenance ? 'Dalam Perbaikan' : 'Berjalan Normal' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.mySocket">
      Socket ::
      <span class="text-success">
        {{ SS.mySocket?.id ? SS.mySocket.id : 'Sambungan Terputus' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.latency">
      Ping Latency ::
      <span class="text-{{ SS.latency > 75 ? 'warning' : 'success' }}">
        {{ SS.latency }} ms
      </span>
    </p>
    <p class="px-2 text-truncate">
      Web Nodes ::
      <span class="text-success">
        {{ SS.statsServer.nodes }} Pengunjung
      </span>
    </p>
    <p class="px-2 text-truncate">
      Torrent Peers ::
      <span class="text-success">
        {{ SS.statsServer.peers }} Koneksi
      </span>
    </p>
    <p class="px-2 text-truncate">
      CPUs Load ::
      <span class="text-warning">
        {{ SS.statsServer.cpus | number:'1.2-2' }} %
      </span>
    </p>
    <p class="px-2 text-truncate">
      RAM Usage ::
      <span class="text-warning">
        {{ SS.statsServer.mem_ram | bytes:2 }}
      </span>
    </p>
    <p class="px-2 text-truncate">
      Disk IO (/s) ::
      <span class="text-warning">
        {{ SS.statsServer.disk_io | bytes:2 }}
      </span>
    </p>
    <p class="px-2 text-truncate">
      Net UD (/s) ::
      <span class="text-warning">
        {{ SS.statsServer.net_tx | bytes:2 }} / {{ SS.statsServer.net_rx | bytes:2 }}
      </span>
    </p>
  </div>
</div>