[submodule "projects/mani-site/src/email_worker_parser"]
  path = projects/mani-site/src/email_worker_parser
  url = https://github.com/bifeldy/email_worker_parser.git
[submodule "projects/mani-site/src/crawler_worker"]
  path = projects/mani-site/src/crawler_worker
  url = https://github.com/bifeldy/crawler_worker.git
