[submodule "src/crawler_worker"]
	path = src/crawler_worker
	url = https://github.com/bifeldy/crawler_worker.git
[submodule "src/email_worker_parser"]
	path = src/crawler_worker
	url = https://github.com/bifeldy/email_worker_parser.git
