<div class="container-fluid align-items-center w-100 h-100">
  <div class="row align-items-center h-100 m-0">
    <div class="col-12 col-md-10 m-auto py-3">
      <div class="row rgb-border rounded bg-bifeldy">
        <div class="col-lg-5 col-md-3 ms-auto p-0" [ngStyle]="{
          'background-position': 'center',
          'background-size': 'cover',
          'background-image': 'url(' + verifyImg + ')'
        }"></div>
        <div class="col-lg-7 col-md-9 me-auto p-0">
          <div class="card bg-transparent border-0">
            <div class="card-body p-0">
              <div class="text-center p-3">
                <img class="mb-4" src="{{ ENV.baseUrl }}/assets/img/logo/verify.png" style="max-width: 128px;" />
                <h1 class="h3 mb-3 font-weight-normal">Yuhu~, Ayo Verifikasi! >_<"</h1>
                <p class="text-success">Verifikasi akunmu dan dapatkan fitur menarik lainnya~</p>
              </div>
              <div class="text-center p-3">
                <p>
                  === <i>Connect With</i> Discord (?) === <br />
                  Cukup dengan menghubungkan akun kamu. <br />
                  Lalu kirimkan kode yang muncul disini ke
                  <a href="{{ ENV.discord.join_url }}" target="_blank" class="text-decoration-none text-warning">
                    <i>Channel</i> Khusus BOT
                  </a>. <br />
                  Status akunmu akan berubah menjadi terverifikasi. <br />
                  Akun terverifikasi selama akses ke Discord tersambung. <br />
                  Dimohon untuk tidak <i>Revoke</i> akses. <br />
                  <span class="gradient-text">
                    Akun Discord akan mendapatkan <i>Role</i> khusus.
                  </span> <br />
                  <br />
                  === <i>Connect With</i> Google (?) === <br />
                  Cukup dengan menghubungkan akun kamu. <br />
                  Lalu buka tautan yang dikirimkan ke surelmu. <br />
                  Status akunmu akan berubah menjadi terverifikasi. <br />
                  Akun terverifikasi selama akses ke Google tersambung. <br />
                  Dimohon untuk tidak <i>Revoke</i> akses. <br />
                  <br />
                  .: Alasan pake ginian, biar gak ada BOT :. <br />
                  ~ Sewaktu-waktu dapat hilang, harus verifikasi ulang ~ <br />
                  <br />
                  Terima kasih.
                </p>
              </div>
              <div class="text-center p-3">
                <a class="m-1" mat-raised-button color="primary" href="{{ ENV.baseUrl }}/api/discord-verifikasi" target="_self">
                  <mat-icon fontIcon="link" class="me-1"></mat-icon>
                  Discord
                </a>
                <a class="m-1" mat-raised-button color="primary" href="{{ ENV.baseUrl }}/api/google-verifikasi" target="_self">
                  <mat-icon fontIcon="link" class="me-1"></mat-icon>
                  Google
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
