<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">

  <!-- Detail -->
  <div class="row px-3">
    <div class="col-12">
      <form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
        <div class="row mt-3 mb-3">
          <div class="col-12 sticky-top bg-bifeldy">
            <h2 class="pt-3 border-bottom-dotted">
              <span class="float-end text-decoration-none text-warning" style="font-size: small; cursor: pointer;" (click)="toggleDetailMode()">
                {{ detailMode ? 'Sederhana' : 'Lengkap' }}
              </span>
              <b class="text-bifeldy">Tambah Berkas Baru</b>
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-5 col-xl-4 p-3">
                <div class="row">
                  <div class="col-12" *ngIf="detailMode">
                    <img class="w-100 border" [src]="image_url" />
                    <mat-form-field appearance="outline" class="pt-3 w-100" [color]="'accent'">
                      <mat-label>Gambar Untuk Embed SEO</mat-label>
                      <ngx-mat-file-input class="w-100" (change)="uploadImage($event, gambar)" #gambar [disabled]="fg.value.image"
                        [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                      <mat-icon matSuffix>image</mat-icon>
                    </mat-form-field>
                    <mat-error class="px-3 w-100">
                      <small>
                        <div *ngIf="imageLimitExceeded">Ukuran Upload Melebihi Batas {{ imageLimitExceeded | bytes }} !</div>
                        <div *ngIf="imageErrorText">{{ imageErrorText }}</div>
                      </small>
                    </mat-error>
                  </div>
                  <div class="col-12 mb-4" *ngIf="image && !fg.value.image && detailMode">
                    <button mat-raised-button class="w-100" color="primary" type="button" [disabled]="submitted" (click)="submitImage()">
                      <mat-icon class="me-1">add_photo_alternate</mat-icon>
                      Unggah
                    </button>
                  </div>
                  <div class="col-12 p-3" *ngIf="AS.currentUserSubject?.value?.verified">
                    <mat-slide-toggle formControlName="private" matTooltip="Hanya diakses melalui profil dan/atau url">
                      Jadikan Private, Akses Hanya Dengan URL
                    </mat-slide-toggle>
                  </div>
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Jenis Proyek</mat-label>
                    <mat-select formControlName="projectType_id" placeholder="Anime / Drama" required>
                      <mat-option *ngFor="let p of projectList" [value]="p.id">{{ p.name }}</mat-option>
                    </mat-select>
                    <mat-error>
                      <div *ngIf="fg.get('projectType_id').hasError('required')">Jenis Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('projectType_id').hasError('pattern')">Jenis Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 w-100" *ngIf="berkasType.toLowerCase().includes('anime')" [color]="'accent'">
                    <mat-label>Anime Terkait</mat-label>
                    <input matInput formControlName="anime_id" placeholder="Full Metal Alchemist" [matAutocomplete]="autoCompleteAnime" (keyup)="resetSelectedAnime()" />
                    <mat-icon matSuffix>short_text</mat-icon>
                    <mat-autocomplete #autoCompleteAnime="matAutocomplete">
                      <mat-option *ngIf="isLoading" class="is-loading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let a of filteredAnime" [value]="a.id" class="px-1" (click)="filterAnimeSelected(a)">
                          <img src="{{ a.image_url }}" style="border-radius: 0; height: 40px; width: 30px; object-fit: cover;" class="me-1" />
                          <span class="ms-1">{{ a.id }} :: {{ a.media_type?.toUpperCase() }} :: {{ a.title }}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                    <small *ngIf="fg.get('anime_name').value" class="text-warning">{{ fg.get('anime_name').value }}</small>
                    <mat-error>
                      <div *ngIf="fg.get('anime_id').hasError('required')">ID Anime Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('anime_id').hasError('pattern')">ID Anime Hanya Boleh Angka</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 w-100" *ngIf="berkasType.toLowerCase().includes('dorama')" [color]="'accent'">
                    <mat-label>Dorama Terkait</mat-label>
                    <input matInput formControlName="dorama_id" placeholder="Flying Colors" [matAutocomplete]="autoCompleteDorama" (keyup)="resetSelectedDorama()" />
                    <mat-icon matSuffix>short_text</mat-icon>
                    <mat-autocomplete #autoCompleteDorama="matAutocomplete">
                      <mat-option *ngIf="isLoading" class="is-loading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let d of filteredDorama" [value]="d.mdl_id" class="px-1" (click)="filterDoramaSelected(d)">
                          <img src="{{ d.image_url }}" style="border-radius: 0; height: 40px; width: 30px; object-fit: cover;" class="me-1" />
                          <span class="ms-1">{{ d.mdl_id }} :: {{ d.title }}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                    <small *ngIf="fg.get('dorama_name').value" class="text-warning">{{ fg.get('dorama_name').value }}</small>
                    <mat-error>
                      <div *ngIf="fg.get('dorama_id').hasError('required')">ID Dorama Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('dorama_id').hasError('pattern')">ID Dorama Hanya Boleh Angka</div>
                    </mat-error>
                  </mat-form-field>
                  <div class="col-12 p-3">
                    <mat-divider></mat-divider>
                  </div>
                  <div formArrayName="fansub_list">
                    <div *ngFor="let fs of getFansubControl.controls; let i = index">
                      <div class="row" [formGroupName]="i">
                        <mat-form-field appearance="outline" class="p-3 w-100" [color]="'accent'">
                          <mat-label>Fansub Terkait</mat-label>
                          <input matInput formControlName="fansub_id" placeholder="NamaFansub" [matAutocomplete]="autoCompleteFansub" (keyup)="resetSelectedFansub(i)" required />
                          <mat-icon matSuffix *ngIf="fs.get('fansub_id').value || i === 0">short_text</mat-icon>
                          <button mat-button matSuffix mat-icon-button (click)="removeFansub(i)" *ngIf="!fs.get('fansub_id').value && i > 0">
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-autocomplete #autoCompleteFansub="matAutocomplete">
                            <mat-option *ngIf="isLoading" class="is-loading">
                              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </mat-option>
                            <ng-container *ngIf="!isLoading">
                              <mat-option *ngFor="let f of filteredFansub" [value]="f.id" class="px-1" (click)="filterFansubSelected(f, i)">
                                <img src="{{ f.image_url }}" style="border-radius: 0; height: 40px; width: 40px; object-fit: cover;" class="me-1" />
                                <span class="ms-1">{{ f.slug }} :: {{ f.name }}</span>
                              </mat-option>
                            </ng-container>
                          </mat-autocomplete>
                          <small class="text-warning">{{ fs.get('fansub_name').value }}</small>
                          <mat-error>
                            <div *ngIf="fs.get('fansub_id').hasError('required')">ID Fansub Tidak Boleh Kosong</div>
                            <div *ngIf="fs.get('fansub_id').hasError('pattern')">ID Fansub Hanya Boleh Angka</div>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-4">
                    <div class="row">
                      <div class="col"></div>
                      <div class="col pb-3">
                        <button mat-raised-button class="w-100" color="primary" type="button" [disabled]="submitted" (click)="addFansub()">
                          <mat-icon class="me-1">add</mat-icon>
                          Tambah Fansub
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-xl-8 pt-3">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Nama Berkas</mat-label>
                    <input matInput formControlName="name" placeholder="[Fansub] Judul Anime - 00 [BD 4K x265 FLAC][CRC32].mkv" required />
                    <mat-icon matSuffix>wysiwyg</mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('name').hasError('required')">Nama Berkas Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('name').hasError('pattern')">Nama Berkas Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                  <angular-editor class="p-3 w-100" formControlName="description" [config]="GS.angularEditorConfig" *ngIf="detailMode"></angular-editor>
                </div>
                <div class="row">
                  <div class="col-12 p-3">
                    <mat-divider></mat-divider>
                  </div>
                </div>
                <div *ngIf="AS.currentUserSubject?.value?.verified; then ddlVerified; else ddlNotVerified;"></div>
                <ng-template #ddlVerified>
                  <div class="row">
                    <mat-form-field appearance="outline" class="px-3 pt-3 col" [color]="'accent'">
                      <mat-label>Upload Lampiran Berkas -- DDL</mat-label>
                      <ngx-mat-file-input class="w-100" (change)="uploadAttachment($event, ddl)" #ddl [disabled]="attachmentSelected !== null"
                        [accept]="fileTypeAttachmentAllowed" uploadx></ngx-mat-file-input>
                      <mat-icon matSuffix>attach_file</mat-icon>
                    </mat-form-field>
                    <mat-error class="px-4 w-100">
                      <small>
                        <div *ngIf="attachmentLimitExceeded">Ukuran Upload Melebihi Batas {{ attachmentLimitExceeded | bytes }} !</div>
                        <div *ngIf="attachmentErrorText">{{ attachmentErrorText }}</div>
                      </small>
                    </mat-error>
                  </div>
                  <div class="row mb-4" *ngFor="let item of uploads$ | async">
                    <div class="col">
                      <div class="px-3">
                        {{ item.status }} :: {{ item.progress }}% @ {{ item.speed | bytes }}/s
                        <br />
                        <mat-progress-bar [mode]="'determinate'" [value]="item.progress"></mat-progress-bar>
                      </div>
                    </div>
                    <div class="col-6 col-lg-4">
                      <button mat-raised-button class="w-100" color="primary" type="button"
                        [disabled]="submitted || item.status === 'complete' || item.status === 'uploading'" (click)="submitAttachment(item)">
                        <mat-icon class="me-1">attachment</mat-icon>
                        Unggah
                      </button>
                    </div>
                  </div>
                </ng-template>
                <ng-template #ddlNotVerified>
                  <button class="w-100" mat-stroked-button color="accent" (click)="verify()">
                    <mat-icon class="me-1">enhanced_encryption</mat-icon>
                    Verifikasi Akun Untuk Upload DDL!
                  </button>
                </ng-template>
                <div class="row">
                  <div class="col-12 p-3">
                    <mat-divider></mat-divider>
                  </div>
                </div>
                <div formArrayName="download_url">
                  <div *ngFor="let dl of getDownloadUrlControl.controls; let i = index">
                    <div class="row" [formGroupName]="i" matTooltip="Silahkan Isi Alamat Website Kamu Jika Ingin Mendapatkan Traffic Pengunjung">
                      <mat-form-field appearance="outline" class="p-3 col-12 col-md-5" [color]="'accent'">
                        <mat-label>Nama Website</mat-label>
                        <input matInput formControlName="name" placeholder="Halaman Web" required />
                        <mat-icon matSuffix *ngIf="dl.get('name').value || i === 0">web</mat-icon>
                        <button mat-button matSuffix mat-icon-button (click)="removeDownloadLink(i)" *ngIf="!dl.get('name').value && i > 0">
                          <mat-icon>close</mat-icon>
                        </button>
                        <mat-error>
                          <div *ngIf="dl.get('name').hasError('required')">Web Tidak Boleh Kosong</div>
                          <div *ngIf="dl.get('name').hasError('pattern')">Web Hanya Boleh Huruf Standar Papan Ketik</div>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="p-3 col-12 col-md-7" [color]="'accent'">
                        <mat-label>Tautan Luar</mat-label>
                        <input matInput formControlName="url" placeholder="https://webshit.saya.com/01/02/halaman-post-download.html" required />
                        <mat-icon matSuffix *ngIf="dl.get('url').value || i === 0">link</mat-icon>
                        <button mat-button matSuffix mat-icon-button (click)="removeDownloadLink(i)" *ngIf="!dl.get('url').value && i > 0">
                          <mat-icon>close</mat-icon>
                        </button>
                        <mat-error>
                          <div *ngIf="dl.get('url').hasError('required')">Tautan Tidak Boleh Kosong</div>
                          <div *ngIf="dl.get('url').hasError('pattern')">Tautan Link Tidak Valid</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col"></div>
                  <div class="col"></div>
                  <div class="col"></div>
                  <div class="col pb-3">
                    <button mat-raised-button class="w-100" color="primary" type="button" [disabled]="submitted" (click)="addDownloadLink()">
                      <mat-icon class="me-1">add</mat-icon>
                      Tambah URL
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 py-3">
                <div class="row">
                  <div class="col"></div>
                  <div class="col-12 col-md-3 pb-3">
                    <a mat-stroked-button routerLink="/berkas" class="w-100" [disabled]="submitted">
                      <mat-icon class="me-1">undo</mat-icon>
                      Batal
                    </a>
                  </div>
                  <div class="col-12 col-md-3 pb-3">
                    <button mat-flat-button color="accent" type="submit" class="w-100" [disabled]="submitted || fg.invalid || attachmentSelected?.status === 'uploading'">
                      Simpan
                      <mat-icon class="ms-1">save</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>