<div class="container-fluid align-items-center w-100 h-100" [style.background-image]="'url(' + bgRegisterImg + ')'"
  style="background-size: cover; background-repeat: repeat; background-position: center; transform: rotateY(180deg);" *ngIf="fg">
  <div class="row align-items-center h-100 m-0" style="transform: rotateY(180deg);">
    <div class="col-12 col-md-10 m-auto py-3">
      <div class="row border rounded bg-bifeldy-dark">
        <div class="col-lg-7 col-md-9 me-auto p-0">
          <div class="card bg-transparent border-0">
            <div class="card-body">
              <form [formGroup]="fg" class="m-2" (ngSubmit)="onClickedSubmit()">
                <div class="text-center mb-4">
                  <img class="mb-4" src="/favicon.ico" style="transform: rotateY(180deg);" />
                  <h1 class="h3 mb-3 font-weight-normal">Hai, Selamat Datang! >_<"</h1>
                  <p class="text-warning">{{ registerInfo }}</p>
                </div>
                <div class="form-group row py-2">
                  <label for="username" class="col-md-4 col-form-label text-md-end">Nama Pengguna</label>
                  <div class="col-md-8">
                    <input type="text" id="username" class="text-light form-control {{
                        !fg.get('username').valid && fg.get('username').touched ? 'is-invalid' : ''
                      }}" placeholder="Username Minimal 5 Huruf" required autofocus formControlName="username" autocomplete="username" />
                    <span class="invalid-feedback" role="alert">
                      <strong *ngIf="fg.get('username').hasError('required')">
                        Username Tidak Boleh Kosong <br />
                      </strong>
                      <strong *ngIf="fg.get('username').hasError('minlength')">
                        Username Minimal 5 Huruf <br />
                      </strong>
                      <strong *ngIf="fg.get('username').hasError('pattern')">
                        Username Hanya Boleh Huruf Kecil Dan Angka <br />
                      </strong>
                    </span>
                    <small style="font-size: 80%; color: #dc3545;">
                      <strong *ngIf="usernameUsed">{{ usernameUsed }}</strong>
                    </small>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <label for="name" class="col-md-4 col-form-label text-md-end">Nama Lengkap</label>
                  <div class="col-md-8">
                    <input type="text" id="name" class="text-light form-control {{
                        !fg.get('name').valid && fg.get('name').touched ? 'is-invalid' : ''
                      }}" placeholder="Nama Lengkap" required autofocus formControlName="name" autocomplete="name" />
                    <span class="invalid-feedback" role="alert">
                      <strong *ngIf="fg.get('name').hasError('required')">
                        Nama Tidak Boleh Kosong <br />
                      </strong>
                      <strong *ngIf="fg.get('name').hasError('pattern')">
                        Nama Tidak Valid <br />
                      </strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <label for="email" class="col-md-4 col-form-label text-md-end">Alamat Surel</label>
                  <div class="col-md-8">
                    <input type="email" id="email" class="text-light form-control {{
                        !fg.get('email').valid && fg.get('email').touched ? 'is-invalid' : ''
                      }}" placeholder="Alamat E-Mail" required autofocus formControlName="email" autocomplete="email" />
                    <span class="invalid-feedback" role="alert">
                      <strong *ngIf="fg.get('email').hasError('required')">
                        Email Tidak Boleh Kosong <br />
                      </strong>
                      <strong *ngIf="fg.get('email').hasError('email') || fg.get('email').hasError('pattern')">
                        Email Tidak Valid <br />
                      </strong>
                    </span>
                    <small style="font-size: 80%; color: #dc3545;">
                      <strong *ngIf="emailUsed">
                        {{ emailUsed }} <br />
                      </strong>
                    </small>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <label for="password" class="col-md-4 col-form-label text-md-end">Kata Sandi</label>
                  <div class="col-md-8">
                    <input type="password" id="password" class="text-light form-control {{
                        !fg.get('password').valid && fg.get('password').touched ? 'is-invalid' : ''
                      }}" placeholder="Password Minimal 5 Huruf" required formControlName="password" autocomplete="current-password, new-password" />
                    <span class="invalid-feedback" role="alert">
                      <strong *ngIf="fg.get('password').hasError('required')">
                        Password Tidak Boleh Kosong <br />
                      </strong>
                      <strong *ngIf="fg.get('password').hasError('minlength')">
                        Password Minimal 5 Huruf <br />
                      </strong>
                      <strong *ngIf="fg.get('password').hasError('pattern')">
                        Password Hanya Boleh Huruf Standar Papan Ketik <br />
                      </strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <div class="col offset-md-4">
                    <div class="form-check">
                      <input id="agree" class="form-check-input" type="checkbox" formControlName="agree" />
                      <label class="form-check-label" for="agree">Saya Sadar Dengan Apa Yang Saya Lakukan</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <div class="col offset-md-4">
                    <re-captcha #captchaRef formControlName="g-recaptcha-response" siteKey="6Ld4Bt4UAAAAAKJQ_jfqtWdsq9BuARLHag2DBvqK"
                      (resolved)="captcha($event, captchaRef)"></re-captcha>
                  </div>
                </div>
                <div class="form-group row mb-0 py-2">
                  <div class="col-md-8 offset-md-4">
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="submitted || fg.invalid || fg.get('agree').value == false">
                          Daftar <mat-icon class="ms-1">emoji_people</mat-icon>
                        </button>
                      </div>
                      <div class="col-lg-6 col-12">
                        <a mat-stroked-button color="accent" class="w-100" type="button" routerLink="/login" [disabled]="submitted">
                          Masuk~
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-3 ms-auto p-0" [ngStyle]="{
          'background-position': 'center',
          'background-size': 'cover',
          'background-image': 'url(' + registerImg + ')'
        }" style="transform: rotateY(180deg);"></div>
      </div>
    </div>
  </div>
</div>
