<div class="container" *ngIf="fg">
  <div class="fansub-banner fansub-banner-1 align-items-center" [style.background-image]="'url(' + cover_url + ')'"></div>
  <div class="fansub-banner fansub-banner-2 align-items-center"></div>
  <div style="padding-top: 160px"></div>

  <!-- Notification -->
  <app-notifications></app-notifications>
  
  <!-- Detail -->
  <div class="row px-3">
    <div class="col-12">
      <form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
        <div class="row mt-3 mb-3">
          <div class="col-12 sticky-top bg-bifeldy">
            <h2 class="pt-3 border-bottom-dotted">
              <b class="text-bifeldy">Tambah Data Fansub Baru</b>
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-5 col-xl-4 p-3">
                <div class="row">
                  <div class="col-12">
                    <img class="w-100 border" [src]="image_url" />
                    <mat-form-field appearance="outline" class="pt-3 w-100" [color]="'accent'">
                      <mat-label>Foto</mat-label>
                      <ngx-mat-file-input class="w-100" (change)="uploadImage($event, gambar)" #gambar [disabled]="fg.value.image"
                        [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                      <mat-icon matSuffix>image</mat-icon>
                    </mat-form-field>
                    <mat-error class="px-3 w-100">
                      <small>
                        <div *ngIf="imageLimitExceeded">Ukuran Upload Melebihi Batas {{ imageLimitExceeded | bytes }} !</div>
                        <div *ngIf="imageErrorText">{{ imageErrorText }}</div>
                      </small>
                    </mat-error>
                  </div>
                  <div class="col-12" *ngIf="image && !fg.value.image">
                    <button type="button" mat-raised-button class="w-100" color="primary" [disabled]="submitted" (click)="submitImage()">
                      <mat-icon class="me-1">add_photo_alternate</mat-icon>
                      Unggah
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-xl-8 pt-3">
                <div class="row">
                  <mat-form-field appearance="outline" class="px-3 pt-3 w-100" [color]="'accent'">
                    <mat-label>Cover</mat-label>
                    <ngx-mat-file-input class="w-100" (change)="uploadCover($event, gambar_)" #gambar_ [disabled]="fg.value.cover"
                      [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                    <mat-icon matSuffix>image</mat-icon>
                  </mat-form-field>
                  <mat-error class="px-3 w-100">
                    <small>
                      <div *ngIf="coverLimitExceeded">Ukuran Upload Melebihi Batas {{ coverLimitExceeded | bytes }} !</div>
                      <div *ngIf="coverErrorText">{{ coverErrorText }}</div>
                    </small>
                  </mat-error>
                  <div class="col-12 p-3" *ngIf="cover && !fg.value.cover">
                    <button type="button" mat-raised-button class="w-100" color="primary" [disabled]="submitted" (click)="submitCover()">
                      <mat-icon class="me-1">add_photo_alternate</mat-icon>
                      Unggah
                    </button>
                  </div>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-7" [color]="'accent'">
                    <mat-label>Nama Fansub</mat-label>
                    <input matInput formControlName="name" placeholder="Fansub Jalanan" required />
                    <mat-icon matSuffix>wysiwyg</mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('name').hasError('required')">Nama Fansub Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('name').hasError('pattern')">Nama Fansub Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-5" [color]="'accent'">
                    <mat-label>Singkatan</mat-label>
                    <input matInput formControlName="slug" placeholder="Jalsub" required />
                    <mat-icon matSuffix>short_text</mat-icon>
                    <small *ngIf="slugInfo" class="text-info">
                      <div>{{ slugInfo }}</div>
                    </small>
                    <mat-error>
                      <div *ngIf="fg.get('slug').hasError('required')">Singkatan Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('slug').hasError('pattern')">Singkatan Hanya Boleh Huruf Dan 一</div>
                    </mat-error>
                  </mat-form-field>
                  <angular-editor class="p-3 w-100" formControlName="description" [config]="GS.angularEditorConfig" required></angular-editor>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-6" [color]="'accent'">
                    <mat-label>Mulai Ada Sejak</mat-label>
                    <input matInput [matDatepicker]="kalender" formControlName="born" (focus)="kalender.open()" placeholder="{{ currentDate | date:'d MMMM y' }}" required />
                    <mat-datepicker-toggle matSuffix [for]="kalender"></mat-datepicker-toggle>
                    <mat-datepicker #kalender disabled="false"></mat-datepicker>
                    <mat-error>
                      <div *ngIf="fg.get('born').hasError('required') || fg.get('born').hasError('matDatepickerParse')">Tanggal Harus Diisi Secara Valid</div>
                      <div *ngIf="fg.get('born').hasError('pattern')">Tanggal Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-6" [color]="'accent'">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="active" placeholder="Aktif / Non-Aktif" required>
                      <mat-option value="0">Tidak Aktif</mat-option>
                      <mat-option value="1">Aktif</mat-option>
                    </mat-select>
                    <mat-hint align="end">Status Kehidupan Fansub Saat Ini</mat-hint>
                    <mat-error>
                      <div *ngIf="fg.get('active').hasError('required')">Mohon Pilih Salah Satu</div>
                      <div *ngIf="fg.get('active').hasError('pattern')">Status Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Tags & Kategori</mat-label>
                    <mat-chip-list #tag>
                      <mat-chip *ngFor="let t of fg.value.tags" (removed)="removeTag(t)" color="accent" selected [removable]="true">
                        {{ t }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Label Tag / Kategori" [matChipInputSeparatorKeyCodes]="GS.separatorKeysCodes"
                        [matChipInputFor]="tag" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />
                      <mat-icon matSuffix>loyalty</mat-icon>
                    </mat-chip-list>
                    <mat-hint align="end">Isi Dengan Bebas, Pisahkan Dengan Koma</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                    <mat-label>Tautan Website</mat-label>
                    <input matInput formControlName="web" placeholder="http://www.domain.id" />
                    <mat-icon matSuffix>web</mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('web').hasError('required')">Website Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('web').hasError('pattern')">Website Link Tidak Valid</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                    <mat-label>Facebook Fanpage</mat-label>
                    <input matInput formControlName="facebook" placeholder="http://www.facebook.com" />
                    <mat-icon matSuffix>facebook</mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('facebook').hasError('pattern')">Facebook Link Tidak Valid</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                    <mat-label>Tautan Discord</mat-label>
                    <input matInput formControlName="discord" placeholder="http://www.discord.gg" />
                    <mat-icon matSuffix>
                      <img src="/assets/img/discord/{{ GS.isDarkMode ? 'white' : 'black' }}.png" width="24px" style="vertical-align: baseline;" />
                    </mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('discord').hasError('pattern')">Discord Link Tidak Valid</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                    <mat-label>Cuitan Twitter</mat-label>
                    <input matInput formControlName="twitter" placeholder="http://www.twitter.com" />
                    <mat-icon matSuffix>
                      <img src="/assets/img/twitter/{{ GS.isDarkMode ? 'white' : 'black' }}.png" width="24px" style="vertical-align: baseline;" />
                    </mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('twitter').hasError('pattern')">Twitter Link Tidak Valid</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="rssFeedAllowed">
              <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                <mat-label>URI / URL RSS v2.0 Feed</mat-label>
                <input matInput formControlName="rss_feed" placeholder="http://my-site.blogspot.com/feeds/posts/default?alt=rss" />
                <mat-icon matSuffix>rss_feed</mat-icon>
                <mat-error>
                  <div *ngIf="fg.get('rss_feed').hasError('pattern')">RSS Link Tidak Valid</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row gy-3">
                  <div class="col g-0"></div>
                  <div class="col-12 col-md-3">
                    <button type="button" mat-stroked-button class="w-100" (click)="exit()" [disabled]="submitted">
                      <mat-icon class="me-1">undo</mat-icon>
                      Batal
                    </button>
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" mat-flat-button color="accent" class="w-100" [disabled]="submitted || fg.invalid">
                      Simpan
                      <mat-icon class="ms-1">save</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>