<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy-dark pb-3">
          <h3 class="m-0 border-bottom border-primary row">
            <mat-form-field class="pt-3 col-6 col-lg-4" [color]="'accent'">
              <mat-label>Pilih Kategori</mat-label>
              <mat-select [(value)]="modeTampilan" (valueChange)="changeModeTampilan($event)">
                <mat-option value="{{ k.id }}" *ngFor="let k of kategori">{{ k.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="ms-auto pt-3 col-6 col-lg-4" [color]="'accent'" *ngIf="modeTampilan != 'hiragana' && modeTampilan != 'katakana' && modeTampilan != 'angka'">
              <mat-label>Cari ...</mat-label>
              <input matInput maxlength="200" placeholder="Ex. 自転車、ママチャリ" (keyup.enter)="applyFilter($event)" [(ngModel)]="q" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </h3>
        </div>
        <div *ngIf="(modeTampilan == 'hiragana' || modeTampilan == 'katakana') && daftarHuruf; then hirakata; else kataBendaLainnya;"></div>
        <ng-template #hirakata>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12">
                    <h2 class="pt-3 border-bottom-dotted">
                      <b class="text-bifeldy-dark">Standar</b>
                    </h2>
                  </div>
                  <div class="col-12">
                    <div class="row text-center px-3" *ngFor="let huruf of daftarHuruf.standard | keyvalue">
                      <div class="col p-1" *ngFor="let char of huruf.value">
                        <img *ngIf="char.hiragana && char.katakana" src="/assets/{{ modeTampilan }}/{{ char.romaji }}.png" class="rounded img-thumbnail" (click)="openDmak(char)" style="cursor: pointer;" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h2 class="pt-3 border-bottom-dotted">
                      <b class="text-bifeldy-dark">Lainnya</b>
                    </h2>
                  </div>
                  <div class="col-12">
                    <div class="row text-center px-3" *ngFor="let huruf of daftarHuruf.other | keyvalue">
                      <div class="col p-1" *ngFor="let char of huruf.value">
                        <img *ngIf="char.hiragana && char.katakana" src="/assets/{{ modeTampilan }}/{{ char.romaji }}.png" class="rounded img-thumbnail" (click)="openDmak(char)" style="cursor: pointer;" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12">
                    <h2 class="pt-3 border-bottom-dotted">
                      <b class="text-bifeldy-dark">Dakuon</b>
                    </h2>
                  </div>
                  <div class="col-12">
                    <div class="row text-center px-3" *ngFor="let huruf of daftarHuruf.dakuon | keyvalue">
                      <div class="col p-1" *ngFor="let char of huruf.value">
                        <img *ngIf="char.hiragana && char.katakana" src="/assets/{{ modeTampilan }}/{{ char.romaji }}.png" class="rounded img-thumbnail" (click)="openDmak(char)" style="cursor: pointer;" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h2 class="pt-3 border-bottom-dotted">
                      <b class="text-bifeldy-dark">Handakuon</b>
                    </h2>
                  </div>
                  <div class="col-12">
                    <div class="row text-center px-3" *ngFor="let huruf of daftarHuruf.handakuon | keyvalue">
                      <div class="col p-1" *ngFor="let char of huruf.value">
                        <img *ngIf="char.hiragana && char.katakana" src="/assets/{{ modeTampilan }}/{{ char.romaji }}.png" class="rounded img-thumbnail" (click)="openDmak(char)" style="cursor: pointer;" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h2 class="pt-3 border-bottom-dotted">
                      <b class="text-bifeldy-dark">Yuon</b>
                    </h2>
                  </div>
                  <div class="col-12">
                    <div class="row text-center px-3" *ngFor="let huruf of daftarHuruf.yuon | keyvalue">
                      <div class="col p-1" *ngFor="let char of huruf.value">
                        <img *ngIf="char.hiragana && char.katakana" src="/assets/{{ modeTampilan }}/{{ char.romaji }}.png" class="rounded img-thumbnail" (click)="openDmak(char)" style="cursor: pointer;" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #kataBendaLainnya>
          <div *ngIf="modeTampilan == 'angka'; then angka; else selainAngka;"></div>
          <ng-template #angka>
            <div class="col-12">
              // TODO :: Fitur Belum / Tidak Dapat Di Realisasikan
            </div>
          </ng-template>
          <ng-template #selainAngka>
            <div class="col-12">
              // TODO :: Fitur Belum / Tidak Dapat Di Realisasikan
            </div>
          </ng-template>
        </ng-template>
      </div>
      <div class="position-sticky bottom-0" *ngIf="modeTampilan != 'hiragana' && modeTampilan != 'katakana' && modeTampilan != 'angka'">
        <mat-paginator class="bg-bifeldy-dark" showFirstLastButtons [color]="'accent'" [length]="count" [pageSizeOptions]="pageSizeOptions" (page)="paginatorChanged($event)"></mat-paginator>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top">
        <div class="col-12">
          <app-banner-discord></app-banner-discord>
          <app-stats-server></app-stats-server>
        </div>
      </div>
    </div>
  </div>

</div>