<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container" *ngIf="getQuiz">

  <!-- Detail -->
  <div class="row px-0">
    <div class="col-12">
      <div class="row w-100 ps-3" style="display: inline-flex; flex-wrap: nowrap; overflow-x: hidden;">
        <div class="p-2" style="width: auto;" *ngFor="let p of participants | keyvalue: scoreOrder; let idx = index">
          <div class="card text-center bg-bifeldy-dark border-0" style="width: 64px;">
            <div class="card-body p-0">
              <div [matBadge]="p?.value?.quiz?.score" matBadgePosition="below" [matBadgeColor]="(idx == 0 ? 'warn' : (idx == 1 ? 'primary' : 'accent'))"
                class="rounded-3" style="
                  background-image: url('{{ p.value.image_url }}');
                  width: 64px;
                  height: 64px;
                  background-size: cover;
                  background-position: center;
              "></div>
              <div class="pt-1">Username #{{ p.value.username }}</div>
            </div>
          </div>
        </div>
        <div class="ms-auto p-2" style="width: auto; position: sticky; right: 0; background-color: #303030 !important">
          <div class="card text-center bg-bifeldy-dark border-0" style="width: 64px;">
            <div class="card-body p-0">
              <div class="rounded-3" style="
                  background-image: url('/favicon.ico');
                  width: 64px;
                  height: 64px;
                  background-size: cover;
                  background-position: center;
              "></div>
              <div class="pt-1">Semua Peserta</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="my-1 border-bottom-dotted" style="height: 4px; background: url(/assets/img/stripe.png);" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-xl-9 p-3 text-center">
          <div class="row">
            <div class="col-12 p-4">
              <div class="mx-auto card p-3" style="width: fit-content;">
                <div class="card-body p-3 py-5" style="font-size: 500%;">
                  {{ showOptionRomaji ? getQuiz.question.katakana : getQuiz.question.romaji }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 p-4">
              <div class="row mx-auto px-5 text-center">
                <div class="col-6 col-md-4 col-xl-2 p-2" *ngFor="let o of getQuiz.options">
                  <div class="card p-3 m-1" (click)="selectAnswer(o)">
                    <div class="card-body px-0" style="font-size: 250%;">
                      {{ showOptionRomaji ? o.romaji : o.katakana }}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-xl-2 p-2">
                  <div class="card p-3 m-1" matTooltip="Tukar Huruf" (click)="swapCharacter()">
                    <div class="card-body px-0" style="font-size: 250%;">🎌</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 d-none d-lg-block d-xl-block">
          <app-live-chat [chatOnly]="true" [forcedCurrentRoom]="true"></app-live-chat>
        </div>
      </div>
    </div>
  </div>

</div>