<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <span class="float-end text-warning" style="font-size: small; cursor: pointer;" (click)="getUserFeedComment()">
              Refresh
            </span>
            <b class="text-bifeldy">Riwayat Komentar</b>
          </h2>
        </div>
        <div class="col-12" *ngIf="feedKomentarData.length > 0; else noData;">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let fk of feedKomentarData | slice:0:5" class="h-100">
              <mat-icon mat-list-icon class="ps-3">add_comment</mat-icon>
              <a class="text-truncate text-decoration-none" routerLink="{{ fk.path }}">
                <span class="bg-bifeldy ps-3 pe-2 me-1 text-danger" style="position: absolute; right: 0;">{{ fk.created_at | dateAgo }}</span>
                <span class="text-warning">{{ fk.comment }}</span>
              </a>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <span class="float-end text-warning" style="font-size: small; cursor: pointer;" (click)="getUserFeedLikeDislike()">
              Refresh
            </span>
            <b class="text-bifeldy">Riwayat Like & Dislike</b>
          </h2>
        </div>
        <div class="col-12" *ngIf="feedLikeDislikeData.length > 0; else noData;">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let fldl of feedLikeDislikeData | slice:0:5" class="h-100">
              <mat-icon mat-list-icon class="ps-3">volunteer_activism</mat-icon>
              <a class="text-truncate text-decoration-none" [routerLink]="
                fldl.berkas_ ? '/berkas/' + fldl.berkas_?.id : (
                  fldl.fansub_ ? '/fansub/' + fldl.fansub_?.slug : (
                    fldl.user_ ? '/user/' + fldl.user_?.username : (
                      fldl.news_ ? '/news/' + fldl.news_?.id : ''
                    )
                  )
                )
              ">
                <span class="bg-bifeldy ps-3 pe-2 me-1 text-danger" style="position: absolute; right: 0;">{{ fldl.created_at | dateAgo }}</span>
                <span class="me-3 text-success">{{ fldl.type }}</span>
                <span class="me-3 text-info">{{ fldl.berkas_ ? 'Berkas' : (fldl.fansub_ ? 'Fansub' : (fldl.user_ ? 'User' : (fldl.news_ ? 'News' : ''))) }}</span>
                <span class="text-warning">{{ fldl.berkas_?.name || fldl.fansub_?.name || fldl.user_?.kartu_tanda_penduduk_?.nama || fldl.news_?.title }}</span>
              </a>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <span class="float-end text-warning" style="font-size: small; cursor: pointer;" (click)="getUserFeedVisit()">
              Refresh
            </span>
            <b class="text-bifeldy">Riwayat Kunjungan</b>
          </h2>
        </div>
        <div class="col-12" *ngIf="feedVisitData.length > 0; else noData;">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let fv of feedVisitData | slice:0:5" class="h-100">
              <mat-icon mat-list-icon class="ps-3">directions_run</mat-icon>
              <a class="text-truncate text-decoration-none" [routerLink]="
                fv.berkas_ ? '/berkas/' + fv.berkas_?.id : (
                  fv.fansub_ ? '/fansub/' + fv.fansub_?.slug : (
                    fv.user_ ? '/user/' + fv.user_?.username : (
                      fv.news_ ? '/news/' + fv.news_?.id : ''
                    )
                  )
                )
              ">
                <span class="bg-bifeldy ps-3 pe-2 me-1 text-danger" style="position: absolute; right: 0;">{{ fv.created_at | dateAgo }}</span>
                <span class="me-3 text-info">{{ fv.berkas_ ? 'Berkas' : (fv.fansub_ ? 'Fansub' : (fv.user_ ? 'User' : (fv.news_ ? 'News' : ''))) }}</span>
                <span class="text-warning">{{ fv.berkas_?.name || fv.fansub_?.name || fv.user_?.kartu_tanda_penduduk_?.nama || fv.news_?.title }}</span>
              </a>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top">
        <div class="col-12">
          <div class="row" *ngIf="AS.currentUserSubject?.value">
            <div class="col-12 sticky-top bg-bifeldy">
              <h2 class="pt-3 border-bottom-dotted">
                <b class="text-bifeldy" matTooltip="Khusus Pengguna Terverifikasi">Alamat Email</b>
              </h2>
            </div>
            <div class="col-12 mb-2">
              <a mat-button class="w-100" color="accent" matTooltip="Buka Kotak Pesan" routerLink="/mailbox">
                <mat-icon class="me-1">email</mat-icon> '{{ AS.currentUserSubject?.value?.username }}@{{ ENV.domain }}'
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 sticky-top bg-bifeldy">
              <h2 class="pt-3 border-bottom-dotted">
                <b class="text-bifeldy" matTooltip="Khusus Pengguna Terverifikasi">API Key</b>
              </h2>
            </div>
            <div class="col-12 mb-2">
              <a mat-button class="w-100" color="accent" (click)="generateNewApiKey()">
                <mat-icon class="me-1">webhook</mat-icon> Buat / Ganti API Key Baru
              </a>
              <p class="px-2 text-truncate" *ngIf="apiKey.length <= 0">
                <span class="text-success">Gunakan Tombol Diatas Untuk Membuat Baru</span>
              </p>
              <div class="my-2" *ngFor="let ak of apiKey" (click)="copyApiKey(ak)">
                <p class="ps-2 pe-2 pt-2 text-truncate my-0">
                  Nama ::
                  <span class="text-success">
                    {{ ak.name }}
                  </span>
                </p>
                <p class="ps-2 pe-2 pt-0 text-truncate my-0">
                  Origin ::
                  <span class="text-success">
                    {{ ak.ip_domain }}
                  </span>
                </p>
                <p class="ps-2 pe-2 pb-2 text-truncate my-0">
                  Key ::
                  <span class="text-success">
                    {{ ak.api_key }}
                  </span>
                </p>
                <a mat-button class="w-100" color="accent" (click)="revokeApiKey(ak); $event.stopPropagation()">
                  <mat-icon class="me-1">delete_sweep</mat-icon> Hapus Akses
                </a>
              </div>
            </div>
          </div>
          <app-banner-discord></app-banner-discord>
          <app-stats-server></app-stats-server>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #noData>
  <app-no-data class="col-12 p-3"></app-no-data>
</ng-template>