<div class="row">
  <div class="col-12 sticky-top bg-bifeldy">
    <mat-form-field class="ms-auto pt-3 col-12" [color]="'accent'">
      <mat-label>Cari Apapun Di Sini ...</mat-label>
      <input matInput maxlength="200" placeholder="Ex. ばーかー！" (keyup.enter)="applyFilter($event)" [(ngModel)]="searchResult.q" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-12">
    <div class="row" *ngIf="searchResult.beritaResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Berita</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option routerLink="/news/{{ b.id }}" *ngFor="let b of searchResult.beritaResults | slice:0:5">
            <img matListAvatar src="{{ b.image_url }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ b.title }}</h4>
            <h5 matLine>
              <span class="text-warning">{{ b.user_.username }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ b.created_at | date:'d-MM-y' }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row" *ngIf="searchResult.kanjiResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Kanji</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option (click)="openEdict(k)" *ngFor="let k of searchResult.kanjiResults | slice:0:5">
            <h4 matLine class="ms-3">
              {{ k.character }} | {{ k.v_kunyomi }}| {{ k.v_onyomi }}
            </h4>
            <h5 matLine class="ms-3">
              <span class="text-warning">N{{ k.jlpt }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ k.translate }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row" *ngIf="searchResult.animeResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Anime</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option routerLink="/anime/{{ a.mal_id }}-{{ getAnimeTitle(a.title) }}" *ngFor="let a of searchResult.animeResults | slice:0:5">
            <img matListAvatar src="{{ a.image_url }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ a.title }}</h4>
            <h5 matLine>
              <span class="text-warning">{{ a.mal_id }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ a.episodes }} Eps {{ a.type }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row" *ngIf="searchResult.doramaResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Dorama</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option routerLink="/dorama/{{ d.slug }}" *ngFor="let d of searchResult.doramaResults | slice:0:5">
            <img matListAvatar src="{{ d.thumb }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ d.title }}</h4>
            <h5 matLine>
              <span class="text-warning">{{ d.mdl_id }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ d.type }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row" *ngIf="searchResult.fansubResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Fansub</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option routerLink="/fansub/{{ f.slug }}" *ngFor="let f of searchResult.fansubResults | slice:0:5">
            <img matListAvatar src="{{ f.image_url }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ f.name }}</h4>
            <h5 matLine>
              <span class="text-warning">{{ f.active ? 'Aktif' : 'Tidak Aktif' }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ f.born | date:'d-MM-y' }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row" *ngIf="searchResult.berkasResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Berkas</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option routerLink="/berkas/{{ b.id }}" *ngFor="let b of searchResult.berkasResults | slice:0:5">
            <img matListAvatar src="{{ b.image_url }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ b.name }}</h4>
            <h5 matLine>
              <span class="text-warning">{{ b.user_.username }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ b.created_at | date:'d-MM-y' }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row" *ngIf="searchResult.penggunaResults.length > 0">
      <div class="col-12">
        <h2 class="pt-3 border-bottom-dotted">
          <b class="text-bifeldy">Pengguna</b>
        </h2>
      </div>
      <div class="col-12">
        <mat-selection-list class="pt-0" [multiple]="false">
          <mat-list-option routerLink="/user/{{ p.username }}" *ngFor="let p of searchResult.penggunaResults | slice:0:5">
            <img matListAvatar src="{{ p.image_url }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ p.kartu_tanda_penduduk_.nama }}</h4>
            <h5 matLine>
              <span class="text-warning">{{ p.id }}</span> &nbsp;
              <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ p.created_at | date:'d-MM-y' }}</span>
            </h5>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>
</div>