.card {
  position: inherit;
  display: flex;
  flex-direction: row;
  min-width: 0;
  overflow-wrap: anywhere;
  background-color: rgba(0,0,0,0) !important;
  background-clip: border-box;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.card:hover {
  color: #ffc107 !important;
}