<!-- Top Toolbar -->
<mat-toolbar color="primary" style="height: 56px; padding: 0 12px;">

  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo-title" style="margin-left: 1rem;">
    <!-- <img src="/assets/img/favicon.png" width="32px" /> -->
    {{ this.pi.getTitle }}
  </span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="openDiscord()">
    <img src="/assets/img/discord-logo.png" width="32px" />
  </button>

</mat-toolbar>