<!-- Top Toolbar -->
<mat-toolbar color="primary" style="height: 56px; padding: 0 12px;">

  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span matLine class="logo-title text-truncate" style="margin-left: 1rem;">
    <!-- <img src="/favicon.ico" width="32px" /> -->
    {{ this.pi.getTitle }}
  </span>

  <span class="spacer"></span>

  <button mat-icon-button class="ml-3" (click)="openSearch()">
    <mat-icon>search</mat-icon>
  </button>

</mat-toolbar>