<div class="container-fluid align-items-center col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6 h-100">
  <div class="row align-items-center h-100 m-0">
    <div class="col-12 col-md-10 m-auto py-3">
      <div class="row rgb-border rounded bg-bifeldy">
        <div class="col-12 me-auto p-0">
          <div class="card bg-transparent border-0">
            <div class="card-body p-0">
              <div class="text-center p-3">
                <img class="mb-4" src="{{ ENV.baseUrl }}/assets/img/logo/reset-password.png" style="max-width: 192px;" />
                <h1 class="h3 mb-3 font-weight-normal">Hikz, Akun Kamu Kenapa (?)</h1>
                <p class="text-warning">{{ resetInfo }}</p>
              </div>
              <mat-vertical-stepper #stepper [orientation]="(stepperOrientation | async)!" style="background-color: transparent;">

                <mat-step [stepControl]="fg1" [editable]="false">
                  <ng-template matStepLabel>Cari & Cek Akun</ng-template>
                  <form [formGroup]="fg1" class="m-2" *ngIf="fg1">
                    <div class="form-group row py-2">
                      <label for="userNameOrEmail" class="col-md-4 col-form-label text-md-end">Surel / Nama Pengguna</label>
                      <div class="col-md-8">
                        <input type="text" id="userNameOrEmail" class="text-bifeldy form-control {{
                            !fg1.get('userNameOrEmail').valid && fg1.get('userNameOrEmail').touched ? 'is-invalid' : ''
                          }}" placeholder="Username / E-Mail" required formControlName="userNameOrEmail" autocomplete="email, username" />
                        <span class="invalid-feedback" role="alert">
                          <strong *ngIf="fg1.get('userNameOrEmail').hasError('required')">
                            Username / Email Tidak Boleh Kosong! <br />
                          </strong>
                          <strong *ngIf="fg1.get('userNameOrEmail').hasError('pattern')">
                            Username / Email Hanya Boleh Huruf Standar Papan Ketik <br />
                          </strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group row mb-0 py-2">
                      <div class="col offset-md-4">
                        <re-captcha #captchaRef formControlName="g-recaptcha-response" [siteKey]="G_CAPTCHA_SITE_KEY"
                          (resolved)="captcha($event, captchaRef)"></re-captcha>
                      </div>
                    </div>
                    <div class="form-group row mb-0 py-2">
                      <div class="col-md-8 offset-md-4">
                        <div class="row">
                          <div class="col-12">
                            <button type="button" mat-flat-button color="primary" class="w-100" 
                              [disabled]="submitted || fg1.invalid" (click)="findAccount()">
                              Cari Akun
                              <mat-icon fontIcon="search" class="ms-1"></mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="fg2" [editable]="false">
                  <ng-template matStepLabel>Ubah Kata Sandi</ng-template>
                  <form [formGroup]="fg2" class="m-2" *ngIf="fg2">
                    <div class="form-group row py-2">
                      <label for="token" class="col-md-4 col-form-label text-md-end">Token</label>
                      <div class="col-md-8">
                        <textarea rows="3" type="text" id="token" class="text-bifeldy form-control {{
                            !fg2.get('token').valid && fg2.get('token').touched ? 'is-invalid' : ''
                          }}" placeholder="Token" required formControlName="token" autocomplete="token">
                        </textarea>
                        <span class="invalid-feedback" role="alert">
                          <strong *ngIf="fg2.get('token').hasError('required')">
                            Token Tidak Boleh Kosong <br />
                          </strong>
                          <strong *ngIf="fg2.get('token').hasError('pattern')">
                            Token Hanya Boleh Huruf Standar Papan Ketik <br />
                          </strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group row py-2">
                      <label for="password" class="col-md-4 col-form-label text-md-end">Password Baru</label>
                      <div class="col-md-8">
                        <input type="password" id="password" class="text-bifeldy form-control {{
                            !fg2.get('password').valid && fg2.get('password').touched ? 'is-invalid' : ''
                          }}" placeholder="Password Minimal 8 Huruf" required formControlName="password" autocomplete="password" />
                        <span class="invalid-feedback" role="alert">
                          <strong *ngIf="fg2.get('password').hasError('required')">
                            Password Tidak Boleh Kosong <br />
                          </strong>
                          <strong *ngIf="fg2.get('password').hasError('minlength')">
                            Password Minimal 8 Huruf <br />
                          </strong>
                          <strong *ngIf="fg2.get('password').hasError('pattern')">
                            Password Hanya Boleh Huruf Standar Papan Ketik <br />
                          </strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group row mb-0 py-2">
                      <div class="col-md-8 offset-md-4">
                        <div class="row">
                          <div class="col-12">
                            <button type="button" mat-flat-button color="primary" class="w-100"
                              [disabled]="submitted || fg2.invalid" (click)="resetAccount()">
                              Atur Ulang Akun
                              <mat-icon fontIcon="check_circle_outline" class="ms-1"></mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </mat-step>

              </mat-vertical-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
