<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-12">
      <div class="row">
        <form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
          <div class="col-12 sticky-top bg-bifeldy pb-1">
            <h2 class="pt-3 border-bottom-dotted">
              <b class="text-bifeldy">Buat Tipe Jenis Proyek Baru</b>
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-5 col-xl-4 p-3">
                <div class="row">
                  <div class="col-12">
                    <img class="w-100 border" [src]="image_url" />
                    <mat-form-field appearance="outline" class="pt-3 w-100" [color]="'accent'">
                      <mat-label>Gambar</mat-label>
                      <ngx-mat-file-input class="w-100" (change)="uploadImage($event, gambar)" #gambar [disabled]="fg.value.image"
                        [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                      <mat-icon fontIcon="image" matSuffix></mat-icon>
                    </mat-form-field>
                    <mat-error class="px-3 pb-3 w-100">
                      <small>
                        <div *ngIf="imageLimitExceeded">Ukuran Upload Melebihi Batas {{ imageLimitExceeded | bytes }} !</div>
                        <div *ngIf="imageErrorText">{{ imageErrorText }}</div>
                      </small>
                    </mat-error>
                  </div>
                  <div class="col-12" *ngIf="image && !fg.value.image">
                    <button type="button" mat-raised-button class="w-100" color="primary" [disabled]="submitted" (click)="submitImage()">
                      <mat-icon fontIcon="add_photo_alternate" class="me-1"></mat-icon>
                      Unggah
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-xl-8 p-3">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Nama</mat-label>
                    <input matInput formControlName="name" placeholder="**_BD" required />
                    <mat-icon fontIcon="short_text" matSuffix></mat-icon>
                    <mat-hint align="end">Untuk Jenis Berkas</mat-hint>
                    <mat-error>
                      <div *ngIf="fg.get('name').hasError('required')">Nama Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('name').hasError('pattern')">Nama Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Deskripsi</mat-label>
                    <input matInput formControlName="description" placeholder="Edisi Terbatas" required />
                    <mat-icon fontIcon="wysiwyg" matSuffix></mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('description').hasError('required')">Deskripsi Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('description').hasError('pattern')">Deskripsi Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12 p-3">
                <div class="row mt-3">
                  <div class="col-12">
                    <div class="row gy-3">
                      <div class="col g-0"></div>
                      <div class="col-12 col-md-3">
                        <button type="submit" mat-flat-button color="accent" class="w-100" [disabled]="submitted || fg.invalid">
                          Simpan
                          <mat-icon fontIcon="save" class="ms-1"></mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Hapus Jenis Proyek Yang Ada</b>
          </h2>
        </div>
        <div class="col-12 p-3">
          <app-material-table [tableDataColumn]="projectData.column" [tableDataRow]="projectData.row"
            (rowClicked)="openProject($event)" (buttonClicked)="action($event)"></app-material-table>
        </div>
      </div>
    </div>
  </div>

</div>