<div *ngIf="mailData" class="p-0 m-0">

  <div class="container-fluid p-0">
    <div class="wrapper" [style.background]=" GS.isDarkMode ? 'linear-gradient(to bottom, #673ab7 0%, #ee0dfd 100%)' : 'linear-gradient(to bottom, #3f51b5 0%, #ee0dfd 100%)'">
      <ul class="bg-bubbles align-items-center p-0">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <div class="row align-items-center h-100">
          <div class="col-12 mx-auto">
            <div class="container text-light">
              <h2 class="mb-1" style="line-height: normal;">
                {{ mailData.subject }}
              </h2>
              <p class="mb-0">{{ mailData.date | date:'d MMMM y, hh:mm:ss a z' }}</p>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <!-- Notification -->
  <app-notifications></app-notifications>

  <!-- Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-xl-4 p-3">
        <div class="row sticky-top">
          <div class="col">
            <div class="row py-3">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Pengirim</b>
                </h2>
              </div>
              <div class="col-12">
                <mat-selection-list [multiple]="false">
                  <mat-list-option>
                    <mat-icon mat-list-icon class="ms-3">account_circle</mat-icon>
                    <h4>{{ mailData.from }}</h4>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
            <div class="row py-3" *ngIf="mailData.to">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Penerima Utama</b>
                </h2>
              </div>
              <div class="col-12">
                <mat-selection-list [multiple]="false">
                  <mat-list-option *ngFor="let mt of mailData.to?.split(', ')">
                    <mat-icon mat-list-icon class="ms-3">account_circle</mat-icon>
                    <h4>{{ mt }}</h4>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
            <div class="row py-3" *ngIf="mailData.cc">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Penerima CC</b>
                </h2>
              </div>
              <div class="col-12">
                <mat-selection-list [multiple]="false">
                  <mat-list-option *ngFor="let mc of mailData.cc?.split(', ')">
                    <mat-icon mat-list-icon class="ms-3">account_circle</mat-icon>
                    <h4>{{ mc }}</h4>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
            <div class="row py-3" *ngIf="mailData.bcc">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Penerima BCC</b>
                </h2>
              </div>
              <div class="col-12">
                <mat-selection-list [multiple]="false">
                  <mat-list-option *ngFor="let mb of mailData.bcc?.split(', ')">
                    <mat-icon mat-list-icon class="ms-3">account_circle</mat-icon>
                    <h4>{{ mb }}</h4>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
            <div class="row py-3" *ngIf="mailData.attachment_.length > 0">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Lampiran</b>
                </h2>
              </div>
              <div class="col-12">
                <mat-selection-list [multiple]="false">
                  <mat-list-option *ngFor="let ma of mailData.attachment_" (click)="downloadAttachment(ma.id)">
                    <mat-icon mat-list-icon class="ms-3">attach_file</mat-icon>
                    <div mat-line>{{ ma.name }}</div>
                    <div mat-line>{{ ma.size | bytes }}</div>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-xl-8 p-3 sticky-top">
        <div class="row sticky-top">
          <div class="col">
            <div class="row py-3">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Isi Konten Pesan</b>
                </h2>
              </div>
              <div class="col-12">
                <div class="py-2 px-3" style="white-space: pre-line !important;" [innerHTML]="mailData.html || mailData.text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
