<div class="row px-0" *ngIf="getQuiz">
  <div class="col-12">
    <div class="row w-100 ps-3" style="display: inline-flex; flex-wrap: nowrap; overflow-x: hidden;">
      <div class="p-2" style="width: auto;" *ngFor="let p of participants | keyvalue: scoreOrder; let idx = index">
        <div class="card text-center border-0" style="width: 64px; background: transparent !important;">
          <div class="card-body p-0" (click)="openProfile(p.value.username)" style="cursor: pointer;">
            <div [matBadge]="p?.value?.profile_.points" matBadgePosition="below" [matBadgeColor]="(idx === 0 ? 'warn' : (idx === 1 ? 'primary' : 'accent'))"
              class="rounded-3" style="
                background-image: url('{{ p.value.image_url }}');
                width: 64px;
                height: 64px;
                background-size: cover;
                background-position: center;
            "></div>
            <div class="pt-1 {{ idx === 0 ? 'gradient-text' : '' }}">{{ p.value.username }}</div>
          </div>
        </div>
      </div>
      <div class="ms-auto p-2 bg-bifeldy" style="width: auto; position: sticky; right: 0;">
        <div class="card text-center border-0" style="width: 64px; background: transparent !important;">
          <div class="card-body p-0" (click)="openLiveChat()" style="cursor: pointer;">
            <div class="rounded-3" style="
                background-image: url('{{ ENV.baseUrl }}/assets/img/favicon.png');
                width: 64px;
                height: 64px;
                background-size: cover;
                background-position: center;
            "></div>
            <div class="pt-1">Semua Peserta</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="my-1 border-bottom-dotted" style="height: 4px; background: url(/assets/img/stripe.png);" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-xl-9 p-3 text-center">
        <div class="row">
          <div class="col-12 p-4">
            <div class="mx-auto card p-3">
              <div *ngIf="question === 'image_url' then menengah; else bukanMenengah;"></div>
              <ng-template #menengah>
                <div class="card-body p-3 py-5" style="
                  background-size: contain;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-image: url('{{ getQuiz.question[question] }}');
                "></div>
              </ng-template>
              <ng-template #bukanMenengah>
                <div class="card-body p-3 py-5" (click)="openEdict()" style="cursor: pointer; font-size: 500%;">
                  {{ swapOptions ? getQuiz.question[question] : getQuiz.question[options] }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-4">
            <div class="row text-center">
              <div *ngFor="let o of getQuiz.options"
                class="{{ ROUTER.url.includes('/kelas-') || ROUTER.url.includes('/jlpt-') || ROUTER.url.includes('/semua-kanji') || ROUTER.url.includes('/latihan-') ? 'col-md-6 col-12' : 'col-md-4 col-6' }} p-2">
                <div class="card p-3 m-1" (click)="selectAnswer(o)" style="cursor: pointer;">
                  <div class="card-body {{ ROUTER.url.includes('/kelas-') || ROUTER.url.includes('/jlpt-') || ROUTER.url.includes('/semua-kanji') ? 'p-0' : 'px-0' }}"
                    [style.font-size]="ROUTER.url.includes('/kelas-') || ROUTER.url.includes('/jlpt-') || ROUTER.url.includes('/semua-kanji') ? '100%' : '250%'">
                    {{ swapOptions ? o[options] : o[question] }}
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 p-2" *ngIf="!ROUTER.url.includes('/kelas-') && !ROUTER.url.includes('/jlpt-') && !ROUTER.url.includes('/semua-kanji') && !ROUTER.url.includes('/latihan-')">
                <div class="card p-3 m-1" matTooltip="Tukar Huruf" (click)="swapCharacter()" style="cursor: pointer;">
                  <div class="card-body px-0" style="font-size: 250%;">🎌</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 d-none d-lg-block d-xl-block">
        <app-live-chat [chatOnly]="true"></app-live-chat>
      </div>
    </div>
  </div>
</div>