<h1 mat-dialog-title>Kamus Dictionary '{{ data.character }}'</h1>
<div mat-dialog-content class="p-4" class="text-break">
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="row sticky-top p-3">
        <div class="col-12">
          <div id="dmakElement" #dmakElement class="text-center"></div>
        </div>
        <div class="col-12 mt-3">
          <p class="text-warning">{{ data.translate }}</p>
        </div>
        <div class="col-12">
          <div class="text-truncate">
            JLPT Level :: <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">N{{ data.jlpt }}</span>
          </div>
          <div class="text-truncate">
            School Level :: <span class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}">{{ data.school }}</span>
          </div>
          <div class="text-truncate mt-3">
            Kunyomi ::
            <ul class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }} m-0">
              <li *ngFor="let v of data.v_kunyomi.split(',')">
                {{ v }} ({{ getRomaji(v) }})
              </li>
            </ul>
          </div>
          <div class="text-truncate">
            Onyomi :: 
            <ul class="text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }} m-0">
              <li *ngFor="let v of data.v_onyomi.split(',')">
                {{ v }} ({{ getRomaji(v) }})
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top" style="background: #424242">
          <h2 class="border-bottom-dotted">
            <b class="text-bifeldy">Kosa Kata</b>
          </h2>
        </div>
        <div class="col-12">
          <div *ngIf="edict.length > 0">
            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let e of edict" (click)="openVocab(e)">
                <h4 class="px-3" matLine>{{ e.kanji }}</h4>
                <h5 class="px-3 text-{{ gs.isDarkMode ? 'success-dark' : 'success-light' }}" matLine>{{ e.reading }} ({{ getRomaji(e.reading) }})</h5>
                <p class="px-3 text-warning" matLine>{{ e.meaning }}</p>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div *ngIf="edict.length <= 0"
            style="background-image: url('/assets/img/404-no-data.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 256px;">
            <div class="row align-items-center h-100">
              <div class="col-8 mx-auto text-light text-center rounded py-3" style="background-color: rgba(128, 128, 128, 0.875);">
                <h3 class="m-0">
                  Tidak Ada Data ¯\_(ツ)_/¯
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center p-3" *ngIf="!pageFinished">
          <button mat-button (click)="loadNextPage()">Load More ...</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" class="ms-auto">Tutup</button>
</div>
