<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-12">
      <div class="row">
        <form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
          <div class="col-12 sticky-top bg-bifeldy pb-1">
            <h2 class="pt-3 border-bottom-dotted">
              <b class="text-bifeldy">Buat Push Notifikasi</b>
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <mat-form-field appearance="outline" class="p-3 col-12 col-md-4" [color]="'accent'">
                <mat-label>Judul</mat-label>
                <input matInput formControlName="title" placeholder="Perhatian!" required />
                <mat-icon fontIcon="short_text" matSuffix></mat-icon>
                <mat-hint align="end">Teks Tebal Di Kiri</mat-hint>
                <mat-error>
                  <div *ngIf="fg.get('title').hasError('required')">Judul Tidak Boleh Kosong</div>
                  <div *ngIf="fg.get('title').hasError('pattern')">Judul Hanya Boleh Huruf Standar Papan Ketik</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="p-3 col-12 col-md-8" [color]="'accent'">
                <mat-label>Konten / Isi</mat-label>
                <input matInput formControlName="content" placeholder="Akan Diadakan Maintenance Pada ..." required />
                <mat-icon fontIcon="wysiwyg" matSuffix></mat-icon>
                <mat-error>
                  <div *ngIf="fg.get('content').hasError('required')">Isi Tidak Boleh Kosong</div>
                  <div *ngIf="fg.get('content').hasError('pattern')">Isi Hanya Boleh Huruf Standar Papan Ketik</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                <mat-label>Jenis Warna</mat-label>
                <mat-select formControlName="type" placeholder="Class Warna Bootstrap" required>
                  <mat-option value="danger">Merah</mat-option>
                  <mat-option value="warning">Kuning</mat-option>
                  <mat-option value="success">Hijau</mat-option>
                  <mat-option value="light">Putih</mat-option>
                  <mat-option value="dark">Hitam</mat-option>
                  <mat-option value="secondary">Abu Abu</mat-option>
                  <mat-option value="primary">Biru Tua</mat-option>
                  <mat-option value="info">Biru Muda</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="fg.get('type').hasError('required')">Mohon Pilih Salah Satu</div>
                  <div *ngIf="fg.get('type').hasError('pattern')">Tipe Hanya Boleh Huruf Standar Papan Ketik</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                <mat-label>Dapat Ditutup</mat-label>
                <mat-select formControlName="dismissible" placeholder="Ya / Tidak" required>
                  <mat-option value="1">Ya</mat-option>
                  <mat-option value="0">Tidak</mat-option>
                </mat-select>
                <mat-hint align="end">Tombol X Di Kanan</mat-hint>
                <mat-error>
                  <div *ngIf="fg.get('dismissible').hasError('required')">Mohon Pilih Salah Satu</div>
                  <div *ngIf="fg.get('dismissible').hasError('pattern')">Dismissible Hanya Boleh Huruf Standar Papan Ketik</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                <mat-label>Timeout</mat-label>
                <input type="number" matInput formControlName="timeout" placeholder="10000" />
                <mat-icon fontIcon="123" matSuffix></mat-icon>
                <mat-hint align="end">Dalam Mili-Detik</mat-hint>
                <mat-error>
                  <div *ngIf="fg.get('timeout').hasError('pattern')">Timeout Hanya Boleh Angka</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="p-3 col-12 col-md-3" [color]="'accent'">
                <mat-label>Deadline</mat-label>
                <input matInput [ngxMatDatetimePicker]="kalender" formControlName="deadline" (focus)="kalender.open()" placeholder="{{ currentDateTime | date:'d MMMM y, HH:mm:ss' }}"
                  [min]="currentDateTime" [max]="maxDateTime" />
                <mat-datepicker-toggle matSuffix [for]="dateTimePicker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #kalender [showSpinners]="true" [showSeconds]="true" [enableMeridian]="true"></ngx-mat-datetime-picker>
                <mat-hint align="end">Muncul Setiap Halaman Di Refresh</mat-hint>
                <mat-error>
                  <div *ngIf="fg.get('deadline').hasError('matDatetimePickerParse')">Tanggal Tidak Valid</div>
                  <div *ngIf="fg.get('deadline').hasError('matDatetimePickerMax')">Paling Lama {{ maxNotificationDays }} Hari Mendatang</div>
                  <div *ngIf="fg.get('deadline').hasError('matDatetimePickerMin')">Paling Cepat Detik Ini Sekarang</div>
                  <div *ngIf="fg.get('deadline').hasError('pattern')">Tanggal Hanya Boleh Huruf Standar Papan Ketik</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="row gy-3">
                  <div class="col g-0"></div>
                  <div class="col-12 col-md-3">
                    <button type="submit" mat-flat-button color="accent" class="w-100" [disabled]="submitted || fg.invalid">
                      Simpan
                      <mat-icon fontIcon="save" class="ms-1"></mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy">Deadline Notifikasi</b>
          </h2>
        </div>
        <div class="col-12 p-3">
          <app-material-table [tableDataColumn]="notifData.column" [tableDataRow]="notifData.row" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)"
            (buttonClicked)="action($event)" (paginatorClicked)="onPaginatorClicked($event)" (serverSideOrder)="onServerSideOrder($event)" (rowClicked)="openNotif($event)"></app-material-table>
        </div>
      </div>
    </div>
  </div>

</div>