<div *ngIf="berkasData" class="p-0 m-0">

  <div class="container-fluid p-0">
    <div class="wrapper" [style.background]="
      'url(/assets/img/banner/berkas-detail.png), ' +
      'linear-gradient(to bottom, ' + (GS.isDarkMode ? '#673ab7' : '#3f51b5') + ' 0%, #ee0dfd 100%)'
    ">
      <ul class="bg-bubbles align-items-center p-0">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <div class="container align-items-center h-100 p-3 text-light" style="overflow-y: auto;">
          <h2 _ngcontent-serverapp-c311="" class="mb-0" style="line-height: normal;">
            {{ berkasData.name }}
          </h2>
          <p class="mt-3 mb-0">
            {{ berkasData.view_count }}x Dilihat :: {{ berkasData.like_count }} Orang Suka
          </p>
          <p class="mb-0">
            {{ berkasData.created_at | date:'d MMMM y, hh:mm:ss a z' }}
          </p>
        </div>
      </ul>
    </div>
  </div>

  <!-- Notification -->
  <app-notifications></app-notifications>

  <!-- Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-xl-4 p-3">
        <div class="row sticky-top">
          <div class="col">
            <div class="row py-3">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Rujukan</b>
                </h2>
              </div>
              <div class="col-12">
                <mat-selection-list [multiple]="false">
                  <mat-list-option routerLink="/anime/{{ berkasData.anime_.id }}-{{ animeName }}" *ngIf="berkasData.anime_">
                    <img matListAvatar src="{{ berkasData.anime_.image_url }}" class="ms-3" style="border-radius: 0;" />
                    <h4 class="text-truncate">{{ berkasData.anime_.name }}</h4>
                  </mat-list-option>
                  <mat-list-option routerLink="/dorama/{{ berkasData.dorama_.slug }}" *ngIf="berkasData.dorama_">
                    <img matListAvatar src="{{ berkasData.dorama_.image_url }}" class="ms-3" style="border-radius: 0;" />
                    <h4 class="text-truncate">{{ berkasData.dorama_.name }}</h4>
                  </mat-list-option>
                  <mat-list-option *ngIf="berkasData.sn_code">
                    <img matListAvatar src="{{ ENV.baseUrl }}/assets/img/favicon.png" class="ms-3" style="border-radius: 0;" />
                    <h4 class="text-truncate">{{ berkasData.sn_code }}</h4>
                  </mat-list-option>
                  <mat-list-option routerLink="/fansub/{{ fs.slug }}" *ngFor="let fs of berkasData.fansub_">
                    <img matListAvatar src="{{ fs.image_url }}" class="ms-3" style="border-radius: 0;" />
                    <h4 class="text-truncate">{{ fs.name }}</h4>
                  </mat-list-option>
                  <mat-list-option routerLink="/user/{{ berkasData.user_.username }}">
                    <img matListAvatar src="{{ berkasData.user_.image_url }}" class="ms-3" style="border-radius: 0;" />
                    <h4 class="text-truncate">{{ berkasData.user_.username }}</h4>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
            <div class="row py-3" *ngIf="AS.currentUserSubject?.value && berkasData.attachment_ && isAwsS3">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">
                    <i>Direct Link</i>
                  </b>
                </h2>
              </div>
              <div class="col-12 text-center">
                <div class="px-3">
                  <button type="button" class="m-1 w-100 shiny" mat-stroked-button color="accent" (click)="generateLink(berkasData.attachment_.id)">
                    <mat-icon fontIcon="share" class="me-1"></mat-icon>
                    Buat Tautan Unduhan
                  </button>
                </div>
              </div>
            </div>
            <div class="row py-3" *ngIf="AS.currentUserSubject?.value && berkasData.attachment_">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">
                    <i>Direct Download</i>
                  </b>
                </h2>
              </div>
              <div class="col-12 text-center" *ngIf="isHaveDDL">
                <div class="px-3">
                  <button type="button" class="m-1 w-100 {{ isAwsS3 ? '' : 'shiny' }}" mat-stroked-button color="accent" (click)="ddl(berkasData.attachment_.id)"
                    matTooltip="{{ lampiran.orig || lampiran.name + (lampiran.ext ? '.' + lampiran.ext : '') }} :: {{ lampiran.download_count }}x Unduhan" *ngIf="!lampiran.data && !lampiran.isDownloading && !lampiran.isCompleted">
                    <mat-icon fontIcon="movie" class="me-1"></mat-icon>
                    {{ lampiran.orig?.split('.')[0] || lampiran.name | slice:0:5 }}.....{{ (lampiran.ext ? '.' + lampiran.ext : '') }} ({{ lampiran.size | bytes }})
                  </button>
                  <button type="button" class="m-1 w-100" mat-stroked-button color="accent" (click)="cancel_dl(berkasData.attachment_.id)"
                    matTooltip="{{ lampiran.orig || lampiran.name + (lampiran.ext ? '.' + lampiran.ext : '') }} :: {{ lampiran.download_count }}x Unduhan" *ngIf="!lampiran.data && lampiran.isDownloading">
                    <mat-icon fontIcon="close" class="me-1"></mat-icon>
                    Batal Unduh
                  </button>
                  <button type="button" class="m-1 w-100 {{ isAwsS3 ? '' : 'shiny' }}" mat-stroked-button color="accent" (click)="saveFileAs(berkasData.attachment_.id)" *ngIf="lampiran.data"
                    matTooltip="{{ lampiran.orig || lampiran.name + (lampiran.ext ? '.' + lampiran.ext : '') }} :: {{ lampiran.download_count }}x Unduhan">
                    <mat-icon fontIcon="save" class="me-1"></mat-icon>
                    {{ lampiran.orig?.split('.')[0] || lampiran.name | slice:0:5 }}.....{{ (lampiran.ext ? '.' + lampiran.ext : '') }} ({{ lampiran.size | bytes }})
                  </button>
                  <div class="col">
                    <div class="px-3" *ngIf="lampiran.isDownloading && !lampiran.isCompleted">
                      {{ lampiran.percentage >= 100 ? 'Selesai Mengunduh ... '  : 'Sedang Mengunduh ... ' }}
                      {{ lampiran.totals }} Bytes <br />
                      {{ lampiran.percentage }}% &#64; {{ lampiran.speed }} KB/s
                      <br />
                      <mat-progress-bar color="accent" [mode]="lampiran.mode" [value]="lampiran.percentage"></mat-progress-bar>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="isHaveDDL && !isDiscord">
                    <div class="px-3 text-danger" *ngIf="lampiran.isDownloading" (click)="standardDdlVideo(berkasData.attachment_.id)" style="cursor: pointer;">
                      Unduhan Macet? <i><u>Coba Gunakan Unduhan Biasa~</u></i>
                    </div>
                  </div>
                  <div class="col-12 m-1" *ngIf="berkasData.attachment_?.subtitles_?.length > 0 || berkasData.attachment_?.fonts_?.length > 0">
                    <hr class="my-3 border-bottom-dotted" style="height: 4px; background: url('/assets/img/stripe.png');" />
                  </div>
                  <button type="button" class="m-1 w-100" mat-stroked-button color="accent" *ngFor="let s of berkasData.attachment_.subtitles_"
                    (click)="standardDdlSubsFont(s.id)" matTooltip="{{ s.orig || s.name + (s.ext ? '.' + s.ext : '') }} :: {{ s.download_count }}x Unduhan">
                    <mat-icon fontIcon="notes" class="me-1"></mat-icon>
                    {{ s.orig?.split('.')[0] || s.name | slice:0:5 }}.....{{ (s.ext ? '.' + s.ext : '') }} ({{ s.size | bytes }})
                  </button>
                  <button type="button" class="m-1 w-100" mat-stroked-button color="accent" *ngFor="let f of berkasData.attachment_.fonts_"
                    (click)="standardDdlSubsFont(f.id)" matTooltip="{{ f.orig || f.name + (f.ext ? '.' + f.ext : '') }} :: {{ f.download_count }}x Unduhan">
                    <mat-icon fontIcon="font_download" class="me-1"></mat-icon>
                    {{ f.orig?.split('.')[0] || f.name | slice:0:5 }}.....{{ (f.ext ? '.' + f.ext : '') }} ({{ f.size | bytes }})
                  </button>
                </div>
              </div>
              <div class="col-12 text-center" *ngIf="!isHaveDDL">
                <div class="px-3">
                  <button type="button" class="m-1" mat-stroked-button color="accent" (click)="verify()" matTooltip="Direct Download Link Berkas">
                    <mat-icon fontIcon="enhanced_encryption" class="me-1"></mat-icon>
                    {{ berkasData.attachment_ }}
                  </button>
                </div>
              </div>
            </div>
            <div class="row py-3" *ngIf="!AS.currentUserSubject?.value || (AS.currentUserSubject?.value && berkasData.download_url?.length > 0)">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">
                    Tautan Unduhan
                    <i>{{ AS.currentUserSubject?.value ? 'External' : '' }}</i>
                  </b>
                </h2>
              </div>
              <div class="col-12 text-center" *ngIf="AS.currentUserSubject?.value">
                <a href="{{ i.url }}" class="m-1" target="_blank" mat-stroked-button color="accent" *ngFor="let i of berkasData.download_url">
                  <img src="{{ getIconFromUrl(i.url) }}" width="24px" height="24px" class="me-1" style="object-fit: cover;" />
                  {{ i.name }}
                </a>
              </div>
              <div class="col-12 text-center" *ngIf="!AS.currentUserSubject?.value">
                <button type="button" class="m-1" mat-stroked-button color="accent" (click)="login()">
                  <mat-icon fontIcon="vpn_key" class="me-1"></mat-icon>
                  Klik Untuk Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-xl-8 p-3 sticky-top">
        <div class="row sticky-top">
          <div class="col">
            <div class="row py-3" *ngIf="berkasData.description">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Deskripsi & Informasi</b>
                </h2>
              </div>
              <div class="col-12">
                <div class="py-2 px-3" style="white-space: pre-line !important;" [innerHTML]="berkasData.description"></div>
              </div>
            </div>
            <div class="row py-3" *ngIf="berkasData.attachment_ && isStreamable">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Video Stream (Browser Tertentu T.T)</b>
                </h2>
              </div>
              <div class="col-12">
                <div class="py-2 px-3">
                  Dapat digunakan sebagai referensi untuk pratinjau namun kemungkinan jenis huruf tulisan gagal dimuat sehingga nantinya akan muncul huruf dengan gambar 🔳 misalnya kanji.
                  Lalu juga memungkinkan terjadinya gerakan patah - patah jika browser tidak kuat untuk render .ASS subtitle dengan efek yang terlalu banyak.
                  <span class="text-success">
                    <i>Player</i> ini mungkin tidak dapat memutar video HEVC-x265 (belum support semua <i>web browser</i>) dan audio AC3 (atau ekstensi lain yang masih memiliki lisensi paten belum <i>open source</i>).
                    Takarir / <i>subtitle</i> yang dapat ditampilkan jenis .ASS saja, itupun jika tersedia di dalam video internalnya.
                  </span>
                  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1422891" class="text-warning text-decoration-none">
                    * Browser Firefox sudah pasti tidak bisa memutar .MKV
                  </a>
                </div>
                <div class="px-3">
                  <mat-form-field appearance="outline" class="pt-3 col-12" [color]="'accent'" *ngIf="subtitles.length > 0">
                    <mat-label>Pilih Subtitle / Takarir (.ASS Saja)</mat-label>
                    <mat-select placeholder="Pilih Salah Satu" [(value)]="selectedSubsUrl">
                      <mat-option [value]="s.url" *ngFor="let s of subtitles">{{ s.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-progress-bar color="warn" mode="buffer" class="mb-3" *ngIf="isHaveDDL && vjsInit && !vjsReady"></mat-progress-bar>
                  <button type="button" class="w-100" mat-stroked-button color="warn" (click)="watchDdl()" *ngIf="isHaveDDL && !vjsReady" [disabled]="vjsInit">
                    <mat-icon fontIcon="play_arrow" class="me-1"></mat-icon>
                    <span *ngIf="!vjsInit">Mulai Streaming Video</span>
                    <span *ngIf="vjsInit">
                      Mempersiapkan Font & Subtitle ...
                    </span>
                  </button>
                  <app-vjs-player *ngIf="isHaveDDL && vjsInit && vjsReady"
                    [videoUrl]="ddlVideo"
                    [videoThumb]="videoThumb"
                    [subtitleUrl]="selectedSubsUrl"
                    [subtitleFonts]="ddlFonts">
                  </app-vjs-player>
                  <button type="button" class="w-100" mat-stroked-button color="accent" (click)="verify()" *ngIf="!isHaveDDL">
                    <mat-icon fontIcon="enhanced_encryption" class="me-1"></mat-icon>
                    {{ berkasData.attachment_ }}
                  </button>
                </div>
              </div>
            </div>
            <div class="row py-3" *ngIf="SS.mySocket?.id">
              <div class="col-12">
                <app-report></app-report>
              </div>
            </div>
            <div class="row py-3">
              <div class="col-12 sticky-top bg-bifeldy">
                <h2 class="pt-3 border-bottom-dotted">
                  <b class="text-bifeldy">Komentar</b>
                </h2>
              </div>
              <div class="col-12">
                <div class="p-3">
                  <app-discussion></app-discussion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
