<!-- Left Side Menu -->
<div class="sidenav_container" [@onSideNavChange]="sideNavExpanded ? 'open' : 'close'"
  (mouseenter)="onMouseHoverIn()" (mouseleave)="onMouseHoverOut()" [ngStyle]="{
    'overflow-y': sideNavExpanded ? 'auto' : 'hidden'
  }">

  <div fxLayout="column">

    <mat-nav-list>
      <a mat-list-item routerLink="/profile" routerLinkActive="side-menu-link-active" (click)="onMouseHoverOut()">
        <img class="jim" src="/favicon.ico" />
        <span [@animateText]="linkText ? 'show' : 'hide'"  style="padding-left: 1.2em;">
          Basilius Bias Astho Christyono <br /> bifeldy@gmail.com 
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="logout()">
        <mat-icon style="padding-left: 0.2em;">power_settings_new</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em;">Keluar</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/login" (click)="onMouseHoverOut()" routerLinkActive="side-menu-link-active">
        <mat-icon style="padding-left: 0.2em;">login</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em;">Masuk</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/register" (click)="onMouseHoverOut()" routerLinkActive="side-menu-link-active">
        <mat-icon style="padding-left: 0.2em;">group_add</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em;">Daftar</span>
      </a>
    </mat-nav-list>

    <mat-divider style="margin-top: 8px;"></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of mainMenus" routerLinkActive="side-menu-link-active"
        (click)="onMouseHoverOut()">
        <mat-icon style="padding-left: 0.2em;">{{ menu?.icon }}</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em;">{{ menu?.name }}</span>
      </a>
    </mat-nav-list>

    <mat-divider style="margin-top: 8px;"></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of miscMenus" routerLinkActive="side-menu-link-active"
        (click)="onMouseHoverOut()">
        <mat-icon style="padding-left: 0.2em;">{{ menu?.icon }}</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em;">{{ menu?.name }}</span>
      </a>
    </mat-nav-list>

    <div style="margin-top: 8px;"></div>

  </div>

  <span class="spacer"></span>

  <!-- <div fxLayout="column" fxLayoutAlign="end center" style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSideNavToggle()">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div> -->

</div>
