<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'" (mouseenter)="onMouseHoverIn()" (mouseleave)="onMouseHoverOut()">

  <div fxLayout="column">

    <mat-nav-list>
      <a mat-list-item>
        <img class="jim" src="https://www.perpusindo.info/assets/PINew/img/users/Bifeldy_20200620_V6RJSXTVWSJJXLJXM2ED_P.jpg" />
        <span [@animateText]="linkText ? 'show' : 'hide'"  style="padding-left: 1.2em;">
          Basilius Bias Astho Christyono <br /> bifeldy@gmail.com 
        </span>
      </a>
    </mat-nav-list>

    <mat-divider style="margin-top: 8px;"></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of userMenus" routerLinkActive="side-menu-link-active" (click)="onMouseHoverOut()">
        <mat-icon style="padding-left: 0.15em;">{{ menu?.icon }}</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.4em;">{{ menu?.name }} </span>
      </a>
    </mat-nav-list>

    <mat-divider style="margin-top: 8px;"></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of mainMenus" routerLinkActive="side-menu-link-active" (click)="onMouseHoverOut()">
        <mat-icon style="padding-left: 0.15em;">{{ menu?.icon }}</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.4em;">{{ menu?.name }} </span>
      </a>
    </mat-nav-list>

    <mat-divider style="margin-top: 8px;"></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of miscMenus" routerLinkActive="side-menu-link-active" (click)="onMouseHoverOut()">
        <mat-icon style="padding-left: 0.15em;">{{ menu?.icon }}</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.4em;">{{ menu?.name }} </span>
      </a>
    </mat-nav-list>

  </div>

  <span class="spacer"></span>

  <!-- <div fxLayout="column" fxLayoutAlign="end center" style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSideNavToggle()">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div> -->

</div>