<!-- Left Side Menu -->
<div class="sidenav_container" [@onSideNavChange]="sideNavExpanded ? 'open' : 'close'"
  (mouseenter)="onMouseHoverIn()" (mouseleave)="onMouseHoverOut()" [ngStyle]="{
  'overflow-y': sideNavExpanded ? 'auto' : 'hidden'
}">

  <mat-nav-list>
    <div *ngIf="AS.currentUserSubject?.value; then sudahLogin; else belumLogin;"></div>
    <ng-template #sudahLogin>
      <a mat-list-item routerLink="/user" routerLinkActive="side-menu-link-active" (click)="forceCloseSideNav()">
        <img class="jim" src="{{ AS.currentUserSubject?.value?.image_url }}" />
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.2em; padding-right: 0.2em;" class="text-truncate">
          {{ AS.currentUserSubject?.value?.kartu_tanda_penduduk_.nama }} <br /> {{ AS.currentUserSubject?.value?._email }}
        </span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon style="padding-left: 0.2em;">power_settings_new</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">Keluar</span>
      </a>
    </ng-template>
    <ng-template #belumLogin>
      <a mat-list-item routerLink="/login" (click)="forceCloseSideNav()" routerLinkActive="side-menu-link-active">
        <mat-icon style="padding-left: 0.2em;">login</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">Masuk</span>
      </a>
      <a mat-list-item routerLink="/register" (click)="forceCloseSideNav()" routerLinkActive="side-menu-link-active">
        <mat-icon style="padding-left: 0.2em;">group_add</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">Daftar</span>
      </a>
    </ng-template>
  </mat-nav-list>

  <mat-divider style="margin-top: 8px;"></mat-divider>

  <mat-nav-list>
    <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of mainMenus" routerLinkActive="side-menu-link-active" (click)="forceCloseSideNav()">
      <mat-icon style="padding-left: 0.2em;" [matBadge]="menu.badge" matBadgeColor="warn" matBadgePosition="before">{{ menu.icon }}</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">{{ menu.name }}</span>
    </a>
  </mat-nav-list>

  <mat-divider style="margin-top: 8px;"></mat-divider>

  <mat-nav-list>
    <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of contentMenus" routerLinkActive="side-menu-link-active" (click)="forceCloseSideNav()">
      <mat-icon style="padding-left: 0.2em;" [matBadge]="menu.badge" matBadgeColor="warn" matBadgePosition="before">{{ menu.icon }}</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">{{ menu.name }}</span>
    </a>
  </mat-nav-list>

  <mat-divider style="margin-top: 8px;"></mat-divider>

  <mat-nav-list>
    <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of additionalMenus" routerLinkActive="side-menu-link-active" (click)="forceCloseSideNav()">
      <mat-icon style="padding-left: 0.2em;" [matBadge]="menu.badge" matBadgeColor="warn" matBadgePosition="before">{{ menu.icon }}</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">{{ menu.name }}</span>
    </a>
  </mat-nav-list>

  <mat-divider style="margin-top: 8px;"></mat-divider>

  <mat-nav-list>
    <a mat-list-item routerLinkActive="side-menu-link-active" (click)="openWebTorrent()">
      <mat-icon style="padding-left: 0.2em;">sailing</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">Web Torrent</span>
    </a>
    <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of miscMenus" routerLinkActive="side-menu-link-active" (click)="forceCloseSideNav()">
      <mat-icon style="padding-left: 0.2em;" [matBadge]="menu.badge" matBadgeColor="warn" matBadgePosition="before">{{ menu.icon }}</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">{{ menu.name }}</span>
    </a>
  </mat-nav-list>

  <mat-divider style="margin-top: 8px;"></mat-divider>

  <mat-nav-list>
    <a mat-list-item routerLink="{{ menu.link }}" *ngFor="let menu of otherMenus" routerLinkActive="side-menu-link-active" (click)="forceCloseSideNav()">
      <mat-icon style="padding-left: 0.2em;" [matBadge]="menu.badge" matBadgeColor="warn" matBadgePosition="before">{{ menu.icon }}</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">{{ menu.name }}</span>
    </a>
    <a mat-list-item routerLinkActive="side-menu-link-active" (click)="openDocumentation()">
      <mat-icon style="padding-left: 0.2em;">settings_ethernet</mat-icon>
      <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left: 1.75em; padding-right: 0.2em;">
        Dev. Mode
        <span style="right: 1em !important; position: absolute;">
          <mat-slide-toggle [(ngModel)]="GS.forceEnableDebugLog" (click)="$event.stopPropagation()" (change)="toggleDebugLog($event)"></mat-slide-toggle>
        </span>
      </span>
    </a>
  </mat-nav-list>

  <div style="margin-top: 8px;"></div>

</div>
