.sidenav_container {
  min-width: 256px;
  max-width: 1024px;
  height: calc(100vh - 88px);
}

.jim {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.side-menu-link-active {
  background: rgba(255, 64, 129, 0.15);
  color: #ff4081;
  font-weight: bold;
}

.mat-list-item-content {
  padding: 0 !important;
}