<div class="container" *ngIf="fansubData">
  <div class="fansub-info align-items-center">
    <div class="media row py-3 px-2">

      <!-- Information -->
      <div class="col-md-4 col-xl-3 px-3">
        <div class="row sticky-top pt-3">
          <div class="col-12">
            <img class="w-100" [src]="fansubData.image_url" />
          </div>
          <div class="col-12 text-center pt-3">
            <button mat-button class="w-100" color="warn" matTooltip="Berdiri Sejak">
              <mat-icon>calendar_today</mat-icon> {{ fansubData.born | date:'d MMMM y' }}
            </button>
            <button mat-button class="w-100" color="accent" matTooltip="Status Fansub">
              <mat-icon>history</mat-icon> {{ fansubData.active ? 'Aktif' : 'Tidak Aktif' }}
            </button>
          </div>
          <div class="col-12 text-center pt-3" *ngIf="getUrlByName('facebook')">
            <a [href]="getUrlByName('facebook')" mat-stroked-button class="w-100" matTooltip="Kunjungi Halaman Fanpage" style="color: rgb(114, 137, 218);">
              <mat-icon>facebook</mat-icon>
              Facebook Fanpage
            </a>
          </div>
          <div class="col-12 text-center pt-3" *ngIf="getUrlByName('discord')">
            <a [href]="getUrlByName('discord')" mat-stroked-button class="w-100" matTooltip="Kunjungi Ruang Obrolan" style="color: rgb(114, 137, 218);">
              <img src="/assets/img/discord-blue.png" width="24px" />
              Ruang Obrolan Discord
            </a>
          </div>
          <div class="col-12 text-center pt-3">
            <button mat-button class="w-100 text-success" (click)="editFansubData()" style="color: rgb(255, 64, 129) !important;"
              matTooltip="{{ fansubData.user_ ? 'Terakhir Di Ubah Oleh :: ' + fansubData.user_.username : 'Perbaharui Data Fansub' }}">
              <mat-icon>edit</mat-icon>
              Perbaharui Informasi
            </button>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="col-md-8 col-xl-9 pt-3">
        <div class="row py-3 px-0 mt-auto">
          <h1 class="m-0">
            <b>{{ fansubData.name }}</b>
          </h1>
        </div>
        <div class="row py-3">
          <app-material-chip (chipClicked)="openTag($event)" [chipData]="chipData"></app-material-chip>
        </div>
        <div class="row">
          <app-notifications class="px-0"></app-notifications>
        </div>
        <div class="row py-3" *ngIf="panelData.length > 0">
          <app-material-expansion-panel [panelData]="panelData"></app-material-expansion-panel>
        </div>
        <div class="row py-3" *ngIf="ss.mySocket?.id">
          <div class="col-12">
            <app-report></app-report>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <app-material-tab (listClicked)="openAnime($event)" (gridClicked)="openDorama($event)" (tableRowClicked)="openFile($event)" (paginatorClicked)="onPaginatorClicked($event)"
              [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"
              [gridPageFinished]="doramaPageFinished" (gridLoadNextPage)="onDoramaLoadNextPage($event)"
              [listPageFinished]="animePageFinished" (listLoadNextPage)="onAnimeLoadNextPage($event)"></app-material-tab>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fansub-banner fansub-banner-1 align-items-center" [style.background-image]="'url(' + fansubData.image_url + ')'"></div>
  <div class="fansub-banner fansub-banner-2 align-items-center"></div>
</div>
