<swiper [config]="swiperConfig" *ngIf="animeData.length > 0">
  <div class="card shadow align-items-center" *ngFor="let a of animeData" style="height: 240px; background-size: cover; background-position: center;"
    [style.background-image]="'url(' + a.image_url + ')'" (click)="onCardClicked(a)">
    <div class="row align-items-center w-100 h-100">
      <div class="mt-auto text-light p-0 col-12" style="background-color: rgba(0, 0, 0, 0.75);">
        <div class="row m-0 p-0">
          <div class="col-6 m-0 p-1">{{ a.episodes ? a.episodes : '?' }} Eps</div>
          <div class="col-6 m-0 p-1 text-right">{{ a.namaFansubs.length }} Grup</div>
        </div>
      </div>
    </div>
  </div>
</swiper>