<!-- Seasonal Banner (1920px * 128px)-->
<div class="container-fluid season-banner align-items-center"
  [style.background-image]="'url(' + selectedSeasonBannerImg + ')'">
  <!-- <div class="row align-items-center h-100">
    <div class="col-9 mx-auto text-light text-center" style="background-color: rgba(0, 0, 0, 0.25);">
      <button mat-icon-button class="mr-3">
        <mat-icon>arrow_back</mat-icon>
      </button>
      {{ selectedSeasonName.toUpperCase() }}
      <button mat-icon-button class="ml-3">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div> -->
</div>

<p>anime-list works!</p>
