<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  <div class="row pb-3">
    <div class="col-12">
      <div class="row">
        <div class="col-12 pb-3 sticky-top bg-bifeldy" [formGroup]="fg">
          <h3 class="m-0 border-bottom border-primary row">
            <mat-form-field class="pt-3 col-6 col-md-4 col-lg-2" [color]="'accent'">
              <mat-label>Tema Musim</mat-label>
              <mat-select [(value)]="selectedSeasonName" (valueChange)="changeSeasonalAnime()">
                <mat-option value="winter">Winter</mat-option>
                <mat-option value="spring">Spring</mat-option>
                <mat-option value="summer">Summer</mat-option>
                <mat-option value="fall">Fall</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="pt-3 col-6 col-md-4 col-lg-2">
              <mat-label>Tahun</mat-label>
              <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="currentDate" />
              <mat-datepicker-toggle matSuffix [for]="picker" class="shiny"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)" disabled="false"></mat-datepicker>
            </mat-form-field>
          </h3>
        </div>
        <div class="col-12">
          <app-card-anime-dorama (cardClicked)="openAnimePage($event)" [animeDoramaData]="seasonalAnimeCard"></app-card-anime-dorama>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <app-material-tab (chipClicked)="openFansub($event)" (tableRowClicked)="openAnimePage($event)" [tabData]="tabData"></app-material-tab>
  </div>
</div>
