<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container" *ngIf="berkasData">

  <!-- Detail -->
  <div class="row my-4">
    <div class="col-12">
      <div class="text-danger text-end" *ngIf="!AS.currentUserSubject?.value?.verified">
        * Berkas <i>Private</i> Tidak Di Tampilkan
      </div>
      <div class="text-success text-end">
        * Berkas Annggota Fansubber Warna - Warni
      </div>
    </div>
  </div>
  <div class="row">
    <app-material-tab (tableRowClicked)="openBerkas($event)" (paginatorClicked)="onPaginatorClicked($event)"
      [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"></app-material-tab>
  </div>

</div>