<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container" *ngIf="berkasData">

  <!-- Detail -->
  <div class="row my-4">
    <div class="col-12">
      <div class="text-danger text-end" *ngIf="!AS.currentUserSubject?.value?.verified">
        * Berkas <i>Private</i> Dari Seluruh Pengguna Tidak Di Tampilkan
      </div>
      <div class="text-danger text-end" *ngIf="AS.currentUserSubject?.value && AS.currentUserSubject?.value?.verified && !showTruelyPrivate">
        * Berkas <i>Private</i> Dari Pengguna <i>Private</i> Tidak Di Tampilkan
      </div>
      <div class="text-success text-end">
        * Berkas Dari Anggota Fansub => Warna - Warni
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 text-end text-warning">
      <mat-slide-toggle [(ngModel)]="r18" (change)="r18Changed()" labelPosition="before">
        Tampilkan R-18+
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <app-material-tab (tableRowClicked)="openBerkas($event)" (paginatorClicked)="onPaginatorClicked($event)" [tablePageSizeOptions]="tablePageSizeOptions"
      [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"></app-material-tab>
  </div>

</div>