<!-- Header -->
<app-header></app-header>

<!-- Side Menu Drawer & Content -->
<mat-sidenav-container class="sidenav-container">

  <!-- Side Menu -->
  <mat-sidenav #leftSideNav mode="side" opened [ngStyle]="{
    'background-image': 'url(/assets/img/bg-side-menu.png)'
  }" style="background-position: bottom center; background-size: 128px; background-repeat: no-repeat;">
    <app-left-menu></app-left-menu>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content style="background-position: bottom right; background-size: 128px; background-repeat: no-repeat;"
    [style.background-image]="'url(' + selectedBackgroundImage + ')'" (click)="closeSideNav()">

    <!-- Routing Content -->
    <div class="main_content" #leftSideNavContent>
      <router-outlet></router-outlet>
    </div>

    <app-material-fab></app-material-fab>

  </mat-sidenav-content>

</mat-sidenav-container>

<!-- Footer -->
<app-footer></app-footer>

<ngx-spinner [bdColor]="'#0000007f'" [type]="'square-jelly-box'" [size]="'medium'" [color]="'#e84360'">
  <p class="text-white text-center">
    Sedang Memuat Data <br /> Mohon Menunggu ^_^
  </p>
</ngx-spinner>