<!-- Header -->
<app-header></app-header>

<!-- HTTP Progress -->
<ng-progress [color]="'#ff4081'" [fixed]="false" [meteor]="false" [thick]="true"></ng-progress>

<!-- Side Menu Drawer & Content -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="LMS.sideNavExpanded || rightSidePanel['isOpen']">

  <!-- Left Side Menu -->
  <mat-sidenav #leftSideNav disableClose [mode]="sideNavType" [opened]="LMS.opened" [ngStyle]="{
    'background-image': 'url(' + GS.leftMenuImage + ')'
  }" style="background-position: bottom center; background-size: 128px; background-repeat: no-repeat;">
    <app-left-menu></app-left-menu>
  </mat-sidenav>

  <!-- Right Side Menu -->
  <mat-sidenav #rightSidePanel [mode]="'over'" [opened]="false" position="end" class="bg-bifeldy" (closedStart)="RPS.onClose()" [ngStyle]="{
    'background-image': 'url(' + GS.rightMenuImage + ')'
  }" style="background-position: bottom center; background-size: 128px; background-repeat: no-repeat;">
    <app-right-panel></app-right-panel>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content #siteContent [style.background-repeat]="'no-repeat'"
    [style.background-size]="'128px' + (
      ROUTER.url === '/login' || ROUTER.url.includes('/login?') ||
      ROUTER.url === '/register' || ROUTER.url.includes('/register?') ||
      ROUTER.url === '/home' || ROUTER.url.includes('/home?') ||
      ROUTER.url === '/verify' || ROUTER.url.includes('/verify?') ||
      ROUTER.url === '/privacy-policy' || ROUTER.url.includes('/privacy-policy?') ||
      ROUTER.url === '/reset-password' || ROUTER.url.includes('/reset-password?')
      ? ', cover' : ''
    )"
    [style.background-position]="'bottom right' + (
      ROUTER.url === '/login' || ROUTER.url.includes('/login?') ||
      ROUTER.url === '/register' || ROUTER.url.includes('/register?') ||
      ROUTER.url === '/home' || ROUTER.url.includes('/home?') ||
      ROUTER.url === '/verify' || ROUTER.url.includes('/verify?') ||
      ROUTER.url === '/privacy-policy' || ROUTER.url.includes('/privacy-policy?') ||
      ROUTER.url === '/reset-password' || ROUTER.url.includes('/reset-password?')
      ? ', center' : ''
    )"
    [style.background-image]="'url(' + GS.bgImgUrl + ')' + (
      ROUTER.url === '/login' || ROUTER.url.includes('/login?') ||
      ROUTER.url === '/register' || ROUTER.url.includes('/register?') ||
      ROUTER.url === '/home' || ROUTER.url.includes('/home?') ||
      ROUTER.url === '/verify' || ROUTER.url.includes('/verify?') ||
      ROUTER.url === '/privacy-policy' || ROUTER.url.includes('/privacy-policy?') ||
      ROUTER.url === '/reset-password' || ROUTER.url.includes('/reset-password?')
      ? ', url(/assets/img/background/paint.svg)' : ''
    )">

    <!-- Routing Content -->
    <div class="main_content">

      <!-- Data Content -->
      <router-outlet></router-outlet>

    </div>

    <app-material-fab></app-material-fab>

  </mat-sidenav-content>

</mat-sidenav-container>

<!-- Footer -->
<app-footer></app-footer>

<!-- Loading Animation -->
<ngx-spinner [bdColor]="'#0000007f'" [type]="'square-jelly-box'" [size]="'medium'" [color]="'#e84360'">
  <p class="text-light text-center">
    Sedang Memuat Data ^_^ <br /> Mohon Menunggu ... <br />
    <span class="text-info text-decoration-none" (click)="resetLoading()">
      <b style="cursor: pointer;">Batalkan</b>
    </span>
  </p>
</ngx-spinner>