<!-- Header -->
<app-header></app-header>

<!-- HTTP Progress -->
<ng-progress [color]="'#ff4081'" [fixed]="false" [meteor]="false" [thick]="true"></ng-progress>

<!-- Side Menu Drawer & Content -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="lms.sideNavExpanded || rightSidePanel.isOpen">

  <!-- Left Side Menu -->
  <mat-sidenav #leftSideNav disableClose [mode]="'side'" [opened]="lms.opened" [ngStyle]="{
    'background-image': 'url(/assets/img/bg-left-menu.png)'
  }" style="background-position: bottom center; background-size: 128px; background-repeat: no-repeat;">
    <app-left-menu></app-left-menu>
  </mat-sidenav>

  <!-- Right Side Menu -->
  <mat-sidenav #rightSidePanel [mode]="'over'" [opened]="false" position="end" (closedStart)="rps.onClose()" [ngStyle]="{
    'background-image': 'url(/assets/img/bg-right-panel.png)'
  }" style="background-position: bottom center; background-size: 128px; background-repeat: no-repeat; background-color: #303030 !important;">
    <app-right-panel></app-right-panel>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content #siteContent
    [style.background-repeat]="router.url.startsWith('/verify') || router.url.startsWith('/about') ? 'repeat' : 'no-repeat'"
    [style.background-size]="router.url.startsWith('/verify') || router.url.startsWith('/about') ? '' : '128px'"
    [style.background-position]="router.url.startsWith('/verify') || router.url.startsWith('/about') ? '' : 'bottom right'"
    [style.background-image]="'url(' + selectedBackgroundImage + ')'">

    <!-- Routing Content -->
    <div class="main_content" (window:resize)="gs.onResize($event)">

      <!-- Data Content -->
      <router-outlet></router-outlet>

    </div>

    <app-material-fab></app-material-fab>

  </mat-sidenav-content>

</mat-sidenav-container>

<!-- Footer -->
<app-footer></app-footer>

<!-- Loading Animation -->
<ngx-spinner [bdColor]="'#0000007f'" [type]="'square-jelly-box'" [size]="'medium'" [color]="'#e84360'">
  <p class="text-white text-center">
    Sedang Memuat Data ^_^ <br /> Mohon Menunggu ... <br />
    <span class="text-warning" (click)="resetLoading()">
      <u style="cursor: pointer;">Batalkan</u>
    </span>
  </p>
</ngx-spinner>