<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/index.html" class="logo">
            <img src="/assets/images/logo.png" style="height: 64px;" />
          </a>
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="#top" class="active">
                Beranda
              </a>
            </li>
            <li class="scroll-to-section">
              <a href="#services">
                Fitur &amp; Layanan
              </a>
            </li>
            <li>
              <div class="gradient-button">
                <a href="#">
                  <i class="fa fa-sign-in-alt me-2"></i>
                  Masuk Akun
                </a>
              </div>
            </li> 
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Fan-Share Indonesia</h2>
                  <h5 class="my-3">
                    Berbagi-pakai berkas "GRATIS" tanpa batas. <br />
                    Unggah Gambar, Video, Musik, Dokumen, Aplikasi, &amp;/ Apapun itu. <br />
                    Bagikan dengan siapa saja.
                  </h5>
                  <h6>* Web ini belum jadi, masih dalam tahap pengembangan ~</h6>
                </div>
                <div class="col-lg-12 my-3">
                  <div class="border-button first-button scroll-to-section">
                    <a href="#">
                      Unggah Tanpa Akun
                      <i class="ms-2 fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="/assets/images/slider-dec.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>Kemudahan <em>Layanan &amp; Fitur</em> untuk Anda</h4>
          <img src="/assets/images/heading-line-dec.png" />
          <h5>
            Khusus untuk yang ingin mengunggah berkas <u>Anime</u> &amp; <u>Drama</u>,
            sangat disarankan untuk menggunakan
            <a href="https://www.fansub.id/berkas" target="_blank">FSID</a>
            agar lebih mudah dicari dan dikelompokan secara permanen dan tentunya "GRATIS" tanpa biaya &amp; iklan yang mengganggu,
            hanya saja tampilannya wibu :v
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="service-item second-service">
          <div class="icon"></div>
          <h4>Akses Cepat</h4>
          <p>Tersedia akses berkas dengan tautan secara permanen langsung.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-item first-service">
          <div class="icon"></div>
          <h4>UI/UX Simpel</h4>
          <p>Tampilan &amp; fitur aplikasi yang mudah untuk digunakan.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-item third-service">
          <div class="icon"></div>
          <h4>Terstruktur</h4>
          <p>Lokasi folder &amp; berkas teratur dengan penamaan sesuai URL.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-item fourth-service">
          <div class="icon"></div>
          <h4>Komunitas &amp; Bantuan</h4>
          <p>
            Diskusi dengan pengguna lain.
          </p>
          <div class="text-button">
            <a href="https://discord.gg/xGWdExk">
              Discord
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-12 align-self-center">
        <div class="section-heading">
          <h3>Berkas Pengguna <strong>Anonim Publik</strong> Terakhir Di Unggah</h3>
          <img src="/assets/images/heading-line-dec.png" />
          <p>Berkas yang di unggah oleh pengguna tidak terdaftar (Anonim) akan muncul secara publik di sini.</p>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="box-item">
              <h5>
                <a href="#">[Fansub] Nama Berkas - 88 (BD 720p x264 AAC) [1a2b3c].zip</a>
              </h5>
              <p>88-88-8888 &commat; 88:88:88 AM :: 88x Di Unduh</p>
            </div>
          </div>
          <div class="col-12">
            <div class="box-item">
              <h5>
                <a href="#">Aku &amp; Kakak Kembar-ku Di Kebun.3gp</a>
              </h5>
              <p>88-88-8888 &commat; 88:88:88 PM :: 88x Di Unduh</p>
            </div>
          </div>
          <div class="col-12">
            <div class="box-item">
              <h5>
                <a href="#">Cheat PointBlank Full Hack Gemscool.exe</a>
              </h5>
              <p>88-88-8888 &commat; 88:88:88 AM :: 88x Di Unduh</p>
            </div>
          </div>
          <div class="col-12">
            <div class="box-item">
              <h5>
                <a href="#">Koleksi Full 48 Family Lagu + Poster.rar</a>
              </h5>
              <p>88-88-8888 &commat; 88:88:88 PM :: 88x Di Unduh</p>
            </div>
          </div>
          <div class="col-12">
            <div class="box-item">
              <h5>
                <a href="#">Arsip Film Vanilla Blue 2000 - 2023.torrent</a>
              </h5>
              <p>88-88-8888 &commat; 88:88:88 AM :: 88x Di Unduh</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6">
        <div class="right-image">
          <img src="/assets/images/about-right-dec.png" />
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- <div id="pricing" class="pricing-tables">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>Kategori Pengguna</h4>
          <img src="/assets/images/heading-line-dec.png" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-regular">
          <span class="price">$0</span>
          <h4>Anonim Publik</h4>
          <div class="icon">
            <img src="/assets/images/pricing-table-01.png" />
          </div>
          <ul>
            <li>Lorem Ipsum Dolores</li>
            <li>20 TB of Storage</li>
            <li class="non-function">Life-time Support</li>
            <li class="non-function">Premium Add-Ons</li>
            <li class="non-function">Fastest Network</li>
            <li class="non-function">More Options</li>
          </ul>
          <div class="border-button">
            <a href="#">Purchase This Plan Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-pro">
          <span class="price">$0</span>
          <h4>Pengguna Terdaftar</h4>
          <div class="icon">
            <img src="/assets/images/pricing-table-01.png" />
          </div>
          <ul>
            <li>Lorem Ipsum Dolores</li>
            <li>50 TB of Storage</li>
            <li>Life-time Support</li>
            <li>Premium Add-Ons</li>
            <li class="non-function">Fastest Network</li>
            <li class="non-function">More Options</li>
          </ul>
          <div class="border-button">
            <a href="#">Purchase This Plan Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-regular">
          <span class="price">$1</span>
          <h4>Pengguna Khusus</h4>
          <div class="icon">
            <img src="/assets/images/pricing-table-01.png" />
          </div>
          <ul>
            <li>Lorem Ipsum Dolores</li>
            <li>120 TB of Storage</li>
            <li>Life-time Support</li>
            <li>Premium Add-Ons</li>
            <li>Fastest Network</li>
            <li>More Options</li>
          </ul>
          <div class="border-button">
            <a href="#">Purchase This Plan Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>Kelola Berkas Kamu Sekarang ...</h4>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-3" id="search">
        <div class="row">
          <div class="col-12">
            <fieldset>
              <button type="submit" class="main-button">
                Menuju Halaman Dasbor
                <i class="ms-2 fa fa-angle-right"></i></button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Hubungi Kami</h4>
          <p class="m-0">Ibu Kota Nusantara, Indonesia</p>
          <p>
            <a href="mailto:noreply@fansub.id">
              noreply &commat; fansub.id
            </a>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-widget">
          <h4>Tautan Lainnya</h4>
          <ul class="mb-3">
            <li>
              <a href="#">
                Syarat &amp; Ketentuan
              </a>
            </li>
            <li>
              <a href="#">
                Kebijakan Privasi
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://www.fansub.id">
                FSID - Main Site
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Tentang Kami</h4>
          <div class="logo">
            <img src="/assets/images/white-logo.png" />
          </div>
          <p>
            Anggota Dari
            <a href="https://www.fansub.id" target="_blank">
              FSID
            </a>
          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>
            Copyright © 2024 - All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>