<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row">
    <div class="col-12">
      <div class="alert alert-secondary fade show">
        <h2 class="alert-heading">Tentang & Informasi!</h2>
        <p class="ps-3">
          Website ini sebenarnya dibuat hanya dengan tujuan untuk
          <i>listing</i>
          daftar berkas secara pribadi yang saya backup di tempat penyimpanan secara
          <i>online</i>.
        </p>
        <p class="ps-3">
          <s>Sebenernya gw gabut a.k.a pengangguran~ wkwkwkwkwk~</s>
        </p>
        <p class="ps-3">Namun apabila ada orang lain yang ikut nimbrung juga silahkan saja.</p>
        <p class="ps-3">Terima Kasih Atas Kontribusinya ^_^</p>
        <hr />
        <p class="mb-0 text-end pe-3">
          <a routerLink="/user/bifeldy" style="text-decoration: none;">@Bifeldy</a>
          --
        </p>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3" *ngFor="let p of aboutProject">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar style="background-size: cover;"
              [style.background-image]="'url(' + p.logo + ')'"></div>
              <mat-card-title>{{ p.name }}</mat-card-title>
              <mat-card-subtitle>{{ p.version }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="p.pict" style="height: 192px; object-fit: cover;" />
            <mat-card-content>
              <p>{{ p.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent" (click)="openWebsite(p.site_url)">
                <mat-icon class="me-1">web</mat-icon>
                Website
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 text-center p-3">
          <button mat-flat-button color="accent" class="m-1" matTooltip="{{ l.value }}" *ngFor="let l of library | keyvalue">
            {{ l.key }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>