<!-- Head -->
<div class="container">
  <div class="row">
    <div class="col-12 align-items-center">
      <div class="text-center my-3 mx-auto">
        <img class="p-5" src="{{ ENV.baseUrl }}/assets/img/favicon.png" />
        <h1 class="h3 mb-3 font-weight-normal gradient-text">{{ ENV.siteName }}</h1>
        <h2 class="text-warning pb-3">
          Tempat belajar sambil berdiskusi mengenai hal-hal tentang jejepangan,
          berbagi dan melacak sekaligus mengabadikan berkas proyek garapan tontonan
          baik animasi maupun film drama dari kelompok penerjemah berbahasa Indonesia.
        </h2>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 align-items-center">
      <div class="mouse_scroll">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div>
          <span class="m_scroll_arrows unu"></span>
          <span class="m_scroll_arrows doi"></span>
          <span class="m_scroll_arrows trei"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">

  <!-- Detail -->
  <div class="row pb-3">
    <div class="col-12">
      <div class="alert alert-secondary fade show">
        <h2 class="alert-heading">Tentang & Informasi!</h2>
        <p class="ps-3">
          Website ini sebenarnya dibuat hanya dengan tujuan untuk
          <i>listing</i>
          daftar berkas (Anime & Drama) secara pribadi yang saya backup di tempat penyimpanan secara
          <i>online</i>. Terus juga sekalian aja tambahin modul - modul belajar Nihongo
          karena masih memiliki bau yang sama ya 'kan, jejepangan. Hehehe~
        </p>
        <p class="ps-3">
          <s>Sebenernya gw gabut a.k.a pengangguran dan cuman mau ngetes tugas akhir proyek kampus~ wkwkwkwkwk~</s>
          Namun apabila ada orang lain yang ikut nimbrung juga silahkan saja.
        </p>
        <p class="ps-3">
          Semua gambar yang bisa dibilang sebagai maskot atau simbol pada website ini,
          bukan merupakan hasil karya orisinil melainkan milik 
          <a href="https://www.pixiv.net/en/users/1688603" target="_blank" style="text-decoration: none;">あおいとり</a>.
          Silahkan bantu dan atau dukung melalui tautan halaman toko
          <a href="https://aoitori-jpn.booth.pm" target="_blank" style="text-decoration: none;">
            <i>booth</i>
          </a>
          jika ingin membeli dan mendapatkan <i>merchandise</i> / suvenir secara fisik.
        </p>
        <p class="ps-3">
          Informasi lebih lanjut <a routerLink="/news" style="text-decoration: none;">klik disini</a> bro!
        </p>
        <p class="ps-3">Terima kasih atas kontribusinya (｡>﹏<｡)</p>
        <hr />
        <p class="mb-0 text-end pe-3">
          @
          <a routerLink="/news" style="text-decoration: none;">Solo Koding All The Way</a>
          --
        </p>
      </div>
    </div>
    <div class="col-12 text-center">
      <button mat-button color="accent" class="m-3" (click)="toggleDetail()">
        So Bad Yet, So Good!
        <br />
        ~ (｡&gt;﹏&lt;｡) ~
        <br />
        .: Hack Me Please :.
      </button>
    </div>
    <div class="col-12" *ngIf="detailed">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3" *ngFor="let p of aboutProject">
          <mat-card class="gradient-border rgb-border">
            <mat-card-header>
              <div mat-card-avatar style="background-size: cover;"
              [style.background-image]="'url(' + p.logo + ')'"></div>
              <mat-card-title>{{ p.name }}</mat-card-title>
              <mat-card-subtitle>{{ p.version }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="p.pict" style="height: 192px; object-fit: cover;" />
            <mat-card-content>
              <p>{{ p.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent" (click)="openWebsite(p.site_url)">
                <mat-icon class="me-1">web</mat-icon>
                Website
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="detailed">
      <div class="row">
        <div class="col-12 text-center p-3">
          <button mat-flat-button color="accent" class="m-1" matTooltip="{{ l.value }}" *ngFor="let l of library | keyvalue">
            {{ l.key }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>