<div class="row">
  <div class="col-12 sticky-top bg-bifeldy">
    <h2 class="pt-3 border-bottom-dotted">
      <b class="text-bifeldy">Donasi Perawatan Server</b>
    </h2>
  </div>
  <div class="col-12">
    <p class="gradient-border rgb-border mx-2 mb-2">
      <a href="{{ githubUrl }}" target="_blank">
        <img src="/assets/img/logo/github.png" class="w-100" />
      </a>
      <a href="{{ trakteerUrl }}" target="_blank">
        <img src="/assets/img/logo/trakteer.png" class="w-100" />
      </a>
      <a href="{{ saweriaUrl }}" target="_blank">
        <img src="/assets/img/logo/saweria.png" class="w-100" />
      </a>
    </p>
  </div>
</div>