<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">

  <!-- Summaries -->
  <div class="row p-3">
    <div class="col-12 col-md-6 py-1 bg-bifeldy-dark" *ngIf="barChartAnimeData.length > 0 && barChartAnimeLabels.length > 0">
      <canvas baseChart [data]="barChartAnimeData" [labels]="barChartAnimeLabels" [chartType]="barChartType"
        [options]="barChartAnimeOptions" [plugins]="chartPlugins" [legend]="false">
      </canvas>
    </div>
    <div class="col-12 col-md-6 py-1 bg-bifeldy-dark" *ngIf="barChartDoramaData.length > 0 && barChartDoramaLabels.length > 0">
      <canvas baseChart [data]="barChartDoramaData" [labels]="barChartDoramaLabels" [chartType]="barChartType"
        [options]="barChartDoramaOptions" [plugins]="chartPlugins" [legend]="false">
      </canvas>
    </div>
    <div class="col-12 col-md-6 py-1 bg-bifeldy-dark" *ngIf="pieChartStatusData.length == 2 && pieChartStatusLabels.length == 2">
      <canvas baseChart [data]="pieChartStatusData" [labels]="pieChartStatusLabels" [chartType]="pieChartType"
        [options]="pieChartStatusOptions" [plugins]="chartPlugins" [legend]="true">
      </canvas>
    </div>
    <div class="col-12 col-md-6 py-1 bg-bifeldy-dark" *ngIf="doughnutChartGarapanData.length == 2 && doughnutChartGarapanLabels.length == 2">
      <canvas baseChart [data]="doughnutChartGarapanData" [labels]="doughnutChartGarapanLabels" [chartType]="doughnutChartType"
        [options]="doughnutChartGarapanOptions" [plugins]="chartPlugins" [legend]="true">
      </canvas>
    </div>
  </div>

  <!-- Detail -->
  <div class="row">
    <app-material-tab (tableRowClicked)="openFansub($event)" (buttonClicked)="openUrl($event)" [tabData]="tabData"></app-material-tab>
  </div>

</div>