<!-- Seasonal Banner (1920px * 128px)-->
<div class="container-fluid fansub-banner"></div>

<!-- Content -->
<div class="container">

  <!-- Summaries -->
  <div class="row p-3">
    <div class="col-12 col-md-6 py-1" *ngIf="barChartData.length > 0 && barChartLabels.length > 0 && barChartData.length == barChartLabels.length">
      <canvas baseChart [data]="barChartData" [labels]="barChartLabels" [chartType]="barChartType"
        [options]="chartOptions" [plugins]="chartPlugins" [legend]="false">
      </canvas>
    </div>
    <div class="col-12 col-md-6 py-1" *ngIf="pieChartData.length > 0 && pieChartLabels.length > 0 && pieChartData.length == pieChartLabels.length">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="chartOptions" [plugins]="chartPlugins" [legend]="true">
      </canvas>
    </div>
  </div>

  <!-- Detail -->
  <div class="row" *ngIf="fansubData.length > 0">
    <app-material-tab (tableRowClicked)="openFansub($event)" [tabData]="tabData"></app-material-tab>
  </div>
</div>