<div appDragDrop class="h-100" (fileDropped)="onFileDropped($event)">

  <!-- Notification -->
  <app-notifications></app-notifications>

  <!-- Content -->
  <div class="container">

    <!-- Detail -->
    <div class="row pb-3 px-0">
      <div class="col-12">
        <div class="row">
          <div class="col-12 sticky-top bg-bifeldy">
            <h2 class="pt-3 border-bottom-dotted">
              <b class="text-bifeldy">Web-SocketRTC Torrent</b>
            </h2>
          </div>
          <div class="col-12">

            <!-- Input Form Filter -->
            <mat-form-field hintLabel="Isi Lalu Tekan 'Enter' Untuk Mencari Torrent ..." class="col-12 col-md-6 col-lg-4 px-3 mb-3" [color]="'accent'">
              <mat-label>Unduh Dari Info Hash / Magnet URI</mat-label>
              <input matInput #input placeholder="Ex. magnet:123qwe...!@#" (keyup.enter)="downloadFiles($event)" [(ngModel)]="magnetHash" [disabled]="isProcessing" />
              <mat-icon matSuffix>cloud_download</mat-icon>
              <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
            </mat-form-field>

            <!-- Table -->
            <div class="row mx-2">
              <div class="col-12" style="overflow-x: auto;">
                <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource" class="bg-transparent">

                  <!-- Content Row -->
                  <ng-container matColumnDef="{{ tdc }}" *ngFor="let tdc of tableDataColumn">
                    <th mat-header-cell *matHeaderCellDef class="px-3 text-center" mat-sort-header>
                      <h3 class="m-0">
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'NAME'">🔖 NAME</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'LENGTH'">💾 SIZE</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'DOWNLOADED'">💿 DOWNLOADED</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'UPLOADED'">📀 UPLOADED</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'PROGRESS'">🔄 PROGRESS</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'DOWNLOADSPEED'">🔽 SPEED</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'UPLOADSPEED'">🔼 SPEED</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'TIMEREMAINING'">🕑 ~ETA.</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'NUMPEERS'">🧲 PEERS</span>
                        <span [style.color]="'#ff4081'" *ngIf="tdc.toUpperCase() === 'RATIO'">🌐 RATIO</span>
                      </h3>
                    </th>
                    <td mat-cell *matCellDef="let row" class="px-3 text-center" style="cursor: pointer;">
                      <h3 class="m-0 {{ tdc.toUpperCase() === 'NAME' ? 'text-start' : '' }}">
                        <span *ngIf="tdc.toUpperCase() === 'NAME'">{{ row[tdc] }}</span>
                        <span *ngIf="tdc.toUpperCase() === 'LENGTH'">{{ row[tdc] | bytes }}</span>
                        <span *ngIf="tdc.toUpperCase() === 'DOWNLOADED'">{{ row[tdc] | bytes }}</span>
                        <span *ngIf="tdc.toUpperCase() === 'UPLOADED'">{{ row[tdc] | bytes }}</span>
                        <span *ngIf="tdc.toUpperCase() === 'PROGRESS'">{{ row['downloaded'] / row['length'] * 100 | number:'1.2-2' }} %</span>
                        <span *ngIf="tdc.toUpperCase() === 'DOWNLOADSPEED'">{{ row[tdc] | bytes }}/s</span>
                        <span *ngIf="tdc.toUpperCase() === 'UPLOADSPEED'">{{ row[tdc] | bytes }}/s</span>
                        <span *ngIf="tdc.toUpperCase() === 'TIMEREMAINING'">{{ row[tdc] <= 0 ? 'COMPLETED' : (row[tdc] / 1000 | number:'1.0-0') + ' s' }}</span>
                        <span *ngIf="tdc.toUpperCase() === 'NUMPEERS'">{{ row[tdc] }}</span>
                        <span *ngIf="tdc.toUpperCase() === 'RATIO'">{{ row[tdc] | number:'1.4-4' }}</span>
                      </h3>
                    </td>
                  </ng-container>

                  <!-- Expanded Content Row -->
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let row" [attr.colspan]="tableDataColumn.length">
                      <div class="element-detail" [@detailExpand]="row === TORRENT.expandedRow ? 'expanded' : 'collapsed'">
                        <div class="py-3 row">
                          <div class="col-3">
                            <div class="p2p-graph graphP2p-{{ row.infoHash }}"></div>
                          </div>
                          <div class="col-9">
                            <p class="px-2 text-truncate" *ngIf="row.infoHash">
                              Info Hash ::
                              <span class="text-success">
                                {{ row.infoHash }}
                              </span>
                            </p>
                            <p class="px-2 text-truncate" *ngIf="row.magnetURI">
                              Magnet URI ::
                              <span class="text-primary text-decoration-none" matTooltip="Klik Untuk Menyalin!" (click)="copyMagnetHashToClipboard(row.magnetURI)">
                                {{ row.magnetURI }}
                              </span>
                            </p>
                            <div class="px-2 text-truncate">
                              Announce Trackers ::
                              <ul class="text-success m-0">
                                <li *ngFor="let a of row.announce">
                                  {{ a }}
                                </li>
                              </ul>
                            </div>
                            <div class="p-2">
                              <button mat-stroked-button class="m-1 text-warning" (click)="refreshGraph(row)">
                                <mat-icon class="me-1">refresh</mat-icon>
                                Refresh Graph
                              </button>
                              <button mat-stroked-button class="m-1 text-warning" (click)="removeTorrent(row)">
                                <mat-icon class="me-1">delete_outline</mat-icon>
                                Remove
                              </button>
                              <button mat-stroked-button class="m-1 text-warning" (click)="resumeTorrent(row)" *ngIf="row.paused">
                                <mat-icon class="me-1">play_arrow</mat-icon>
                                Resume
                              </button>
                              <button mat-stroked-button class="m-1 text-warning" (click)="pauseTorrent(row)" *ngIf="!row.paused">
                                <mat-icon class="me-1">pause</mat-icon>
                                Pause
                              </button>
                            </div>
                            <div class="px-2">
                              <div mat-subheader class="p-0">Rincian Isi Berkas ✨</div>
                              <mat-selection-list [multiple]="false">
                                <mat-list-option *ngFor="let f of row.files" class="h-100">
                                  <mat-icon mat-list-icon class="ps-3">file_present</mat-icon>
                                  <div (click)="saveFile(f)" style="cursor: pointer;">
                                    <span class="text-{{ f.downloaded / f.length >= 1 ? 'primary' : 'bifeldy' }}">
                                      {{ f.name }}
                                    </span>
                                    --
                                    <span class="text-warning">
                                      {{ f.downloaded / f.length * 100 | number:'1.2-2' }} %
                                    </span>
                                    ::
                                    <span class="text-success">
                                      {{ f.downloaded | bytes }} / {{ f.length | bytes }}
                                    </span>
                                  </div>
                                </mat-list-option>
                              </mat-selection-list>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="tableDataColumn"></tr>
                  <tr mat-row *matRowDef="let row; columns: tableDataColumn;"
                    class="element-row" [class.expanded-row]="TORRENT.expandedRow === row"
                    (click)="toggleExpanded(row)"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center align-items-center p-0" [attr.colspan]="tableDataColumn.length"
                      style="background-image: url('/assets/img/404-no-data.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 256px;">
                      <div class="row align-items-center h-100">
                        <div class="col-8 mx-auto text-light text-center rounded py-3" style="background-color: rgba(128, 128, 128, 0.875);">
                          <h3 class="m-0">
                            Tidak Ada Data ¯\_(ツ)_/¯
                          </h3>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  
  <input type="file" #fileDropRef id="fileDropRef" multiple
  (change)="fileBrowseHandler($event)" [disabled]="isProcessing" style="visibility: hidden;" />
  
  <button (click)="fileDropRef.click()" mat-fab color="warn" class="me-3 mb-5 fab-button animate__animated animate__bounce animate__infinite animate__slow" matTooltip="Seed Berkas"
  style="position: fixed; bottom: 0; right: 0;" [disabled]="isProcessing">
  <mat-icon>cloud_upload</mat-icon>
  </button>

</div>
