<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top bg-light">
          <h2 class="pt-3 border-bottom-dotted">
            <a class="float-right text-decoration-none" routerLink="/news" style="font-size: small;">
              Selengkapnya
            </a>
            <b class="text-secondary">Papan Pengumuman</b>
          </h2>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 p-3" *ngFor="let n of news | slice:0:6">
              <mat-card>
                <img mat-card-image [src]="n.image_url" style="height: 128px; object-fit: cover; cursor: pointer;" routerLink="/news/{{ n.id }}" />
                <mat-card-content routerLink="/news/{{ n.id }}" style="cursor: pointer;">
                  <h3>
                    <b>{{ n.title }}</b>
                  </h3>
                </mat-card-content>
                <mat-card-header>
                  <div mat-card-avatar style="background-size: cover;"
                  [style.background-image]="'url(' + n.user_.image_url + ')'"></div>
                  <mat-card-title routerLink="/user/{{ n.user_.username }}" class="text-primary mb-1" style="cursor: pointer;">
                    <h3 class="mb-0">{{ n.user_.username }}</h3>
                  </mat-card-title>
                  <mat-card-subtitle class="mb-0">{{ n.created_at }}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top">
        <div class="col-12">
          <app-banner></app-banner>
          <app-stats-server></app-stats-server>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <app-material-tab></app-material-tab>
    </div>
  </div>

</div>