<!-- Head -->
<div class="container">
  <div class="row">
    <div class="col-12 align-items-center">
      <div class="text-center my-3 mx-auto">
        <a href="https://www.pixiv.net/en/users/1688603" target="_blank">
          <img class="p-5" src="{{ ENV.baseUrl }}/assets/img/favicon.png" />
        </a>
        <h1 class="h3 font-weight-normal gradient-text">{{ ENV.siteName }}</h1>
        <h2 class="text-warning pt-3">
          <p class="col-12 col-lg-8 mx-auto">
            Tempat berbagi (+ <i>backup</i>) dan melacak sekaligus mengabadikan berkas proyek garapan
            animasi maupun film drama dari, oleh, untuk siapa saja.
          </p>
        </h2>
        <h3 class="text-success" matTooltip="Khusus Berkas Yang Upload DDL">
          <p class="col-12 col-lg-8 mx-auto">
            * Tempat arsip abadi :: Anti <i><u>link</u></i> mati ~
          </p>
        </h3>
        <div class="row pb-3">
          <div class="col-12 col-lg-8 mx-auto">
            <a class="m-1 {{ menu.link ==='/berkas' ? 'shiny' : '' }}" mat-stroked-button color="warn" routerLink="{{ menu.link }}" *ngFor="let menu of contentMenus">
              <mat-icon [fontIcon]="menu.icon" class="me-1"></mat-icon>
              {{ menu.name }}
            </a>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-12 col-lg-8 mx-auto">
            <a class="m-1" mat-stroked-button routerLink="/create/ticket">
              <mat-icon fontIcon="flag" class="me-1"></mat-icon>
              Lapor Pelanggaran & Penyalahgunaan
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 align-items-center">
      <div class="mouse_scroll">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div>
          <span class="m_scroll_arrows unu"></span>
          <span class="m_scroll_arrows doi"></span>
          <span class="m_scroll_arrows trei"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <a class="float-end text-decoration-none text-warning" routerLink="/news" style="font-size: small;">
              Selengkapnya
            </a>
            <b class="text-bifeldy">Papan Pengumuman</b>
          </h2>
        </div>
        <div class="col-12">
          <div class="row">
            <app-no-data class="col-12 p-3" *ngIf="newsData.length <= 0"></app-no-data>
            <div class="col-12" *ngIf="newsData.length > 0">
              <div class="row px-3">
                <div class="col-12 col-md-6 col-xl-4 p-2" *ngFor="let n of newsData | slice:0:(GS.gridListBreakpoint === 3 ? 2 : GS.gridListBreakpoint)">
                  <mat-card>
                    <img mat-card-image [src]="n.image_url" style="height: 128px; object-fit: cover; cursor: pointer;" routerLink="/news/{{ n.id }}" />
                    <mat-card-content routerLink="/news/{{ n.id }}" style="cursor: pointer;">
                      <h3 matLine style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                        {{ n.title }}
                      </h3>
                    </mat-card-content>
                    <mat-card-header>
                      <div mat-card-avatar style="background-size: cover; border-radius: 0;"
                      [style.background-image]="'url(' + n.user_.image_url + ')'"></div>
                      <mat-card-title routerLink="/user/{{ n.user_.username }}" class="text-warning mb-1" style="cursor: pointer;">
                        <h3 class="mb-0">{{ n.user_.username }}</h3>
                      </mat-card-title>
                      <mat-card-subtitle class="mb-0">{{ n.created_at | date:'d MMMM y, HH:mm:ss z' }}</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <a class="float-end text-decoration-none text-warning" routerLink="/nihongo" style="font-size: small;">
              Selengkapnya
            </a>
            <b class="text-bifeldy">Belajar Bahasa Jepang</b>
          </h2>
        </div>
        <div class="col-12">
          <app-banner-nihongo></app-banner-nihongo>
        </div>
      </div> -->
      <div class="row" *ngIf="rssFeedData.length > 0">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <a class="float-end text-decoration-none text-warning" routerLink="/rss-feed" style="font-size: small;">
              Lainnya
            </a>
            <b class="text-bifeldy" matTooltip="Diperbaharui Beberapa Jam Sekali">
              RSS Feed Fansub Aktif
            </b>
          </h2>
        </div>
        <div class="col-12">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let r of rssFeedData | slice:0:10" class="h-100">
              <mat-icon fontIcon="rss_feed" mat-list-icon class="ps-3"></mat-icon>
              <a class="text-truncate text-decoration-none" (click)="openRssFeed(r.item?.link)">
                <span class="bg-bifeldy px-2 me-1 text-danger" style="position: absolute; right: 0;" matTooltip="{{ (r.item?.created || r.item?.published) | date:'d MMMM y, hh:mm:ss a z' }}">
                  {{ (r.item?.created || r.item?.published) | dateAgo }}
                </span>
                <span class="me-3 text-success">{{ r.slug }}</span>
                <span class="text-warning" [innerHtml]="r.item?.title"></span>
              </a>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="row" *ngIf="komentarData.length > 0">
        <div class="col-12 sticky-top bg-bifeldy">
          <h2 class="pt-3 border-bottom-dotted">
            <span class="float-end text-warning" style="font-size: small; cursor: pointer;" (click)="getComment()">
              Refresh
            </span>
            <b class="text-bifeldy">Komentar Terbaru</b>
          </h2>
        </div>
        <div class="col-12">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let k of komentarData" class="h-100">
              <mat-icon fontIcon="add_comment" mat-list-icon class="ps-3"></mat-icon>
              <a class="text-truncate text-decoration-none" (click)="openComment(k)">
                <span class="bg-bifeldy px-2 me-1 text-danger" style="position: absolute; right: 0;" matTooltip="{{ k.created_at | date:'d MMMM y, hh:mm:ss a z' }}">
                  {{ k.created_at | dateAgo }}
                </span>
                <span class="me-3 text-success">{{ k.user_.username }}</span>
                <span class="text-warning">{{ k.comment }}</span>
              </a>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top">
        <div class="col-12">
          <app-banner-donasi></app-banner-donasi>
          <app-banner-discord></app-banner-discord>
          <app-stats-server></app-stats-server>
        </div>
      </div>
    </div>
  </div>

</div>