<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-12 sticky-top bg-light">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-secondary">Informasi, Pengumuman, Dan Berita Terkini</b>
          </h2>
        </div>
        <div class="col-12">
          <p class="px-2" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
            // TODO {{ i }} :: home works!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3">
      <div class="row sticky-top">
        <div class="col-12">
          <app-banner></app-banner>
          <app-stats-server></app-stats-server>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <app-material-tab></app-material-tab>
    </div>
  </div>

</div>