<div class="container-fluid align-items-center w-100 h-100"
  style="background-size: cover; background-repeat: repeat; background-position: center; transform: rotateY(180deg);" *ngIf="fg">
  <div class="row align-items-center h-100 m-0" style="transform: rotateY(180deg);">
    <div class="col-12 col-md-10 m-auto py-3">
      <div class="row rgb-border rounded bg-bifeldy">
        <div class="col-lg-5 col-md-3 ms-auto p-0" [ngStyle]="{
          'background-position': 'center',
          'background-size': 'cover',
          'background-image': 'url(' + loginImg + ')'
        }"></div>
        <div class="col-lg-7 col-md-9 me-auto p-0">
          <div class="card bg-transparent border-0">
            <div class="card-body">
              <form [formGroup]="fg" class="m-2" (ngSubmit)="onClickedSubmit()" *ngIf="fg">
                <div class="text-center mb-4">
                  <img class="mb-4" src="{{ ENV.baseUrl }}/assets/img/logo/login.png" style="max-width: 128px;" />
                  <h1 class="h3 mb-3 font-weight-normal">Hai, Jumpa Lagi! >_<"</h1>
                  <p class="text-warning">{{ loginInfo }}</p>
                </div>
                <div class="form-group row py-2">
                  <label for="userNameOrEmail" class="col-md-4 col-form-label text-md-end">Surel / Nama Pengguna</label>
                  <div class="col-md-8">
                    <input type="text" id="userNameOrEmail" class="text-bifeldy form-control {{
                        !fg.get('userNameOrEmail').valid && fg.get('userNameOrEmail').touched ? 'is-invalid' : ''
                      }}" placeholder="Username / E-Mail" required formControlName="userNameOrEmail" autocomplete="email, username" />
                    <span class="invalid-feedback" role="alert">
                      <strong *ngIf="fg.get('userNameOrEmail').hasError('required')">
                        Username / Email Tidak Boleh Kosong! <br />
                      </strong>
                      <strong *ngIf="fg.get('userNameOrEmail').hasError('pattern')">
                        Username / Email Hanya Boleh Huruf Standar Papan Ketik <br />
                      </strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <label for="password" class="col-md-4 col-form-label text-md-end">Kata Sandi</label>
                  <div class="col-md-8">
                    <input type="password" id="password" class="text-bifeldy form-control {{
                        !fg.get('password').valid && fg.get('password').touched ? 'is-invalid' : ''
                      }}" placeholder="Password" required formControlName="password" autocomplete="current-password, new-password" />
                    <span class="invalid-feedback" role="alert">
                      <strong *ngIf="fg.get('password').hasError('required')">
                        Password Tidak Boleh Kosong! <br />
                      </strong>
                      <strong *ngIf="fg.get('password').hasError('pattern')">
                        Password Hanya Boleh Huruf Standar Papan Ketik <br />
                      </strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row py-2">
                  <div class="col offset-md-4">
                    <div class="form-check">
                      <input id="rememberMe" class="form-check-input" type="checkbox" formControlName="rememberMe" />
                      <label class="form-check-label" for="rememberMe" style="padding-top: 0.125rem !important;">
                        Biarkan Saya Tetap Login Hingga {{ maxRememberMeDays }} Hari
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row mb-0 py-2">
                  <div class="col-md-8 offset-md-4">
                    <div class="row gy-3">
                      <div class="col-lg-6 col-12">
                        <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="submitted || fg.invalid">
                          Masuk <mat-icon class="ms-1">vpn_key</mat-icon>
                        </button>
                      </div>
                      <div class="col-lg-6 col-12">
                        <a mat-stroked-button color="accent" class="w-100" routerLink="/reset-password" [disabled]="submitted">
                          Lupa Akun ~
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
