/* You can add global styles to this file, and also import other style files */

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}

.mat-row {
  &:hover {
    background-color: rgba(255, 255, 255, 0.875);
  }
  a {
    color: #7289da;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-icon {
  color: #7289da;
}

@media screen and (max-width: 992px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }

  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      background-color: rgba(255, 255, 255, 0.875);
      border-radius: 3px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 8px 16px;
      margin: 0;
      border: 0 none;
      &:first-child, &:last-child {
        a {
          font-size: 20px;
          color: inherit;
        }
        &:before {
          display: none;
        }
      }
      &:first-child {
        padding: 16px 48px 8px 16px;
      }
      &:last-child {
        padding: 8px 48px 16px 16px;
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0, 0, 0, .5);
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
      }
    }

    .mat-column-star {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      &:before {
        display: none;
      }
    }
  }

  .mat-paginator {
    margin-top: 24px;
  }

}

.mat-ripple:not(:empty) {
  transform: none;
}
