<!-- Input Form Filter -->
<mat-form-field hintLabel="Judul / Author / etc." class="px-3 mb-3">
  <mat-label>Filter Dan Pencarian</mat-label>
  <input matInput #input placeholder="Ex. Bifeldy" (keyup)="applyFilter($event)" />
  <mat-icon matSuffix>search</mat-icon>
  <mat-hint align="end">{{ input.value?.length || 0 }} Huruf</mat-hint>
</mat-form-field>

<!-- Table -->
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="{{ tdc }}" *ngFor="let tdc of tableDataColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <h4 class="m-0" [style.color]="'#ff4081'">{{ tdc.toUpperCase() }}</h4>
    </th>
    <td mat-cell *matCellDef="let row">
      <img matListAvatar src="/favicon.ico" style="width: 32px;" *ngIf="tdc == 'Pemilik'" />
      {{ row[tdc] }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableDataColumn"></tr>  
  <tr mat-row matRipple [matRippleDisabled]="rippleDisabled" (window:resize)="onResize($event)"
    *matRowDef="let row; columns: tableDataColumn;" (click)="openData(this.row)"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Tidak Ada Data Yang Sesuai :: "{{ input.value }}"</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>