<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row px-3">
    <div class="col-12">
      <form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
        <div class="row mt-3 mb-3">
          <div class="col-12 sticky-top bg-light">
            <h2 class="pt-3 border-bottom-dotted">
              <b class="text-secondary">Perbaharui Data Fansub</b>
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-5 col-xl-4 p-3">
                <div class="row">
                  <div class="col-12">
                    <img class="w-100 border" [src]="image_url" />
                    <mat-form-field appearance="outline" class="pt-3 w-100">
                      <mat-label>Gambar</mat-label>
                      <ngx-mat-file-input class="w-100" (change)="uploadImage($event, gambar)" #gambar [disabled]="fg.value.image"
                        [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                      <mat-icon matSuffix>image</mat-icon>
                    </mat-form-field>
                    <mat-error class="px-3 w-100">
                      <small>
                        <strong>{{ imageErrorText }}</strong>
                      </small>
                    </mat-error>
                  </div>
                  <div class="col-12" *ngIf="image && !fg.value.image">
                    <button mat-raised-button class="w-100" color="primary" type="button" [disabled]="submitted" (click)="submitImage()">
                      <mat-icon class="mr-1">add_photo_alternate</mat-icon>
                      Unggah
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-xl-8 pt-3">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-7">
                    <mat-label>Nama Fansub</mat-label>
                    <input matInput formControlName="name" placeholder="Fansub Jalanan" />
                    <mat-icon matSuffix>wysiwyg</mat-icon>
                    <mat-error>
                      <strong *ngIf="fg.get('name').hasError('required')">Nama Fansub Tidak Boleh Kosong</strong>
                      <strong *ngIf="fg.get('name').hasError('pattern')">Nama Fansub Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-5">
                    <mat-label>Singkatan</mat-label>
                    <input matInput formControlName="slug" placeholder="Jalsub" />
                    <mat-icon matSuffix>short_text</mat-icon>
                    <mat-error>
                      <strong *ngIf="fg.get('slug').hasError('required')">Singkatan Tidak Boleh Kosong</strong>
                      <strong *ngIf="fg.get('slug').hasError('pattern')">Singkatan Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 w-100">
                    <mat-label>Deskripsi & Informasi</mat-label>
                    <textarea matInput #deskripsi formControlName="description" rows="6"
                      placeholder="Sejarah Singkat Atau Cerita Dan Informasi Mengenai Fansubnya Mungkin ?"></textarea>
                    <mat-icon matSuffix>receipt_long</mat-icon>
                    <mat-hint align="end">{{ deskripsi.value?.length || 0 }} Huruf</mat-hint>
                    <mat-error>
                      <strong *ngIf="fg.get('description').hasError('required')">Deskripsi Tidak Boleh Kosong</strong>
                      <strong *ngIf="fg.get('description').hasError('pattern')">Deskripsi Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-6">
                    <mat-label>Mulai Ada Sejak</mat-label>
                    <input matInput [matDatepicker]="kalender" formControlName="born" (focus)="kalender.open()" placeholder="{{ currentDate | date:'longDate'}}" />
                    <mat-datepicker-toggle matSuffix [for]="kalender"></mat-datepicker-toggle>
                    <mat-datepicker #kalender disabled="false"></mat-datepicker>
                    <mat-error>
                      <strong *ngIf="fg.get('born').hasError('required')">Tanggal Tidak Valid</strong>
                      <strong *ngIf="fg.get('born').hasError('pattern')">Tanggal Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-6">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="active" placeholder="Aktif / Non-Aktif">
                      <mat-option value="0">Tidak Aktif</mat-option>
                      <mat-option value="1">Aktif</mat-option>
                    </mat-select>
                    <mat-hint align="end">Status Kehidupan Fansub Saat Ini</mat-hint>
                    <mat-error>
                      <strong *ngIf="fg.get('active').hasError('required')">Mohon Pilih Salah Satu</strong>
                      <strong *ngIf="fg.get('active').hasError('pattern')">Status Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12">
                    <mat-label>Tags & Kategori</mat-label>
                    <mat-chip-list #tag>
                      <mat-chip *ngFor="let t of fg.value.tags" (removed)="removeTag(t)" color="accent" selected [removable]="true">
                        {{ t }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Label Tag / Kategori" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputFor]="tag" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />
                      <mat-icon matSuffix>loyalty</mat-icon>
                    </mat-chip-list>
                    <mat-hint align="end">Isi Dengan Bebas, Pisahkan Dengan Koma</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-4">
                    <mat-label>Tautan Website</mat-label>
                    <input matInput formControlName="web" placeholder="http://www.domain.id" />
                    <mat-icon matSuffix>web</mat-icon>
                    <mat-error>
                      <strong *ngIf="fg.get('web').hasError('required')">Website Tidak Boleh Kosong</strong>
                      <strong *ngIf="fg.get('web').hasError('pattern')">Website Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-4">
                    <mat-label>Facebook Fanpage</mat-label>
                    <input matInput formControlName="facebook" placeholder="http://www.facebook.com" />
                    <mat-icon matSuffix>facebook</mat-icon>
                    <mat-error>
                      <strong *ngIf="fg.get('facebook').hasError('pattern')">Facebook Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12 col-md-4">
                    <mat-label>Tautan Discord</mat-label>
                    <input matInput formControlName="discord" placeholder="http://www.discord.gg" />
                    <mat-icon matSuffix>
                      <img src="/assets/img/discord-black.png" width="24px" />
                    </mat-icon>
                    <mat-error>
                      <strong *ngIf="fg.get('discord').hasError('pattern')">Discord Hanya Boleh Huruf Standar Papan Ketik</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col"></div>
                  <div class="col-12 col-md-3 pb-3">
                    <a mat-stroked-button routerLink="../" class="w-100" [disabled]="submitted">
                      <mat-icon class="mr-1">undo</mat-icon>
                      Batal
                    </a>
                  </div>
                  <div class="col-12 col-md-3 pb-3">
                    <button mat-flat-button color="accent" type="submit" class="w-100" [disabled]="submitted || fg.invalid || !fg.dirty">
                      Simpan
                      <mat-icon class="ml-1">save</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>