<div class="row">
  <div class="col-12 sticky-top bg-bifeldy-dark">
    <h2 class="pt-3 border-bottom-dotted">
      <b class="text-bifeldy-dark">Statistik Server</b>
    </h2>
  </div>
  <div class="col-12" *ngIf="ss.portalVer">
    <p class="px-2 text-truncate">
      Portal ::
      <span class="text-success">
        {{ ss.portalVer }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="ss.commitDate">
      Date ::
      <span class="text-success">
        {{ ss.commitDate | date:'d MMM y, h:mm:ss a' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="ss.commitUser">
      Commiter ::
      <span class="text-warning">
        <a href="https://github.com/{{ ss.commitUser }}" target="_blank" class="text-warning text-decoration-none">
          {{ ss.commitUser }}
        </a>
      </span>
    </p>
    <p class="px-2" *ngIf="ss.commitMessage">
      Message ::
      <span class="text-warning">
        {{ ss.commitMessage }}
      </span>
    </p>
    <p class="px-2" *ngIf="ss.mySocket">
      Socket ::
      <span class="text-success">
        {{ ss.mySocket.id }}
      </span>
    </p>
    <p class="px-2" *ngIf="ss.latency">
      Latency ::
      <span class="text-success">
        {{ ss.latency }} ms
      </span>
    </p>
    <p class="px-2" *ngIf="ss.visitor">
      Nodes ::
      <span class="text-success">
        {{ ss.visitor }} Koneksi
      </span>
    </p>
  </div>
</div>