<div class="row">
  <div class="col-12 sticky-top bg-light">
    <h2 class="pt-3 border-bottom-dotted">
      <b class="text-secondary">Statistik Server</b>
    </h2>
  </div>
  <div class="col-12">
    <p class="px-2">
      Versi Portal ::
      <span class="text-success">
        {{ ss.portalVer | slice:0:14 }}
      </span>
    </p>
    <p class="px-2">
      Active Download ::
      <span class="text-success">
        {{ ss.activeDdl }} Users
      </span>
    </p>
    <p class="px-2">
      Page Visitor ::
      <span class="text-success">
        {{ ss.visitor }} Users
      </span>
    </p>
  </div>
</div>