<div class="row">
  <div class="col-12 sticky-top bg-bifeldy">
    <h2 class="pt-3 border-bottom-dotted">
      <b class="text-bifeldy">Statistik Server</b>
    </h2>
  </div>
  <div class="col-12">
    <p class="px-2 text-truncate" *ngIf="SS.github?.sha">
      Portal ::
      <span class="text-success">
        {{ SS.github?.sha }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.github?.commit?.author?.date">
      Date ::
      <span class="text-success">
        {{ SS.github?.commit?.author?.date | date:'d MMM y, hh:mm:ss a z' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.github?.commit?.message">
      Message ::
      <span class="text-warning">
        {{ SS.github?.commit?.message }}
      </span>
    </p>
    <p class="px-2 text-truncate">
      Server ::
      <span class="text-warning">
        {{ currentServer?.isMaintenance ? 'Dalam Perbaikan' : 'Berjalan Normal' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.mySocket">
      Socket ::
      <span class="text-success">
        {{ SS.mySocket?.id ? SS.mySocket.id : 'Sambungan Terputus' }}
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.latency">
      Latency ::
      <span class="text-{{ SS.latency > 75 ? 'warning' : 'success' }}">
        {{ SS.latency }} ms
      </span>
    </p>
    <p class="px-2 text-truncate" *ngIf="SS.visitor">
      Nodes ::
      <span class="text-success">
        {{ SS.visitor }} Koneksi
      </span>
    </p>
  </div>
</div>