<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-12 sticky-top bg-bifeldy-dark pb-3">
      <h3 class="m-0 border-bottom border-primary row">
        <mat-form-field class="pt-3 col-4 col-lg-2" [color]="'accent'">
          <mat-label>JLPT</mat-label>
          <mat-select [(value)]="jlptRank">
            <mat-option value="">Semua</mat-option>
            <mat-option value="{{ i }}" *ngFor="let i of [5,4,3,2,1]">N{{ i }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="pt-3 col-4 col-lg-2" [color]="'accent'">
          <mat-label>Sekolah</mat-label>
          <mat-select [(value)]="schoolRank">
            <mat-option value="">Semua</mat-option>
            <mat-option value="{{ i }}" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">Kelas {{ i }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-auto pt-3 col-4 col-lg-4" [color]="'accent'">
          <mat-label>Cari ...</mat-label>
          <input matInput maxlength="200" placeholder="Ex. 私" (keyup.enter)="applyFilter($event)" [(ngModel)]="searchQuery" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </h3>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12" *ngFor="let i of [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20,1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20,1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20]">
          // Konten {{ i }}
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bottom Navigation Bar -->
<div class="container position-sticky bottom-0">
  <mat-paginator class="bg-bifeldy-dark" showFirstLastButtons
    [length]="1234" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" (page)="paginatorChanged($event)"></mat-paginator>
</div>