<div class="container" *ngIf="userData">
  <div class="profile-info align-items-center">
    <div class="media row py-3 px-2">

      <!-- Information -->
      <div class="col-md-4 col-xl-3 px-3">
        <div class="row sticky-top pt-3">
          <div class="col-12">
            <img class="w-100 rounded-circle" src="{{ userData.image_url }}" />
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="col-md-8 col-xl-9 pt-3">
        <div class="row py-3 px-0 profile-height-large">
          <h1 class="m-0 mt-auto">
            <b>{{ userData.kartu_tanda_penduduk_.nama }}</b>
            <mat-icon class="ms-2" matTooltip="Terverifikasi" *ngIf="userData.verified">verified</mat-icon>
            <mat-icon class="ms-2" matTooltip="Banned :: {{ userBanned.reason }}" *ngIf="userBanned">lock</mat-icon>
          </h1>
        </div>
        <div class="row p-3">
          <button mat-stroked-button class="col-12 col-md-4" *ngIf="userData.id" matTooltip="Nomor ID Pengguna" color="accent">
            <mat-icon class="me-2">accessibility_new</mat-icon>
            {{ userData.id }}
          </button>
          <button mat-stroked-button class="col-12 col-md-8" *ngIf="userData.updated_at" matTooltip="Terakhir Login" color="accent">
            <mat-icon class="me-2">access_time</mat-icon>
            {{ userData.updated_at | date:'d/M/yy, h:mm a' }}
          </button>
          <button mat-stroked-button class="col" *ngIf="userData.kartu_tanda_penduduk_.tempat_lahir" matTooltip="Kota Kelahiran" color="accent">
            <mat-icon class="me-2">location_on</mat-icon>
            {{ userData.kartu_tanda_penduduk_.tempat_lahir }}
          </button>
          <button mat-stroked-button class="col" *ngIf="userData.discord" matTooltip="Discord Profile" color="accent" (click)="openDiscordProfile()">
            <mat-icon class="me-2">chat</mat-icon>
            {{ userData.discord }}
          </button>
        </div>
        <div class="row py-3" *ngIf="panelData.length > 0">
          <app-material-expansion-panel [panelData]="panelData"></app-material-expansion-panel>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <app-report></app-report>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-material-tab (tableRowClicked)="openBerkas($event)" (paginatorClicked)="onPaginatorClicked($event)"
          [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"></app-material-tab>
      </div>
    </div>
  </div>
  <div class="profile-banner profile-banner-1 align-items-center" [style.background-image]="'url(' + userData.profile_.cover_url + ')'"></div>
  <div class="profile-banner profile-banner-2 align-items-center"></div>
</div>
