<div class="container" *ngIf="userData">
  <div class="profile-info align-items-center">
    <div class="row py-3 px-2">

      <!-- Information -->
      <div class="col-md-4 col-xl-3 px-3">
        <div class="row sticky-top pt-3">
          <div class="col-12 pt-4">
            <img class="profile-image" src="{{ userData.image_url }}" />
          </div>
          <div class="col-12 my-3">
            <mat-icon class="mx-1" matTooltip="{{ userData.role }}" *ngIf="userData.role === ADMIN" style="cursor: pointer;">handyman</mat-icon>
            <mat-icon class="mx-1" matTooltip="{{ userData.role }}" *ngIf="userData.role === MODERATOR" style="cursor: pointer;">security</mat-icon>
            <mat-icon class="mx-1" matTooltip="{{ userData.role }}" *ngIf="userData.role === FANSUBBER" style="cursor: pointer;">rate_review</mat-icon>
            <mat-icon class="mx-1" matTooltip="Terverifikasi" *ngIf="userData.verified" style="cursor: pointer;">verified</mat-icon>
            <mat-icon class="mx-1" matTooltip="Banned :: {{ userBanned.reason }}" *ngIf="userBanned" style="cursor: pointer;">lock</mat-icon>
            <mat-icon class="mx-1" matTooltip="{{ accountAge }} Years of Service" *ngIf="accountAge > 0" style="cursor: pointer;">military_tech</mat-icon>
            <mat-icon class="mx-1" matTooltip="Sharing is Caring" *ngIf="count > 0" style="cursor: pointer;">volunteer_activism</mat-icon>
            <mat-icon class="mx-1" matTooltip="Akun Private" *ngIf="userData.private" style="cursor: pointer;">sensor_occupied</mat-icon>
          </div>
          <div class="col-12" *ngIf="groupFansub.length > 0">
            <div class="row py-3">
              <div class="col-12 pt-3 sticky-top bg-bifeldy">
                <h2 class="border-bottom-dotted">
                  <b class="text-bifeldy">Group Fansub</b>
                </h2>
              </div>
              <div class="col-12" style="max-height: 288px;">
                <div class="h-100" style="overflow-y: auto;">
                  <mat-selection-list [multiple]="false">
                    <mat-list-option class="h-100" *ngFor="let f of groupFansub" routerLink="/fansub/{{ f.fansub_.slug }}">
                      <img matListAvatar src="{{ f.fansub_.image_url }}" class="ms-3" style="border-radius: 0;" />
                      <a class="text-truncate text-decoration-none">
                        <span class="bg-bifeldy px-2 me-1 text-warning" style="position: absolute; right: 0;">
                          {{ f.keterangan }}
                        </span>
                        <span class="text-success">{{ f.fansub_.slug }}</span>
                      </a>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="col-md-8 col-xl-9 pt-3">
        <div class="row py-3 px-0 profile-height-large">
          <h1 class="m-0 mt-auto">
            <b>{{ userData.kartu_tanda_penduduk_.nama }}</b>
          </h1>
        </div>
        <div class="row p-3">
          <button type="button" mat-stroked-button matLine class="col-12 col-md-4 text-truncate" *ngIf="userData.id" matTooltip="Nomor ID Pengguna" color="accent" style="overflow: hidden;">
            <mat-icon class="me-1">accessibility_new</mat-icon>
            {{ userData.id }}
          </button>
          <button type="button" mat-stroked-button matLine class="col-12 col-md-8 text-truncate" *ngIf="userData.created_at" matTooltip="Tanggal Bergabung" color="accent" style="overflow: hidden;">
            <mat-icon class="me-1">access_time</mat-icon>
            {{ userData.created_at | date:'d/M/yyyy, hh:mm:ss a z' }}
          </button>
          <button type="button" mat-stroked-button matLine class="col text-truncate" matTooltip="Alamat Surel" color="accent" style="overflow: hidden;">
            <mat-icon class="me-1">email</mat-icon>
            {{ userData.username }}@{{ ENV.domain }}
          </button>
        </div>
        <div class="row py-3" *ngIf="panelData.length > 0">
          <app-material-expansion-panel [panelData]="panelData"></app-material-expansion-panel>
        </div>
        <div class="row py-3" *ngIf="SS.mySocket?.id">
          <div class="col-12">
            <app-report></app-report>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-material-tab (tableRowClicked)="openBerkas($event)" (paginatorClicked)="onPaginatorClicked($event)"
          [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"></app-material-tab>
      </div>
    </div>
  </div>
  <div class="profile-banner profile-banner-1 align-items-center" [style.background-image]="'url(' + userData.profile_.cover_url + ')'"></div>
  <div class="profile-banner profile-banner-2 align-items-center"></div>
</div>
