/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 64, 129, 0.25);
}

::-webkit-scrollbar-thumb {
  background: #ff4081;
}

.form-control {
  background-color: #0000 !important;
}

.spacer {
  flex: 1 1 auto;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.mat-list-item-content.mat-list-item-content-reverse {
  padding: 0 !important;
}

.mat-tab-label-active {
  color: #ff4081;
  opacity: 1 !important;
}

.mat-tab-header {
  background-color: #303030 !important;
  position: sticky !important;
  top: 0;
  z-index: 1020;
}

.mat-tab-labels {
  padding-top: 0.25rem;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}

.border-bottom-dotted {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: dotted;
  border-color: #ff4081;
}

re-captcha > div {
  margin-left: auto !important;
  margin-right: auto !important;
}

.white-space-normal-important {
  white-space: normal !important;
}

.img-thumbnail {
  background-color: #dddddd;
}

.img-thumbnail:hover {
  border: 1px solid #69f0ae;
  background-color: #ff4081;
}

.bg-bifeldy-dark {
  background-color: #303030 !important;
}

.text-bifeldy-dark {
  color: #acacac !important;
}

.angular-editor-toolbar {
  background-color: transparent !important;
}