/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat.core();

// // Define the default theme (same as the example above).
// $light-primary: mat-palette($mat-indigo);
// $light-accent:  mat-palette($mat-purple);
// $light-warn: mat-palette($mat-deep-orange);
// $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$light-dark-warn: mat.define-palette(mat.$deep-orange-palette);

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$purple-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-dark-warn
  )
));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-accent: mat.define-palette(mat.$amber-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $light-dark-warn
  )
));

// Include the default theme styles (color and default density)
@include mat.all-component-themes($light-theme);

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.bifeldy-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.bifeldy-dark-theme {
  @include mat.all-component-themes($dark-theme);
}

.mat-gelap,
.mat-background-gelap > .mat-tab-header {
  background-color: #303030;
  color: #fafafa;
}

.mat-terang,
.mat-background-terang > .mat-tab-header {
  background-color: #fafafa;
  color: #303030;
}

.bifeldy-dark-theme .bg-bifeldy {
  background-color: rgb(48, 48, 48) !important;
}

.bifeldy-dark-theme .text-bifeldy {
  color: #ffffff !important;
}

.bifeldy-dark-theme .text-warning {
  color: #ffc107 !important;
}

.bifeldy-dark-theme .text-success {
  color: #69f0ae !important;
}

.bifeldy-dark-theme .mat-dialog-container {
  background-color: rgb(48, 48, 48) !important;
}

.bifeldy-dark-theme .gradient-border,
.bifeldy-dark-theme .mat-card,
.bifeldy-dark-theme .card {
  background: rgb(80, 80, 80, 0.875) !important;
}

.bifeldy-dark-theme .mat-row:not(.expanded-row, .detail-row) {
  &:hover {
    background-color: rgba(66, 66, 66, 0.875) !important;
  }
}

@media screen and (max-width: 992px) {
  .bifeldy-dark-theme .mat-table {
    .mat-row {
      background-color: rgba(66, 66, 66, 0.875) !important;
    }
  }
}

.bifeldy-dark-theme .shiny {
  background-image: linear-gradient(
    -45deg,
    #0000 33%,
    rgba(255,255,255,.75) 50%,
    #0000 66%
  );
  background-size: 500% 100%;
  animation: animatedshiny 2s infinite;
}

/* Custom SCSS Below */

* {
  scrollbar-color: #ff4081 #69f0ae;
  scrollbar-width: thin;
}

html, body {
  height: 100%;
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 999999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(245, 245, 245);
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms, visibility 500ms;
  .logo {
    width: 100px;
    height: 100px;
    background-image: url('/favicon.ico');
    background-position: center center;
    background-size: contain;
  }
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  bottom: -5px !important;
}

swiper
  > .swiper.s-wrapper.swiper-container-horizontal
  > .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-last,
swiper
  > .swiper.s-wrapper.swiper-container-horizontal
  > .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-first {
  margin: 0 !important;
}

swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-last,
swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-first {
  border: none !important;
}

.swiper-pagination-bullet-active {
  background: #e84360 !important;
}

.swiper-button-prev,
.carousel-control-prev-icon {
  // background-image: url("/assets/icon/chevron-left-white.svg") !important;
  left: 0 !important;
  // background-origin: content-box;
}

.swiper-button-prev:hover,
.carousel-control-prev-icon:hover {
  // background-image: url("/assets/icon/chevron-left-pink.svg") !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 0 !important;
  bottom: 0 !important;
  margin-top: 0 !important;
  // margin-bottom: 2rem;
  height: calc(100% - 2rem) !important;
  background-color: rgba($color: #ff4081, $alpha: 0.25) !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-clip: content-box;
}

.swiper-button-next,
.carousel-control-next-icon {
  // background-image: url("/assets/icon/chevron-right-white.svg") !important;
  right: -1px !important;
  // background-origin: content-box;
}

.swiper-button-next:hover,
.carousel-control-next-icon:hover {
  // background-image: url("/assets/icon/chevron-right-pink.svg") !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba($color: #ff4081, $alpha: 0.25) !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.carousel-control-prev {
  margin-left: 7.5%;
}

.carousel-control-next {
  margin-right: 7.5%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #69f0ae;
}

::-webkit-scrollbar-thumb {
  background: #ff4081;
}

.form-control {
  background-color: rgba(255, 255, 255, 0) !important
}

.spacer {
  flex: 1 1 auto;
}

.card,
.mat-card {
  background-color: rgba(255, 255, 255, 0.875) !important;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.mat-list-item-content.mat-list-item-content-reverse {
  padding: 0 !important;
}

.mat-tab-label-active {
  color: #ff4081 !important;
  opacity: 1 !important;
}

.mat-tab-header {
  position: sticky !important;
  top: 0;
  z-index: 1020;
}

.mat-tab-labels {
  padding-top: 0.25rem;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}

.border-bottom-dotted {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: dotted;
  border-color: #ff4081;
}

re-captcha > div {
  margin-left: auto !important;
  margin-right: auto !important;
}

.white-space-normal-important {
  white-space: normal !important;
}

.img-thumbnail {
  background-color: #dddddd;
}

.img-thumbnail:hover, .card:hover {
  border: 1px solid #69f0ae;
  background-color: #ff4081;
}

.bg-bifeldy {
  background-color: rgb(250, 250, 250);
}

.text-bifeldy {
  color: #000000;
}

.text-warning {
  color: #6610f2 !important;
}

.text-success {
  color: #28a745 !important;
}

.mat-dialog-container {
  background-color: rgb(250, 250, 250);
}

.angular-editor-toolbar {
  background-color: transparent !important;
}

.mat-drawer-backdrop.mat-drawer-shown,
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.75) !important;
  background-repeat: no-repeat !important;
  background-blend-mode: hard-light !important;
}

.mat-drawer-container.mat-drawer-container-has-open >
.mat-drawer-backdrop.mat-drawer-shown {
    background-position: left bottom !important;
    background-size: 50vh !important;
    background-image: url('/assets/img/router/bg-register.png') !important;
}

.mat-drawer-container.mat-drawer-container-explicit-backdrop >
.mat-drawer-backdrop.mat-drawer-shown {
    background-position: right bottom !important;
    background-size: 60vh !important;
    background-image: url('/assets/img/router/bg-login.png') !important;
}

.mat-drawer-transition .mat-drawer-backdrop {
  transition-duration: 500ms !important;
  transition-property: background, visibility !important;
}

#sourceText {
  background-color: #0000 !important;
}

.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button.active {
  background: #69f0ae !important;
}

.wb-body {
  background: #424242 !important;
}

.gradient-border {
  background: rgb(255, 255, 255, 0.875) !important;
  position: relative;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * 1px);
  left: calc(-1 * 1px);
  height: calc(100% + 1px * 2);
  width: calc(100% + 1px * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
  animation: animatedgradientborder 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradientborder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  animation: animatedgradientfont 3s ease alternate infinite;
}

@keyframes animatedgradientfont {
  0% {
    color: #f79533;
  }
  15% {
    color: #f37055;
  }
  30% {
    color: #ef4e7b;
  }
  45% {
    color: #a166ab;
  }
  60% {
    color: #5073b8;
  }
  75% {
    color: #1098ad;
  }
  90% {
    color: #07b39b;
  }
  100% {
    color: #6fba82;
  }
}

.rgb-border {
  --angle: 0deg;
  border: 1px solid;
  border-image: conic-gradient(
    from var(--angle),
    #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #2e2b5f, #8b00ff
  ) 1;
  animation: 3s animatedrgbborder linear infinite;
}

@keyframes animatedrgbborder {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.shiny {
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0) 33%,
    rgba(66,66,66,.75) 50%,
    rgba(0, 0, 0, 0) 66%
  );
  background-size: 500% 100%;
  animation: animatedshiny 2s infinite;
}

@keyframes animatedshiny {
  0% {
    background-position: right;
  }
}

.sakura {
  z-index: 999999999;
  pointer-events: none;
  position: absolute;
  background: linear-gradient(
    120deg,
    rgba(255, 183, 197, 0.75),
    rgba(255, 197, 208, 0.75)
  );
}

.snow {
  z-index: 999999999;
  pointer-events: none;
  position: absolute;
  background: linear-gradient(
    120deg,
    darkgray,
    lightgray
  ) !important;
  border-radius: 50% !important;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid #dc3545;
  border-bottom: 2px solid #dc3545;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  animation: mouse-scroll 1s infinite;
}

.unu {
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #dc3545;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #dc3545;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #dc3545;
  border-radius: 8px;
}

.wheel {
  animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.xng-breadcrumb-root, .xng-breadcrumb-trail {
  font-size: small !important;
  color: whitesmoke !important;
}

.xng-breadcrumb-link:hover {
  color: #ffc107 !important;
  text-decoration: none !important;
}

.xng-breadcrumb-list {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
  max-width: calc(100vw - 320px);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  li {
    display: inline-block;
    flex: 0 0 auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
