/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #69f0ae;
}

::-webkit-scrollbar-thumb {
  background: #ff4081;
}

.form-control {
  background-color: #0000 !important;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card {
  background-color: rgba(66, 66, 66, 0.875) !important;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.mat-list-item-content.mat-list-item-content-reverse {
  padding: 0 !important;
}

.mat-tab-label-active {
  color: #ff4081;
  opacity: 1 !important;
}

.mat-tab-header {
  background-color: rgba(48, 48, 48, 0.875) !important;
  position: sticky !important;
  top: 0;
  z-index: 1020;
}

.mat-tab-labels {
  padding-top: 0.25rem;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}

.border-bottom-dotted {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: dotted;
  border-color: #ff4081;
}

re-captcha > div {
  margin-left: auto !important;
  margin-right: auto !important;
}

.white-space-normal-important {
  white-space: normal !important;
}

.card {
  background-color: rgba(66, 66, 66, 0.875);
}

.img-thumbnail {
  background-color: #dddddd;
}

.img-thumbnail:hover, .card:hover {
  border: 1px solid #69f0ae;
  background-color: #ff4081;
}

.bg-bifeldy-dark {
  background-color: rgba(48, 48, 48, 0.875) !important;
}

.bg-bifeldy-light {
  background-color: rgba(66, 66, 66, 0.875) !important;
}

.text-bifeldy-dark {
  color: #acacac !important;
}

.angular-editor-toolbar {
  background-color: transparent !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: rgba(0, 0, 0, 0.75) !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.75) !important;
}

.text-success {
  color: #69f0ae !important;
}

#sourceText {
  background-color: #0000 !important;
}

.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button.active {
  background: #69f0ae !important;
}

.winbox {
  box-shadow: none !important;
}