/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 64, 129, 0.25);
}

::-webkit-scrollbar-thumb {
  background: #ff4081;
}

.spacer {
  flex: 1 1 auto;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.mat-list-item-content.mat-list-item-content-reverse {
  padding: 0 !important;
}

.mat-row {
  background-color: #fafafa;
}

.mat-tab-label-active {
  color: #ff4081;
  opacity: 1 !important;
}

.mat-tab-header{
  background-color: #fafafa !important;
  position: sticky !important;
  top: 0;
  z-index: 1020;
}

.mat-tab-labels {
  padding-top: 0.25rem;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}