<div *ngIf="router.url == '/home' || router.url == '/fansub' || router.url == '/anime' ||
  router.url == '/drama' || router.url == '/about' || router.url.includes('/anime?')">

  <!-- Home Banner (1920px * 128px)-->
  <div class="container-fluid notif-banner align-items-center" *ngIf="gs.bannerImg" [style.background-size]="gs.sizeContain ? 'contain' : 'cover'"
    [style.background-image]="'url(' + gs.bannerImg + ')'" [style.background-repeat]="gs.bgRepeat ? 'repeat-x' : 'no-repeat'">
    <!-- <div class="row align-items-center h-100">
      <div class="col-9 mx-auto text-light text-center" style="background-color: rgba(0, 0, 0, 0.25);">
        <button mat-icon-button class="mr-3">
          <mat-icon>arrow_back</mat-icon>
        </button>
        {{ selectedSeasonName.toUpperCase() }}
        <button mat-icon-button class="ml-3">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div> -->
  </div>

  <!-- Notification -->
  <div class="container">
    <div class="row pt-3">
      <div class="col-12" *ngFor="let n of notif.notifications; let i = index">
        <div class="alert alert-info alert-dismissible fade show">
          <strong class="mr-1">{{ n.title }}</strong>
          <span [innerHTML]="n.content"></span>
          <button type="button" class="close" data-dismiss="alert" (click)="removeNotif(i)">&times;</button>
        </div>
      </div>
    </div>
  </div>

</div>