<!-- Image Banner (1920px * 128px)-->
<div class="container-fluid notif-banner align-items-center"
  [style.background-size]="GS.sizeContain ? 'contain' : 'cover'"
  [style.background-image]="'url(' + GS.bannerImg + ')'"
  [style.background-repeat]="GS.bgRepeat ? 'repeat-x' : 'no-repeat'"
  [style.height]="(
    ROUTER.url === '/news' || ROUTER.url.includes('/news?') || 
    ROUTER.url === '/berkas' || ROUTER.url.includes('/berkas?') || 
    ROUTER.url === '/fansub' || ROUTER.url.includes('/fansub?')
  ) ? '192px' : '128px'"
  [style.background-position-y]="(
    ROUTER.url === '/berkas' || ROUTER.url.includes('/berkas?')
  ) ? '22.5%' : ''"
  *ngIf="GS.bannerImg && (
    ROUTER.url === '/news' || ROUTER.url.includes('/news?') || 
    ROUTER.url === '/berkas' || ROUTER.url.includes('/berkas?') || 
    ROUTER.url === '/fansub' || ROUTER.url.includes('/fansub?') ||
    ROUTER.url === '/anime' || ROUTER.url.includes('/anime?') ||
    ROUTER.url === '/dorama' || ROUTER.url.includes('/dorama?')
  )">
  <!-- <div class="row align-items-center h-100">
    <div class="col-9 mx-auto text-bifeldy text-center" style="background-color: rgba(0, 0, 0, 0.25);">
      <button type="button" mat-icon-button class="me-3">
        <mat-icon>arrow_back</mat-icon>
      </button>
      {{ selectedSeasonName.toUpperCase() }}
      <button type="button" mat-icon-button class="ms-3">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div> -->
</div>

<!-- Notification -->
<div class="container">
  <div class="row pt-3">
    <div class="col-12" *ngFor="let n of NOTIF.notifications; let i = index">
      <div class="alert alert-{{ n.notifData.type }} alert-dismissible fade show">
        <strong class="me-1">{{ n.notifData.title }}</strong>
        <span [innerHTML]="n.notifData.content | safeInnerHtml"></span>
        <strong class="ms-1" *ngIf="n.notifCreator">
          --
          <i>
            <a routerLink="/user/{{ n.notifCreator }}" class="text-decoration-none">
              {{ n.notifCreator }}
            </a>
          </i>
        </strong>
        <button type="button" class="btn-close" data-dismiss="alert" *ngIf="n.notifData.dismissible" (click)="removeNotif(n.notifData.id)"></button>
      </div>
    </div>
  </div>
</div>