<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">

  <!-- Detail -->
  <div class="row px-3">
    <div class="col-12">
      <form [formGroup]="fg" (submit)="onSubmit();" *ngIf="fg">
        <div class="row mt-3 mb-3">
          <div class="col-12 sticky-top bg-bifeldy">
            <h2 class="pt-3 border-bottom-dotted">
              <b class="text-bifeldy">Perbaharui Data Berita & Informasi Baru</b>
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-5 col-xl-4 p-3">
                <div class="row">
                  <div class="col-12">
                    <img class="w-100 border" [src]="image_url" />
                    <mat-form-field appearance="outline" class="pt-3 w-100" [color]="'accent'">
                      <mat-label>Gambar</mat-label>
                      <ngx-mat-file-input class="w-100" (change)="uploadImage($event, gambar)" #gambar [disabled]="fg.value.image"
                        [accept]="'image/gif, image/jpeg, image/jpg, image/png'"></ngx-mat-file-input>
                      <mat-icon matSuffix>image</mat-icon>
                    </mat-form-field>
                    <mat-error class="px-3 w-100">
                      <small>
                        <div *ngIf="imageLimitExceeded">Ukuran Upload Melebihi Batas {{ imageLimitExceeded | bytes }} !</div>
                        <div *ngIf="imageErrorText">{{ imageErrorText }}</div>
                      </small>
                    </mat-error>
                  </div>
                  <div class="col-12" *ngIf="image && !fg.value.image">
                    <button mat-raised-button class="w-100" color="primary" type="button" [disabled]="submitted" (click)="submitImage()">
                      <mat-icon class="me-1">add_photo_alternate</mat-icon>
                      Unggah
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-xl-8 pt-3">
                <div class="row">
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Judul</mat-label>
                    <input matInput formControlName="title" placeholder="Berita Terkini Blablabla ..." />
                    <mat-icon matSuffix>wysiwyg</mat-icon>
                    <mat-error>
                      <div *ngIf="fg.get('title').hasError('required')">Judul Berita Tidak Boleh Kosong</div>
                      <div *ngIf="fg.get('title').hasError('pattern')">Judul Berita Hanya Boleh Huruf Standar Papan Ketik</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'">
                    <mat-label>Tags & Kategori</mat-label>
                    <mat-chip-list #tag>
                      <mat-chip *ngFor="let t of fg.value.tags" (removed)="removeTag(t)" color="accent" selected [removable]="true">
                        {{ t }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Label Tag / Kategori" [matChipInputSeparatorKeyCodes]="GS.separatorKeysCodes"
                        [matChipInputFor]="tag" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />
                      <mat-icon matSuffix>loyalty</mat-icon>
                    </mat-chip-list>
                    <mat-hint align="end">Isi Dengan Bebas, Pisahkan Dengan Koma</mat-hint>
                  </mat-form-field>
                  <angular-editor class="p-3 w-100" formControlName="content" [config]="GS.angularEditorConfig"></angular-editor>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row gy-3">
                  <div class="col g-0"></div>
                  <div class="col-12 col-md-3">
                    <a mat-stroked-button routerLink="../" class="w-100" [disabled]="submitted">
                      <mat-icon class="me-1">undo</mat-icon>
                      Batal
                    </a>
                  </div>
                  <div class="col-12 col-md-3">
                    <button mat-flat-button color="accent" type="submit" class="w-100" [disabled]="submitted || fg.invalid">
                      Simpan
                      <mat-icon class="ms-1">save</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>