<h1 mat-dialog-title>{{ DATA.title }}</h1>
<div mat-dialog-content class="p-4" class="text-break text-warning">
  <mat-form-field appearance="outline" class="p-3 col-12" [color]="'accent'" *ngFor="let item of DATA.input | keyvalue">
    <mat-label>{{ item.value['inputLabel'] }}</mat-label>
    <input matInput [(ngModel)]="item.value['inputText']" placeholder="{{ item.value['inputText'] }}" />
    <mat-icon matSuffix>wysiwyg</mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <small *ngIf="DATA.infoText" class="text-start">
    <i>*{{ DATA.infoText }}</i>
  </small>
  <button mat-button [mat-dialog-close]="DATA.input" class="ms-auto text-success shiny">{{ DATA.confirmText }}</button>
  <button mat-button [mat-dialog-close]="false" *ngIf="DATA.cancelText">{{ DATA.cancelText }}</button>
</div>