<!-- Notification -->
<app-notifications></app-notifications>

<!-- Content -->
<div class="container">
  
  <!-- Detail -->
  <div class="row pb-3 px-0">
    <div class="col-12">
      <div class="row">
        <div class="col-12 sticky-top bg-bifeldy-{{ gs.isDarkMode ? 'dark' : 'light' }}">
          <h2 class="pt-3 border-bottom-dotted">
            <b class="text-bifeldy-{{ gs.isDarkMode ? 'dark' : 'light' }}">User Yang Terkena BAN</b>
          </h2>
        </div>
        <div class="col-12">
          <app-material-table [tableDataColumn]="bannedData.column" [tableDataRow]="bannedData.row" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)"
            (buttonClicked)="unBan($event)" (paginatorClicked)="onPaginatorClicked($event)" (serverSideOrder)="onServerSideOrder($event)" (rowClicked)="openBan($event)"></app-material-table>
        </div>
      </div>
    </div>
  </div>

</div>