<mat-tab-group class="px-0" dynamicHeight mat-stroked-button [color]="'accent'" [backgroundColor]="backgroundColor"
  [selectedIndex]="selectedIndexTab" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <mat-tab *ngFor="let tab of tabData">
    <div *ngIf="tab.type === 'html'">
      <ng-template mat-tab-label>
        <mat-icon class="me-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3" [innerHTML]="tab.data"></div>
    </div>
    <div *ngIf="tab.type === 'grid'">
      <ng-template mat-tab-label>
        <mat-icon class="me-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3" *ngIf="tab.data.length > 0">
        <mat-selection-list [multiple]="false" class="p-0">
          <mat-grid-list [cols]="GS.gridListBreakpoint" rowHeight="72px">
            <mat-grid-tile *ngFor="let d of tab.data">
              <mat-list-option (click)="onGridClicked(d)">
                <img matListAvatar src="{{ d.image }}" class="ms-3" style="border-radius: 0;" />
                <h4 matLine>{{ d.title }}</h4>
                <p matLine>{{ d.description }}</p>
              </mat-list-option>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-selection-list>
        <div class="col-12 text-center p-3" *ngIf="!gridPageFinished">
          <button mat-button (click)="onGridLoadNextPage()">Load More ...</button>
        </div>
      </div>
      <div class="p-3" *ngIf="tab.data.length <= 0"
        style="background-image: url('/assets/img/404-no-data.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 256px;">
        <div class="row align-items-center h-100">
          <div class="col-8 mx-auto text-light text-center rounded py-3" style="background-color: rgba(128, 128, 128, 0.875);">
            <h3 class="m-0">
              Tidak Ada Data ¯\_(ツ)_/¯
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tab.type === 'list'">
      <ng-template mat-tab-label>
        <mat-icon class="me-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3" *ngIf="tab.data.length > 0">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let d of tab.data" (click)="onListClicked(d)">
            <img matListAvatar src="{{ d.image }}" class="ms-3" style="border-radius: 0;" />
            <h4 matLine>{{ d.title }}</h4>
            <p matLine>{{ d.description }}</p>
          </mat-list-option>
        </mat-selection-list>
        <div class="col-12 text-center p-3" *ngIf="!listPageFinished">
          <button mat-button (click)="onListLoadNextPage()">Load More ...</button>
        </div>
      </div>
      <div class="p-3" *ngIf="tab.data.length <= 0"
        style="background-image: url('/assets/img/404-no-data.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 256px;">
        <div class="row align-items-center h-100">
          <div class="col-8 mx-auto text-light text-center rounded py-3" style="background-color: rgba(128, 128, 128, 0.875);">
            <h3 class="m-0">
              Tidak Ada Data ¯\_(ツ)_/¯
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tab.type === 'table'">
      <ng-template mat-tab-label>
        <mat-icon class="me-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3">
        <app-material-table [tableDataColumn]="tab.data.column" [tableDataRow]="tab.data.row" [count]="count" [serverSide]="serverSide" (serverSideFilter)="onServerSideFilter($event)"
          (buttonClicked)="onButtonClicked($event)" (chipClicked)="onChipClicked($event)" (rowClicked)="onTableRowClicked($event)" (paginatorClicked)="onPaginatorClicked($event)" (serverSideOrder)="onServerSideOrder($event)"></app-material-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-3">comment</mat-icon>
      <h3 class="m-0">Komentar</h3>
    </ng-template>
    <ng-template matTabContent>
      <div class="p-3">
        <app-discussion [rootCommentBox]="true"></app-discussion>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>