<mat-tab-group class="border rounded px-0" dynamicHeight mat-stroked-button [color]="'accent'" [backgroundColor]=""
  [selectedIndex]="selectedIndexTab" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <mat-tab *ngFor="let tab of tabData">
    <div *ngIf="tab.type == 'grid'">
      <ng-template mat-tab-label>
        <mat-icon class="mr-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3">
        <mat-selection-list [multiple]="false" class="p-0">
          <mat-grid-list [cols]="gridListBreakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">
            <mat-grid-tile *ngFor="let d of tab.data">
              <mat-list-option (click)="openData(d)">
                <img matListAvatar src="/favicon.ico" class="ml-3" />
                <h4 matLine>{{ d.title }}</h4>
                <p matLine>{{ d.description }}</p>
              </mat-list-option>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-selection-list>
      </div>
    </div>
    <div *ngIf="tab.type == 'list'">
      <ng-template mat-tab-label>
        <mat-icon class="mr-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let d of tab.data" (click)="openData(d)">
            <img matListAvatar src="/favicon.ico" />
            <h4 matLine>{{ d.title }}</h4>
            <p matLine>{{ d.description }}</p>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div *ngIf="tab.type == 'table'">
      <ng-template mat-tab-label>
        <mat-icon class="mr-3">{{ tab.icon }}</mat-icon>
        <h3 class="m-0">{{ tab.name }}</h3>
      </ng-template>
      <div class="p-3">
        <app-material-table [data]="tab.data"></app-material-table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>