<div class="container">
  <div class="anime-info align-items-center">
    <div class="media row py-3 px-2 d-flex">
      <div class="col-md-7 col-xl-9 pt-3 order-2 order-md-1">
        <div class="row py-3 px-0 mt-auto">
          <h1 class="m-0">
            <b>{{ title }}</b>
          </h1>
        </div>
        <div class="row py-3">
          <mat-chip-list>
            <mat-chip *ngFor="let genre of genres" color="warn" selected (click)="openMAL(genre.url)">{{ genre.name }}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="row py-3">
          <h3 class="m-0 text-justify">{{ description }}</h3>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <app-material-tab [tabData]="tabData"></app-material-tab>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-3 px-3 order-1 order-md-2">
        <div class="row sticky-top pt-3">
          <div class="col-12">
            <img class="border w-100" [src]="banner" />
          </div>
          <div class="col-12 text-center pt-3">
            <button mat-stroked-button class="w-100" color="primary" matTooltip="Lihat Semua Anime Musim Sekarang">
              <mat-icon>dynamic_feed</mat-icon> {{ episodes }} Eps &nbsp;
              <mat-icon>schedule</mat-icon> {{ status }}
            </button>
          </div>
          <div class="col-12 text-center pt-3">
            <button mat-stroked-button class="w-100" color="warn" matTooltip="Buka Ranking Di MyAnimeList"
              (click)="openMAL('https://myanimelist.net/topanime.php?limit=' + (rank - 1))">
              <mat-icon>star_half</mat-icon> {{ score }} &nbsp;
              <mat-icon>timeline</mat-icon> {{ rank }} &nbsp;
              <mat-icon>local_fire_department</mat-icon> {{ popularity }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="anime-banner anime-banner-1 align-items-center" [style.background-image]="'url(' + banner + ')'"></div>
  <div class="anime-banner anime-banner-2 align-items-center"></div>
  <button (click)="openMAL(url)" mat-fab class="mr-3 mb-5 mal-button"></button>
</div>
