<!-- Content -->
<div class="container" *ngIf="animeData">
  <div class="anime-info align-items-center">
    <div class="row py-3 px-2 d-flex">

      <!-- Data -->
      <div class="col-md-8 col-xl-9 pt-3 order-2 order-md-1">
        <div class="row py-3 px-0 mt-auto">
          <h1 class="m-0">
            <b>{{ animeData.alternative_titles?.ja || animeData.alternative_titles.en || animeData.title }}</b>
          </h1>
        </div>
        <div class="row py-3">
          <app-material-chip (chipClicked)="openGenre($event)" [chipData]="chipData"></app-material-chip>
        </div>
        <div class="row">
          <app-notifications class="px-0"></app-notifications>
        </div>
        <div class="row py-3">
          <app-material-expansion-panel [panelData]="panelData"></app-material-expansion-panel>
        </div>
      </div>

      <!-- Information -->
      <div class="col-md-4 col-xl-3 px-3 order-1 order-md-2">
        <div class="row sticky-top pt-3">
          <div class="col-12">
            <img class="w-100" [src]="animeData.image_url" />
          </div>
          <div class="col-12 text-center pt-3">
            <button mat-stroked-button class="w-100" color="accent" (click)="openSeasonalAnime()"
              matTooltip="Lihat Semua Anime Pada Musim '{{ SEASON }} {{ YEAR }}'">
              <mat-icon class="me-1">dynamic_feed</mat-icon> {{ animeData.num_episodes || '?' }} Eps &nbsp;
              <mat-icon class="me-1">star_half</mat-icon> {{ animeData.mean || '?' }} <br />
              <mat-icon class="me-1">date_range</mat-icon> {{ animeData.start_date || '?' }} ー {{ animeData.end_date || '?' }}
            </button>
          </div>
          <div class="col-12 text-center pt-3">
            <button mat-stroked-button class="w-100" color="warn" matTooltip="Buka Ranking Di MyAnimeList"
              (click)="openRank()">
              <mat-icon class="me-1">timeline</mat-icon> {{ animeData.rank || '?' }} &nbsp;
              <mat-icon class="me-1">local_fire_department</mat-icon> {{ animeData.popularity || '?' }} <br />
              <mat-icon class="me-1">label</mat-icon> {{ animeData.status?.split('_').join(' ').toUpperCase() || '?' }} - {{ animeData.media_type?.toUpperCase() }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-material-tab (gridClicked)="openFansub($event)" (tableRowClicked)="openFile($event)" (paginatorClicked)="onPaginatorClicked($event)"
          [tabData]="tabData" [count]="count" [serverSide]="true" (serverSideFilter)="onServerSideFilter($event)" (serverSideOrder)="onServerSideOrder($event)"
          [gridPageFinished]="fansubPageFinished" (gridLoadNextPage)="onFansubLoadNextPage()"></app-material-tab>
      </div>
    </div>
  </div>
  <div class="anime-banner anime-banner-1 align-items-center" [style.background-image]="'url(' + animeData.image_url + ')'"></div>
  <div class="anime-banner anime-banner-2 align-items-center"></div>
</div>
