<!-- Right Panel Content -->
<div class="sidenav_container">

  <div fxLayout="column">

    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>

    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>

    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>

    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>

    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>
    <p>right-panel works!</p>

  </div>

</div>
